
<table class="table table-striped table-hover">

	<thead class="status-title">
		<tr>
			<th colspan="5">
				{% trans "RabbitMQ queues" %}
				<small class="very-muted">({{ rabbitmq_queues|length }})</small>
			</th>
		</tr>
	</thead>
	<thead>
		<tr>
			<th>{% trans "Name" %}</th>
			<th>{% trans "Items" %}</th>
			<th>{% trans "Consumers" %}</th>
			<th>{% trans "Idle since" %}</th>
			<th>{% trans "Memory" %}</th>
		</tr>
	</thead>

	<tbody>
	{% for queue in rabbitmq_queues %}

		<tr>
			<td>{{ queue.name|title }}</td>
			<td>{% firstof queue.backing_queue_status.len ' ' %}</td>
			<td>{{ queue.consumers }}</td>
			<td>{{ queue.idle_since }}</td>
			<td>{{ queue.memory|naturalsize }}</td>
		</tr>

	{% endfor %}
	</tbody>

</table>
