{% load mathfilters %}

<div class="spacer25"></div>

<h2>{% trans "Web server information" %}</h2>
<div class="row">
	<div class="col-xs-5 col-sm-3 right muted">
		{% trans "hostname:" %}<br />
		{% trans "OS:" %}<br />
		{% trans "architecture:" %}
	</div>
	<div class="col-xs-7 col-sm-9 strong">
		{{ host_infos.system.hostname }}<br />
		{{ host_infos.os.name }} {{ host_infos.os.version }}<br />
		{{ host_infos.system.cpuArch }}{% if host_infos.system.numaEnabled %}{% trans "with NUMA" %}{% endif %}
		({% spaceless %}
		{% blocktrans count counter=host_infos.system.numCores %}
			{{ counter }} core
		{% plural %}
			{{ counter }} cores
		{% endblocktrans %}
		{% endspaceless %})
	</div>
</div>

{# —————————————————————————————————————————————————————————————————————————— #}

<div class="spacer25"></div>
<h2>{% trans "Used memories" %}</h2>
<div class="spacer10"></div>
<div class="row">
	<div class="col-xs-2 right muted">
		{% trans "RAM" %}
	</div>
	<div class="col-xs-8 col-sm-9">
		<div class="progress">
		  <div class="progress-bar progress-bar-danger popover-top"
		  		data-toggle="tooltip"
		  		title="{% blocktrans with percent=memory.active_pct|floatformat:-1 value=memory.raw.active|naturalsize %}Active memory: {{ percent }}% ({{ value}}){% endblocktrans %}"
		  		style="width: {{ memory.active_pct|safe }}%">
		  </div>
		  <div class="progress-bar progress-bar-warning popover-top"
		  		data-toggle="tooltip"
		  		title="{% blocktrans with percent=memory.inactive_pct|floatformat:-1 value=memory.raw.inactive|naturalsize %}Inactive memory: {{ percent }}% ({{ value}}){% endblocktrans %}"
		  		style="width: {{ memory.inactive_pct|safe }}%">
		  </div>
		  <div class="progress-bar progress-bar-info popover-top"
		  		data-toggle="tooltip"
		  		title="{% blocktrans with percent=memory.buffers_pct|floatformat:-1 value=memory.raw.buffers|naturalsize %}Buffers: {{ percent }}% ({{ value}}){% endblocktrans %}"
		  		style="width: {{ memory.buffers_pct|safe }}%">
		  </div>
		  <div class="progress-bar progress-bar-success popover-top"
		  		data-toggle="tooltip"
		  		title="{% blocktrans with percent=memory.cached_pct|floatformat:-1 value=memory.raw.cached|naturalsize %}Cache: {{ percent }}% ({{ value}}){% endblocktrans %}"
		  		style="width: {{ memory.cached_pct|safe }}%">
		  </div>
		  {% if memory.used_pct < 100 %}
		  <div class="progress-bar popover-top"
		  		data-toggle="tooltip"
		  		title="{% blocktrans with percent=memory.free_pct|floatformat:-1 value=memory.raw.free|naturalsize %}Free: {{ percent }}% ({{ value}}){% endblocktrans %}"
		  		style="width: {{ memory.free_pct|safe }}%">
		  </div>
		  {% endif %}
		</div>
	</div>
	<div class="col-xs-2 col-sm-1">
		{{ memory.raw.total|naturalsize }}
	</div>
</div>

{# —————————————————————————————————————————————————————————————————————————— #}

{# partitions_status is a list, already sorted by partition name by the view. #}
{% for partition, partinfo in partitions_status %}
<div class="row">
	<div class="col-xs-2 right strong">
		{{ partition.mountpoint }}
	</div>
	<div class="col-xs-8 col-sm-9">
		<div class="progress">
		  <div class="progress-bar popover-top"
		  		data-toggle="tooltip"
		  		title="{% blocktrans with percent=partinfo.percent|floatformat:-1 value=partinfo.used|naturalsize mntpt=partition.mountpoint %}Used space on {{mntpt}}: {{ percent }}% ({{ value}}){% endblocktrans %}"
		  		style="width: {{ partinfo.percent|safe }}%">
		  </div>
		  {% if partinfo.percent < 99 %}
		  <div class="progress-bar progress-bar-info popover-top"
		  		data-toggle="tooltip"
		  		title="{% blocktrans with percent=100.0|sub:partinfo.percent|floatformat:-1 value=partinfo.free|naturalsize %}Free: {{ percent }}% ({{ value}}){% endblocktrans %}"
		  		style="width: {{ 100.0|sub:partinfo.percent|safe }}%">
		  </div>
		  {% endif %}

		</div>
	</div>
	<div class="col-xs-2 col-sm-1">
		{{ partinfo.total|naturalsize }}
	</div>
</div>
{% endfor %}

{# —————————————————————————————————————————————————————————————————————————— #}

<div class="spacer15"></div>
<h2>{% trans "Management tools" %}</h2>

{% if FLOWER_URL or STATS_URL or SHELL_URL %}

	<div class="spacer15"></div>
	<div class="row">

		<div class="col-sm-2 right">
			<h4>{% trans "External tools" %}</h4>
		</div>

	  {% if FLOWER_URL %}

			<div class="col-sm-4">
	      <a href="{{ FLOWER_URL }}" class="btn btn-info centered">
	        {% trans "Workers management" %}&nbsp;
	        <span class="very-muted">
	          {% core_icon 'external-link' %}
	        </span>
	      </a>
			</div>

	  {% endif %}

	  {% if STATS_URL %}

			<div class="col-sm-4">
	      <a href="{{ STATS_URL }}" class="btn btn-info centered">
	        {% trans "Statistics" %}&nbsp;
	        <span class="very-muted">
	          {% core_icon 'external-link' %}
	        </span>
	      </a>
			</div>

	  {% endif %}

	  {% if SHELL_URL %}

	      <a href="{{ SHELL_URL }}" class="btn btn-info centered">
	        {% trans "Interactive shell" %}&nbsp;
	        <span class="very-muted">
	          {% core_icon 'external-link' %}
	        </span>
	      </a>

	  {% endif %}
	  </div>
	</div>

{% endif %}

{# —————————————————————————————————————————————————————————————————————————— #}

<div class="spacer15 clearfix"></div>
<div class="row">

	<div class="col-sm-2 right">
			<h4>{% trans "Web app. caches" %}</h4>
	</div>

	<div class="col-sm-2">
		<form data-async data-target="#clear_templates_cache_result"
		  	action="{% url 'admin_command' command='clear_templates_cache' %}">
			<input type="submit" class="btn btn-warning"
		    value="{% trans "Clear templates" %}" />
		</form>
		<span id="clear_templates_cache_result"></span>
	</div>

	<div class="col-sm-2">
	  <form data-async data-target="#clear_views_cache_result"
	      action="{% url 'admin_command' command='clear_views_cache' %}">
	    <input type="submit" class="btn btn-warning"
	        value="{% trans "Clear views" %}" />
	  </form>
	  <span id="clear_views_cache_result"></span>
	</div>

	<div class="col-sm-2">
	  <form data-async data-target="#clear_models_cache_result"
	      action="{% url 'admin_command' command='clear_models_cache' %}">
	    <input type="submit" class="btn btn-warning"
	        value="{% trans "Clear models" %}" />
	  </form>
	  <span id="clear_models_cache_result"></span>
	</div>

	<div class="col-sm-2">
	  <form data-async data-target="#clear_all_caches_result"
	      action="{% url 'admin_command' command='clear_all_caches' %}">
	    <input type="submit" class="btn btn-danger" data-toggle="tooltip"
	        title="{% trans "NOTE: your instance could be sluggish while caches reconstruct slowly" %}"
	        value="{% trans "Clear all" %}" />
	  </form>
	  <span id="clear_all_caches_result"></span>
	</div>

</div>
