{% load markdown_deux_tags %}

{% if gr_import.can_import %}

  {% if status == 'not_started' %}

    {% url "google_reader_import" as import_url %}

    <p>{% filter markdown %}{% blocktrans %}
You have been accepted in **1flow** BETA program!
  {% endblocktrans %}{% endfilter %}</p>
    <p>
      <a href=" {{import_url }}" class="btn btn-large btn-primary">
      {% trans "Import your Google Reader data" %}</a>
    </p>
    <p>{% blocktrans %}
        Note: after starting it, the import can take up to
        one minute before importing the first data.
    {% endblocktrans %}</p>

  {% elif status == 'running' %}

    <p>{% filter markdown %}{% blocktrans %}
Your Google Reader import has started {{ start }}.

{{ feeds }} feeds and {{ articles }} articles processed so far, {{ reads }} being read and {{ starred }} starred.

Average import speed: {{ speed }} article(s)/minute.

Approximative ETA: {{ ETA }}.
  {% endblocktrans %}{% endfilter %}
  <p>
  <p><small>{% filter markdown %}{% blocktrans %}
  [Consult help](#/help) for more information about this import procedure.
  {% endblocktrans %}{% endfilter %}</small></p>

  {% else %}

    <p>{% filter markdown %}{% blocktrans %}
Your Google Reader import finished {{ end }}, and took {{ duration }}.

{{ feeds }} feeds and {{ articles }} articles imported, {{ reads }} being read and {{ starred }} starred.
Average import speed: {{ speed }} article(s)/minute.

See you very soon for the upcoming features of **1flow**!
  {% endblocktrans %}{% endfilter %}</p>

  {% endif %}

{% else %}
  {% if gr_import.is_active %}
      <p>{% filter markdown %}{% blocktrans %}
Sorry, your beta invite has not yet been accepted, you cannot import
your Google Reader data into **1flow** yet.

This page will refresh itself automatically to inform you when your
BETA account has been activated. Just let this window open, or come back
in a few hours.
      {% endblocktrans %}{% endfilter %}</p>

  {% else %}
      <p>{% filter markdown %}{% blocktrans %}
Google Reader data import is not active anymore, either because
Google Reader is officially closed or because we reached the limits
of **1flow** BETA program. Sorry!
      {% endblocktrans %}{% endfilter %}</p>


  {% endif %}

{% endif %}
