{% if config.WEB_CDNS_ENABLE %}

    <link rel="stylesheet" type="text/css"
        href="//cdn.jsdelivr.net/pnotify/1.2/jquery.pnotify.default.css" />

{% else %}

    <link rel="stylesheet" type="text/css"
        href="{{ STATIC_URL }}/vendor/pnotify/1.2/jquery.pnotify.default.css" />

{% endif %}

{% comment %}
    <link rel="stylesheet" type="text/css"
        href="http://fonts.googleapis.com/css?family=Bitter:300,400" />

    <link rel="stylesheet" type="text/css"
        href="http://fonts.googleapis.com/css?family=Lato:300,400" />

    <!-- ,700,900,300italic,400italic,700italic,900italic -->
{% endcomment %}

{# TODO: include this in PIPELINE if possible #}
