<!-- navbar-static-top -->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'home' %}">
          <span class="{% reverse_active 'home' %}">
            <span class="hidden-xs">
              1flow <span class="badge badge-warning">BETA</span>
            </span>
            <span class="visible-xs">
              1flow <span class="badge badge-warning">β</span>
            </span>
          </span>
        </a>
      </div>

      {% if user.is_authenticated %}
        <ul class="nav navbar-nav navbar-right">

          {# nowrap is necessary, else the username gets to next line on Safari+iPad@portrait #}
          <li class="dropdown nowrap">
            <a class="dropdown-toggle {% reverse_active 'profile' %} {% reverse_active 'preferences' %}"
                data-toggle="dropdown" href="#">

              {% if mongodb_user.avatar_url %}
                <span class="avatar-frame">
                  <img src="{{ mongodb_user.avatar_url }}" />
                </span>
              {% else %}

                {# We use align-icon-phone to align the icon correctly on the baseline. #}
                <span class="align-icon-phone"><i class="icon-user"></i></span>
              {% endif %}

              <span class="hidden-inline-xs">
                {{ user.username }}
                <b class="caret"></b>
              </span>
            </a>
            <ul class="dropdown-menu">
              <li class=" {% reverse_active 'preferences' %}">
                <a href="{% url 'preferences' %}">{% trans 'Preferences' %}</a>
              </li>
              <li class=" {% reverse_active 'profile' %}">
                <a href="{% url 'profile' %}">{% trans 'Account' %}</a>
              </li>

            {% if user.is_superuser and preferences.staff.super_powers_enabled %}

              <li class="divider"></li>
              <li><a href="/admin/constance/config/"
                    target="_blank">{% trans 'Constance config.' %}</a></li>
              <li><a href="/admin/" target="_blank">{% trans 'Django admin.' %}</a></li>
              <li><a href="/translate/" target="_blank">{% trans '1flow translations' %}</a></li>
            {% endif %}

              <li class="divider"></li>
              <!--<li><a href="{% url 'signout' %}">{% trans 'Sign Out' %}</a></li>-->
              <li><form id="signout-from-menu-form" method="POST" class="form"
                  action="{% url "signout" %}">
                {% csrf_token %}</form><a href="#"
                  onclick="$('#signout-from-menu-form').submit()">{% trans 'Sign Out' %}</a></li>
            </ul>
          </li>
        </ul>

      {% else %}
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'signin' %}">{% trans 'Sign in' %}</a></li>
        </ul>

      {% endif %}

      <ul class="nav navbar-nav">
        {% if user.is_authenticated and wizards.welcome_beta_shown %}

          <li class="nowrap hidden-inline-block-xs">
            {% if preferences.home.read_shows == 1 %}
                <a href="{% url 'read' %}"
            {% else %}
                <a href="{% url 'source_selector' %}"
            {% endif %}
                {% captureas read_url_i18n %}/{% trans "read" context "verb" %}/{% endcaptureas %}
                class="{% active read_url_i18n %}">
              {% trans 'Read' %}
            </a>
          </li>

          <!--
          <li class="nowrap hidden-xs">
                <a href="{% url 'read' %}" class="">
              {% trans 'Write' %}
            </a>
          </li>
          <li class="nowrap hidden-xs">
                <a href="{% url 'read' %}" class="">
              {% trans 'Collaborate' %}
            </a>
          </li>
          -->

          <!-- HIDDEN everywhere. Intended, because it doesn't work yet. -->
          <li class="invisible">
              <form>
                <input class="search"
                    placeholder="{% trans 'Search…' %}" />
              </form>
          </li>

        </ul>
        <ul class="nav navbar-nav navbar-right">


          {% if user.is_staff or user.is_superuser %}
            {# Life or Death: do not hide, even if not super_powers_enabled #}

            {% if MAINTENANCE_MODE %}
              <li>
                <a href="#" disabled="disabled">
                  <span class="badge badge-warning badge-beta"><i
                      class="icon-cogs"></i> {% trans "Maintenance" %}</span>
                </a>
              </li>

            {% endif %}

            {% if preferences.staff.super_powers_enabled %}

              <li id="system-informations" class="hidden-inline-block-xs"><a href="#"
                data-toggle="popover" data-placement="bottom"
                data-original-title="System Informations" data-html="true"
                data-content="
              <table class='table table-hover table-stripped table-condensed'>
                <!--<thead>
                  <tr>
                    <th>Setting</th>
                    <th>Value</th>
                  </tr>
                </thead>-->
                <tbody>
                  <tr>
                    <td>PostgreSQL</td>
                    <td>{{settings.DATABASES.default.HOST}}
                      <strong>{{settings.DATABASES.default.NAME}}</strong></td>
                  </tr>
                  <tr>
                    <td>MongoDB</td>
                    <td>{{settings.MONGODB_HOST}}
                      <strong>{{settings.MONGODB_NAME}}</strong></td>
                  </tr>
                  <tr>
                    <td>Mongo Archive</td>
                    <td>{{settings.MONGODB_HOST_ARCHIVE}}
                      <strong>{{settings.MONGODB_NAME_ARCHIVE}}</strong></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>"
                >v{{ VERSION }}</a></li>

                <script type="text/javascript">
                $(document).ready(function(){
                  $("#system-informations").popover();
                });
                </script>

              <li>
                <a href="{% url 'preference_toggle' base='staff' sub='super_powers_enabled' %}">
                  <span class="badge badge-warning">

            {% else %}

              <li style="opacity: 0.1">
                <a href="{% url 'preference_toggle' base='staff' sub='super_powers_enabled' %}">
                  <span class="badge muted">

            {% endif %}{# superpowers #}

                    <i class="icon-bolt"></i>
                  </span>
                </a>
              </li>

          {% endif %}{# superuser #}

          <li class="nowrap visible-xs">
            {% if preferences.home.read_shows == 1 %}
                <a href="{% url 'read' %}"
            {% else %}
                <a href="{% url 'source_selector' %}"
            {% endif %}
                class="{% reverse_active 'read' %} align-icon-phone-lower">
              <i class="icon-rss icon-2x"></i>
            </a>
          </li>

          <li class="visible-xs nowrap">
            <a href="{% url 'help' %}"
                class="{% reverse_active 'help' %} align-icon-phone">
              <i class="icon-question icon-2x"></i>
            </a>
          </li>

          <li class="hidden-xs nowrap">
            <a href="{% url 'help' %}"
                class="{% reverse_active 'help' %}">
              {% trans 'Features' %}
            </a>
          </li>

        {% else %}
          <!--
            <li><a href="#">{% trans 'About' %}</a></li>
            <li><a href="#">{% trans 'Contact' %}</a></li>
          -->

        {% endif %}
      </ul>

    </div><!-- .container -->
  </div><!--/.navbar-inner -->
</div><!--/.navbar -->
