<!-- navbar-static-top -->
<div class="navbar navbar-{{ config.WEB_THEME_NAVBAR_INVERSE|yesno:"inverse,default"}} navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
          data-target="#navbar-collapsible-content">
        <span class="sr-only">{% trans "Toggle navigation" %}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="{% url 'home' %}">
        <span class="{% reverse_active 'home,source_selector' %}">
          1flow
        </span>
      </a>
    </div>

    <div class="collapse navbar-collapse"
        id="navbar-collapsible-content">

      {% include "snippets/navbar/usermenu.html" %}

      <ul class="nav navbar-nav">

        {% if user.is_authenticated and wizards.welcome_beta_shown %}

          <li class="nowrap hidden-xs">
            <a href="{% url 'sources_list' %}" class="">
              {% trans 'Sources' %}
            </a>
          </li>

          <li class="nowrap">
            {% include "snippets/navbar/read-link.html" %}
          </li>

          {% comment %}
          <li class="nowrap hidden-xs">
                <a href="{% url 'read' %}" class="">
              {% trans 'Write' %}
            </a>
          </li>
          <li class="nowrap hidden-xs">
                <a href="{% url 'read' %}" class="">
              {% trans 'Collaborate' %}
            </a>
          </li>
          {% endcomment %}

          {% include "snippets/navbar/search.html" %}

        </ul>

        <ul class="nav navbar-nav navbar-right">

        {% include "snippets/navbar/staff-items.html" %}

          <li class="nowrap">
            <a href="{% url 'help' %}"
                class="{% reverse_active 'help' %}">
              {% trans 'Features' %}
            </a>
          </li>

        {% endif %}
      </ul>

    </div><!-- .collapsible -->
  </div><!-- .container -->
</div><!--/.navbar -->
