{% load markdown_deux_tags %}
{% handlebars "help" %}
  <div class="container-fluid">
    <div class="row-fluid">
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div class="span8 offset2">
        <h1>{% trans "1flow minimal help" %}</h1>
      </div>
      <div class="span4 offset2">
        <p>{% filter markdown %}{% blocktrans %}
## Google Reader import

This import takes places in the background. You can safely disconnect from
**1flow** or close your brower window and come back later.

Obviously, importing your data will take longer if many users import their
own data at once. We have finites computing resources.

This import status is updated every 5 seconds.

The real number of imported articles will be less than the
processed ones, due to some duplicates present on Google Reader.

About the approximative ETA… Well… Given the nature of the data we fetch
from Google, it's **very** approximative. Don't rely on it, we don't do.
The import will probably end before the ETA.
{% endblocktrans %}{% endfilter %}</p>
      </div>
      <div class="span4">
          <p>{% filter markdown %}{% blocktrans %}
## Reaching us

If you need to reach real people, you can use:

- the **feedback form** (on the right), which links to our help forums,
- the **chat** widget, to which we are connected in real time (it's not a robot!).

Note: If you use twitter to contact us, please be patient: we use it primarily
for publishing informations and don't read it very regularly.
{% endblocktrans %}{% endfilter %}</p>
      </div>
    </div>
  </div>
{% endhandlebars %}
