{% load markdown_deux_tags %}
{% handlebars "help" %}
  <div class="container-fluid">
    <div class="row-fluid">
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div class="span7 offset2">
        <div class="about">
          <div class="hero-unit">
            <h1>{% trans "1flow minimal help" %}</h1>
            <p>{% filter markdown %}{% blocktrans %}
We are so sorry: this is the main help page, but as we still didn't reach the beta status,
there is currently no fully-featured content.

But if you really *need* help, or to reach real people, you still have:

- the **feedback form** (on the right), which links to our help forums,
- the **chat** widget, to which we are connected in real time (it's not a robot!).

Note: you should not use our twitter feed to contact us: we use it primarily for publishing informations and don't read it that much.
            {% endblocktrans %}{% endfilter %}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endhandlebars %}
