# Django's collectstatic
/static
.pipcache

# Jenkins reports
/reports

/MAINTENANCE_MODE
/celerybeat-schedule
/celerybeat.pid
/celery.states*
.ipynb_checkpoints


# PIP local installs
/src

*.mo
*.pyc
*.pyo
*.pye
*.log
*~

.sass-cache
