# Django's collectstatic
/static

# Jenkins reports
/reports

/MAINTENANCE_MODE
/celerybeat-schedule
/celerybeat.pid
/celery.states*


# PIP local installs
/src

*.ipynb
*.mo
*.pyc
*.pyo
*.pye

.sass-cache
