

<form action="{{ position_url }}" method="POST" role="form" class="inline">
	{% csrf_token %}
	<input type="hidden" name="position" value={{ obj.position|add:-1 }} />
	<button type="submit" class="btn btn-info btn-xs"
		title="{% trans "Move this entry up" %}"
		{% if position_first %}disabled="disabled"{% endif %}>
		<i class="icon icon-chevron-up"></i>
	</button>
</form>

<form action="{{ position_url }}" method="POST" role="form" class="inline">
	{% csrf_token %}
	<input type="hidden" name="position" value={{ obj.position|add:1 }} />
	<button type="submit" class="btn btn-info btn-xs"
		title="{% trans "Move this entry down" %}"
		{% if position_last %}disabled="disabled"{% endif %}>
		<i class="icon icon-chevron-down"></i>
	</button>
</form>
