
	<form class='form btn-group' method="get"
			style="display: inline-block; margin-left: 3em">
		<div class="input-group">
	      <div class="input-group-addon">{% core_icon "filter" False %}</div>
		<input type="text" accesskey="f" name='filter'
			value="{% if filter %}{{ filter }}{% endif %}" class="form-control input-sm"
			placeholder="{% trans "Filter…" %}" />
	      <!--<div class="input-group-addon">.00</div>-->
	    </div>

	</form>

	<div class="btn-group" style="margin-left: 25px;">
	<a href="?filter=type:rss"
		class="btn btn-default btn-sm">{% core_icon "RssAtomFeed" False %}</a>
	<a href="?filter=type:twitter"
		class="btn btn-default btn-sm">{% core_icon "TwitterFeed" False %}</a>
	<a href="?filter=type:mail"
		class="btn btn-default btn-sm">{% core_icon "MailFeed" False %}</a>

		{% comment %}
			<button id="form-collapser" class="btn btn-primary">{% trans "Add new" False %}</button>

		{% endcomment %}
	</div>

<div class="btn-group" role="group">

	{% include "snippets/toolbars/filter/more-dropdown.html" with dupes=True active=True %}
	{% include "snippets/toolbars/filter/reset.html" with in_group=True margin_fix=True %}

</div>

	<div class="btn-group">

		{% comment %}
			<button id="form-collapser" class="btn btn-primary">{% trans "Add new" %}</button>

		{% endcomment %}
	</div>
