{% extends 'home.html' %}
{% block title %}{% trans "Add a subscription" %}{% endblock title %}
{% block body_id %}add-subscription{% endblock body_id %}

{% block application_content %}

<div class="spacer50"></div>
<div class="row-fluid">
	<div class="hero-unit span6 offset3">

{% url 'source_selector' as sel_url %}
{% url 'add_subscription' as add_url %}

{% if feed %}

	{% with feed_name=feed.name %}

		{% if already_created %}

			{% if subscription %}

				<h1>{% trans "Success" %}</h1>
				<div class="spacer25"></div>

				{% with sub_id=subscription.id sub_name=subscription.name %}
				    
					{% if already_subscribed %}
					
						<p>{% blocktrans %}
							You were already subscribed to <em>{{sub_name}}</em>, all is well.</p><p>
							You can close this window/tab, or <a href="{{sel_url}}#{{sub_id}}">go straight to your subscription</a>.
						{% endblocktrans %}</p>

					{% else %}

						<p>{% blocktrans %}
							You are now subscribed to <em>{{sub_name}}</em>.</p><p>
							You can close this window/tab, or <a href="{{sel_url}}#{{sub_id}}">display it in your source selector</a>.
						{% endblocktrans %}</p>

					{% endif %}

				{% endwith %}

			{% else %}

				<h1>{% trans "Bummer!" %}</h1>
				<div class="spacer25"></div>

				<p>{% blocktrans %}

					The feed <em>{{feed_name}}</em> already existed in 1flow, but <strong>we were not able to subscribe yourself to it</strong>. We are sorry for that.</p><p>
					Developers have been notified of the failure and will either subscribe you manually, or get in touch with you to get more information.</p><p>
					Hoping this is a temporary problem in our infrastructure, you can try to <a href="{{add_url}}">re-suscribe to it manually from the dedicated page</a> in a moment.

				{% endblocktrans %}</p>

				{% if sub_exc %}
					<p>{% blocktrans %}
    					For the record, if that means anything to you, the exact error is: <code>{{sub_exc}}</code>.
					{% endblocktrans %}</p>
				{% endif %}

			{% endif %}

		{% else %}

			{% if subscription %}

				<h1>{% trans "Success" %}</h1>
				<div class="spacer25"></div>

				{% with sub_id=subscription.id sub_name=subscription.name %}
			    
					<p>{% blocktrans %}
						The feed <em>{{feed_name}}</em> has been registered in 1flow, and you are now subscribed to it.</p><p>

						Thanks for your contribution to the 1flow community!</p><p>

						You can close this window/tab, or <a href="{{sel_url}}#{{sub_id}}">display the feed in your source selector</a>.
					{% endblocktrans %}</p>

				{% endwith %}

			{% else %}

				<h1>{% trans "Bummer!" %}</h1>
				<div class="spacer25"></div>

				<p>{% blocktrans %}

					We were able to register the feed <em>{{feed_name}}</em> in 1flow, but not to subscribe yourself to it. We are sorry for that.</p><p>
					Developers have been notified of the failure and will either subscribe you manually, or get in touch with you to get more information.</p><p>
					Alternatively, you can try to <a href="{{add_url}}">re-suscribe to it manually from the dedicated page</a>, searching for it in 1flow sources.

				{% endblocktrans %}</p>

				{% if sub_exc %}
					<p>{% blocktrans %}
    					For the record, if that means anything to you, the exact error is: <code>{{sub_exc}}</code>.
					{% endblocktrans %}</p>
				{% endif %}

			{% endif %}

		{% endif %}

	{% endwith %}

{% else %}

	<h1>{% trans "Doomed!" %}</h1>
	<div class="spacer25"></div>

	<p>{% blocktrans %}

		We were not able to register the feed in 1flow, thus not subscribe yourself to it either. There must be a serious problem.</p><p>
		Some feed URLs lie in automatically generated web pages, but do not exist in reality. This could be the reason. Or not.</p><p>
		Anyway, developers have been notified of the failure and will try to subscribe you manually, or get in touch with you to get more information.</p><p>
		We are very sorry for the inconvenience.</p><p>

		You can close this window/tab, or <a href="{{sel_url}}">head up to your source selector</a>.

	{% endblocktrans %}</p>

	{% if feed_exc %}
		<p>{% blocktrans %}
			For the record, if that means anything to you, the exact error is: <code>{{feed_exc}}</code>.
		{% endblocktrans %}</p>
	{% endif %}

{% endif %}
</div>
</div>
{% endblock application_content %}
