{% load markdown_deux_tags %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <title>1flow – {% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Olivier Cortès <oc@1flow.io>">

    {% compressed_css 'bootstrap-responsive' %}
    {% compressed_css 'font-awesome' %}

    <!--[if IE 7]>
      {% compressed_css 'font-awesome-ie7' %}
    <![endif]-->
    {# HTML5 shim, for IE6-8 support of HTML5 elements #}
    <!--[if lt IE 9]>
      {% js 'js/html5shiv.js' %}
    <![endif]-->

    {% django_js_init %}
    {% block extrajs_header %}{% endblock extrajs_header %}
  </head>
  <body>
    {% block body %}{% endblock body %}

    {% compressed_js 'bootstrap' %}

    <script type="text/javascript">
      $('a.link-tooltip').tooltip();
      try {
          $("#lang-flags input[type=image]").tooltip({placement: 'bottom'});
      } catch(err) {};
    </script>

    {% block extrajs_footer %}{% endblock extrajs_footer %}

    {% if not debug %}
      {% include 'snippets/userecho.html' %}
      {% if user.is_anonymous or not user.is_staff and not user.is_superuser %}
        {% include 'snippets/google-analytics.html' %}
      {% endif %}
    {% endif %}
  </body>
</html>
