
<footer id="footer" class="footer">
  {% include "snippets/copyrights-and-licenses.html" %}

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <h3 class="footer-title"><a href="/">1flow</a>
          <small><a href="https://github.com/1flow/1flow/releases/tag/1flow-{{ oneflow_version }}" data-toggle="tooltip"
            title="{% trans "Show the source code of this version" %}">version {{ oneflow_version }}</a></small>
        </h3>
      </div>
      <div class="col-xs-12 col-md-8 footer-right">
        <a href="#" data-toggle="modal"
            data-target="#copyrights-and-licenses">{% trans "1flow is libre software" %}</a>.
            <a href="https://github.com/1flow/1flow" data-toggle="tooltip"
            title="{% trans "Show / Fork this project on Github" %}">{% trans "Contribute" %}&nbsp;<i class="icon-github"></i></a>
      </div>
    </div>
  </div>
</footer>
