<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>1flow – {% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    {# See http://1flow.io/fr/lire/524db8f2a246390954b5e73e/ #}
    <meta name="msmobile-web-app-capable" content="yes" />
    <link type="text/plain" rel="author" href="http://1flow.io/humans.txt" />
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}img/favicon.png" />

    {% include "base_header.html" %}

    {% block extrajs_header %}{% endblock extrajs_header %}
  </head>
  <body id="{% block body_id %}{% endblock body_id %}" {% block body_data %}{% endblock body_data %} class="acceptable-scrollbars" onload="loadScrollForHash()">
    {% block navbar %}
      {% if user.is_superuser %}
        {# Never cache the navbar for admins, we must know about maintenance mode #}
        {% include 'snippets/navbar.html' %}
        {% include 'snippets/help-arrows.html' %}

      {% else %}
        {% cache 86400 home_navbar user %}
          {% include 'snippets/navbar.html' %}
          {% include 'snippets/help-arrows.html' %}
        {% endcache %}

      {% endif %}
    {% endblock navbar %}

    {% block body %}{% endblock body %}

    {# 20130130: is it still usefull here ? #}
    {% csrf_token %}

    {% block extrajs_footer %}{% endblock extrajs_footer %}

    {# HOW UGLY IS THIS… When calling a function would be so simple… #}
    {% captureas user_echo_page %}{% reverse_active 'home' %}{% reverse_active 'source_selector' %}{% reverse_active 'profile' %}{% reverse_active 'help' %}{% endcaptureas %}

    {% comment %}
        Caching the user_echo block is not easy.
        It would depend on user_echo_page, would require
        a dedicated template tag which would probably
        anihilate the cache benefit.
    {% endcomment %}

    {% if not debug and user_echo_page %}
      {% include 'snippets/userecho.html' %}
      {% if user.is_anonymous or not user.is_superuser %}
        {% include 'snippets/google-analytics.html' %}
      {% endif %}
    {% endif %}

    {% block base_footer %}
      {% include "base_footer.html" %}
    {% endblock base_footer %}

  </body>
</html>
