{% extends 'home.html' %}

{% block title %}{% trans 'Features' %}{% endblock title %}
{% block body_id %}help{% endblock body_id %}
{% block body_data %}data-spy="scroll" data-target="#sidebar"{% endblock body_data %}

{% block application_header %}
    <header class="subhead">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1 col-ld-8 col-ld-offset-2">
          <h1>{% trans "1flow features," %}</h1>
          <h2>{% trans "frequently asked questions, and how to get the most of the app." %}</h2>
        </div>
      </div>
    </div>
  </header>
{% endblock application_header %}

{% block application_content %}

    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1 col-ld-8 col-ld-offset-2">
        <div class="row">
          <div class="hidden-xs col-md-3" id="sidebar">
            <ul class="nav nav-list side-nav affix-top" data-spy="affix" data-offset-top="200">
              <li><h3>{% trans "Table of contents" %}</h3></li>
              {% for section in help_sections %}
                <li><a href="#{{ section.slug }}">{{ section.name }}</a></li>
              {% endfor %}
            </ul>
          </div>

          <div class="col-md-9" id="help-sections">
              {% for section in help_sections %}
<a id="{{ section.slug }}"></a>
{% if debug and user.is_superuser %}
  <span class="pull-left help-admin-edit"><a href="/admin/core/helpcontent/{{section.id}}" target="_blank"><i class="icon-cog"></i>{% blocktrans with section_name=section.name %}
      Edit <em>{{ section_name }}</em> in admin.
  {% endblocktrans %}</a></span>
{% endif %}
{% filter markdown %}
## {{section.name}}

{{ section.content }}

{% endfilter %}
              {% endfor %}
          </div><!-- span9 -->
        </div><!-- .row-fluid -->
      </div><!-- span8 offset2 -->
    </div><!-- .row-fluid -->
    <div class="row-fluid">
      <div class="span12 spacer100"> </div>
    </div>
{% endblock application_content %}

{% block extrajs_footer %}
    {{ block.super }}
    {% compressed_js 'core' %}
{% endblock extrajs_footer %}
