{% extends 'base.html' %}

{% block body_id %}home{% endblock body_id %}

{% block title %}{% trans 'Home' %}{% endblock title %}

{% block body %}

{% include 'snippets/navbar.html' %}

  <div class="container-fluid">
    <div class="row-fluid">
      <div id="notifications" class="span10 offset1 centered"></div>
    </div>
    {% block application_content %}

        {% if wizards.show_all and not wizards.welcome_beta %}
          {% include 'snippets/wizards/welcome-beta/welcome-beta.html' %}

        {% else %}
            { SHOW SUBSCRIPTIONS HERE }

        {% endif %}
    {% endblock application_content %}
  </div>

{% endblock body %}

{% block extrajs_footer %}

    {# NOTE: order matters. #}
    {% compressed_js 'vendor-all' %}
    {% compressed_js 'core' %}

    {% csrf_token %}

    {# This must stay here (in the template) to get the server-side language. #}
    <script type="text/javascript">
        moment.lang('{{ LANGUAGE_CODE }}');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            crossDomain: false,
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken",
                        $("input[name='csrfmiddlewaretoken']").val());
                }
            }
        });
    </script>

{% endblock extrajs_footer %}
