{% extends 'base.html' %}

{% block body_id %}home{% endblock body_id %}

{% block title %}{% trans 'Home' %}{% endblock title %}

{% block extrajs_header %}
  <script type="text/javascript">
    var url_root = '{{ request.META.SCRIPT_NAME }}';
  </script>
{% endblock extrajs_header %}

{% block body %}
{% include 'ember/main.html' %}
{% include 'ember/views/index.html' %}
{% include 'ember/views/reads.html' %}
{% include 'ember/views/teams.html' %}
{% include 'ember/views/subscriptions.html' %}
{% include 'ember/views/discovery.html' %}
{% include 'ember/views/profile.html' %}
{% include 'ember/views/help.html' %}
{% endblock body %}

{% block extrajs_footer %}

    {# NOTE: emberpie_js includes jQuery. #}
    {% emberpie_js %}

    {% compressed_js 'bootstrap' %}
    {% compressed_js 'showdown' %}
    {% compressed_js 'moment' %}
    {% compressed_js 'utils' %}
    {% compressed_js 'core' %}

    {# This must stay here (in the template) to get the server-side language. #}
    <script type="text/javascript">
        moment.lang('{{ LANGUAGE_CODE }}');
    </script>

    {% if has_google and gr_import.can_import %}
        <script type="text/javascript">
            function update_gri_status() {
                try {
                    $.get("{% url 'google_reader_import_status' %}", function(data){
                        $('#google-reader-import-status').html(data);

                        if (data.indexOf("{% trans "finished" %}") >= 0
                            || data.indexOf("{% trans "Import your" %}") >= 0
                            || data.indexOf("{% trans "not active anymore" %}") >= 0) {
                            clearInterval(gri_interval);
                        }
                    });
                } catch (err) {
                    // just don't crash the JS in the browser.
                }
            }

            update_gri_status();

            var gri_interval = setInterval(update_gri_status, 5000);
        </script>
    {% endif %}

    {% csrf_token %}

    <script type="text/javascript">
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            crossDomain: false,
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {

                    //console.log('Set CSRF Token to ' + $("input[name='csrfmiddlewaretoken']").val());

                    xhr.setRequestHeader("X-CSRFToken",
                        $("input[name='csrfmiddlewaretoken']").val());
                }
            }
        });
    </script>

{% endblock extrajs_footer %}
