{% extends 'base.html' %}

{% load js compressed %}

{% block title %}{% trans 'Home' %}{% endblock title %}

{% block body %}
{% include 'ember/main.html' %}
{% include 'ember/views/index.html' %}
{% include 'ember/views/teams.html' %}
{% include 'ember/views/notimpl.html' %}
{% if debug %}
    {% include 'ember/views/debug.html' %}
{% endif %}
{% include 'ember/views/help.html' %}
{% endblock body %}

{% block extrajs_footer %}

    {% emberpie_js %}

    {% js 'js/bootstrap.min.js' %}

    {% compressed_js 'showdown' %}
    {% compressed_js 'moment' %}
    {% compressed_js 'core' %}

    <script type="text/javascript">
        {# This must stay here to catch the Django current language. #}
        moment.lang('{{ LANGUAGE_CODE }}');
    </script>
{% endblock extrajs_footer %}
