{% extends 'home.html' %}

{% block body_id %}preferences{% endblock body_id %}

{% block title %}{% trans 'Preferences' %}{% endblock title %}

{% block application_content %}
  <div class="spacer25"></div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span8 offset2">

        <h1>{% trans "Preferences" %}</h1>

        <ul class="nav nav-tabs" id="preferences-tabs">

          {% if user.is_superuser %}
            <li class="secondary-nav"><a data-toggle="tab" href="#staff">{% if not preferences.staff.super_powers_enabled %}<i class="icon-warning-sign"></i>{% else %}
              {% trans "1flow staff" %}{% endif %}</a></li>
          {% endif %}

          <li class="secondary-nav"><a data-toggle="tab" href="#advanced">{% trans "Advanced" context "male singular" %}</a></li>
          <li class="secondary-nav"><a data-toggle="tab" href="#reading">{% trans "Reading" %}</a></li>
          <li class="secondary-nav {{ preferences.home.show_advanced_preferences|yesno:',active' }}"><a
              data-toggle="tab" href="#sources">{% trans "Sources" %}</a></li>

          {% if preferences.home.show_advanced_preferences %}
            <li class="secondary-nav active"><a data-toggle="tab" href="#home">{% trans "General" context "male singular" %}</a></li>
          {% endif %}
        </ul>

        {# The form is global, so that we save everything modified at once. #}

        <form class="form" method="POST">
          {% csrf_token %}

          <div class="tab-content">
            {% if preferences.home.show_advanced_preferences %}
              <div class="tab-pane fade active in" id="home">
                {% include "snippets/preferences/home.html" %}
              </div>
            {% endif %}

            <div class="tab-pane fade {{ preferences.home.show_advanced_preferences|yesno:',active in' }}"
                id="sources">
              {% include "snippets/preferences/selector.html" %}
            </div>
            <div class="tab-pane fade" id="reading">
              {% include "snippets/preferences/read.html" %}
            </div>

            <div class="tab-pane fade" id="advanced">
              {% include "snippets/preferences/advanced.html" %}
            </div>

            {% if user.is_superuser %}
              <div class="tab-pane fade" id="staff">
                {% include "snippets/preferences/staff.html" %}
              </div>
            {% endif %}

          </div>

          {% include "widgets/forms/form-actions.html" %}
        </form>
      </div>
    </div>
  </div>

{% endblock application_content %}

