{% extends 'home.html' %}
{% load js i18n base_utils inplace_edit %}

{% block body_id %}profile{% endblock body_id %}

{% block title %}{% trans 'Profile' %}{% endblock title %}

{% block application_content %}
{% inplace_static %}

  <div class="container" id="profile">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-lg-5 col-xs-offset-0">
        {% include "account/profile-base-information.html" %}
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-lg-5 col-xs-offset-2">
        {% include "account/profile-social-accounts.html" %}
      </div>
    </div>
  </div>

{% endblock application_content %}
