{% extends 'home.html' %}
{% load js i18n base_utils widget_tweaks markdown_deux_tags %}

{% block body_id %}profile{% endblock body_id %}

{% block title %}{% trans 'Profile' %}{% endblock title %}

{% block application_content %}
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span10 spacer100"></div>
    </div>
    <div class="row-fluid">
      <div class="span10 offset1" id="profile">
        <div class="row-fluid">
          <div class="span5">
            {% if mongodb_user.avatar_url %}
              <div class="pull-right avatar-frame">
                <img src="{{ mongodb_user.avatar_url }}" />
              </div>
            {% endif %}

            <h1 class="user-profile">{% trans "Your profile" %}</h1>

            <form method='POST'>
              {% csrf_token %}

              <table class="table table-hover">
                <tr>
                  <td>{% trans "username" %}</td>
                  <td><strong>@{{ user.username }}</strong></td>
                </tr>
                <tr>
                  <td>{% trans "First name" %}</td>
                  <td>{{ user.first_name }}</td>
                </tr>
                <tr>
                  <td>{% trans "Last name" %}</td>
                  <td>{{ user.last_name }}</td>
                </tr>
                <tr>
                  <td>{% trans "e-mail" %}</td>
                  <td>{{ user.email }}</td>
                </tr>
                <tr>
                  <td>{% trans "Last login: " %}</td>
                  <td>{{ user.last_login }}</td>
                </tr>
                <tr>
                  <td>{% trans "Registered:" %}</td>
                  <td>{{ user.date_joined  }}</td>
                </tr>

              </table>

            <p class="muted">{% trans "Profile data is editable on your social account provider profile page (eg. Google, Facebook, etc)." %}</p>

            {% if user.is_superuser %}
              <h3>{% trans "Super-user access" %}</h3>
              <table class="table table-hover">
                <tr>
                  <td>{% trans "PostgreSQL" %}</td>
                  <td><code class="muted">DjangoUser.objects.get(id={{ user.id }})</code></td>
                </tr>
                <tr>
                  <td>{% trans "MongoDB" %}</td>
                  <td><code class="muted">User.objects.get(id='{{ mongodb_user.id }}')</code></td>
                </tr>
              </table>
            {% endif %}

            <!--

              <div class=" control-group {% if form.errors %}error{% endif %}">
               {% if form.errors %}
                   <span class="label label-warning">{% for error in form.errors %}
                       {{ error }}
                   {% endfor %}</span>
               {% endif %}
              </div>
              <div class="input-append control-group {% if form.errors %}error{% endif %}">
                <button type="submit" class="btn-flat">{% trans "Save" %}</button>
              </div>
            -->
            </form>

          </div>
          <div class="span6 offset1">
            <h1>{% trans "Social accounts" %}</h1>

            {% if social_auth.associated %}

              <h3>{% trans "Currently associated" %}
              </h3>
              <p class="muted small">
                  {% if social_count > 1 %}
                    {% filter markdown %}{% blocktrans %}
Click to disassociate any of your accounts, but beware:
if it's the account you're signed in, you will be
immediately disconnected from **1flow**.
{% endblocktrans %}{% endfilter %}
                  {% else %}
                    {% filter markdown %}{% blocktrans %}
As you have currently only one social account, you cannot de-associate it
from **1flow**: this would leave you lost in cyberspace without any way to
find back the spaceport.
{% endblocktrans %}{% endfilter %}

                  {% endif %}
              </p>

              <ul class="social-auth">
                {% for backend in social_auth.associated %}
                  {% if backend.provider == "google-oauth2" %}
                    {% captureas backend_name %}Google{% endcaptureas %}
                    {% captureas backend_full_name %}{{backend|slice:'-6'}}{% endcaptureas %}

                  {% else %}
                    {% captureas backend_name %}{{ backend.name }}{% endcaptureas %}
                    {% captureas backend_full_name %}{{backend}}{% endcaptureas %}

                  {% endif %}

                  {% if social_count == 1 %}
                    <li><a class="btn btn-block btn-huge" href="#" disabled="disabled"
                      title="{% blocktrans %}Cannot disconnect from {{ backend_name }}{% endblocktrans %}"
                      ><i class="icon-signout"></i> {{backend_full_name|title}}</a></li>

                    {% else %}
                      <li><a class="btn btn-block btn-huge"
                        href="{% url 'socialauth_disconnect_individual' backend.provider backend.id %}?next={% absolute 'profile' %}"
                        title="{% blocktrans %}Disconnect from {{ backend_name }}{% endblocktrans %}"
                        ><i class="icon-signout"></i> {{backend_full_name|title}}</a></li>

                    {% endif %}

                {% endfor %}
              </ul>

              <div class="spacer50"></div>

              <h3>{% trans "Associate more accounts" %}</h3>
            {% else %}
              <h3>{% trans "Associate accounts" %}</h3>

            {% endif %}
              {% captureas next_url%}?next={% absolute 'profile' %}{% endcaptureas %}
              {% include "snippets/social-auth-signin.html" %}

          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock application_content %}
