{% extends 'home.html' %}
{% load endless %}

{% block title %}{% trans 'Read' %}{% endblock title %}

{% block application_content %}

    <div class="row-fluid">
        <div class="span11 offset1">
            <div class="btn-toolbar pull-right">

                {% with home_style=preferences.home.style %}
                    <div class="btn-group" data-toggle="buttons-checkbox"
                        data-preference="home.style"
                        data-preference-reload-url="{{ request.path }}">
                        <button class="btn preference {% if home_style == 'RL' %}active{% endif %}"
                            data-preference-value="RL"
                            title=""><i class="icon-list"></i></button>


                        <button class="btn preference {% if home_style == 'TL' %}active{% endif %}"
                            data-preference-value="TL"
                            title=""><i class="icon-th-large"></i></button>

                    {% if user.is_superuser %}
                        <button class="btn preference {% if home_style == 'T1' %}active{% endif %}"
                            data-preference-value="T1"
                            title="{% trans "Experimental tiles #1" %}"><i class="icon-th"></i></button>
                    {% endif %}
                    </div>
                {% endwith %}
            </div>

            <h1>{% blocktrans count reads_count as reads %}
                Read
                <small>(<span id="reads_count">{{ reads }}</span> article)</small>
                {% plural %}
                Read
                <small>(<span id="reads_count">{{ reads }}</span> articles)</small>
            {% endblocktrans %} </h1>

        </div>
    </div>
    <div class="row-fluid">
        <div class="span11 offset1">
        {% if reads %}
            {% with items_per_fetch=config.READ_INFINITE_ITEMS_PER_FETCH %}

                {% lazy_paginate items_per_fetch reads %}

                {% if preferences.home.style == 'RL' %}
                    <ul class="media-list">
                        {% include 'snippets/read/read-list-page.html' %}
                    </ul>

                {% elif preferences.home.style == 'T1' %}
                    <div id="reads-container">
                        {% include 'snippets/read/read-tiles-experimental-page.html' %}
                    </div>

                {% else %}
                    <div id="reads-container">
                        {% include 'snippets/read/read-tiles-page.html' %}
                    </div>
                {% endif %}

                {% show_more _('Load more entries') _('Loading…') %}

            {% endwith %}

        {% else %}
            <div class="hero-unit">
                <h2>{% trans "Nothing to read yet. Buy a book?" %}</h2>
            </div>

        {% endif %}
        </div>
    </div>
{% endblock application_content %}

{% block extrajs_footer %}
    {{ block.super }}
    {% compressed_js 'read' %}
{% endblock extrajs_footer %}
