{% extends 'home.html' %}

{% block title %}{{ read.title }}{% endblock title %}
{% block body_id %}read{% endblock body_id %}

{% block extrajs_header %}
    {{block.super}}
    {% cache 86400 read_status_css_styles %}
        <style type="text/css">{% read_status_css_styles %}</style>
    {% endcache %}
{% endblock extrajs_header %}

{% block application_content %}
<div class="row-fluid">
    <div id="article-container" class="span8 offset2">
        {% include 'snippets/read/read-one.html' %}
    </div>
</div>
{% endblock application_content %}

{% block extrajs_footer %}
    {{ block.super }}
    {% compressed_js 'read-one' %}

    <script type="text/javascript">
        {% include "snippets/read/actions-messages.js.html" %}

        common_init();

        {% include "snippets/read/admin-shortcuts.js.html" with read_id=read.id %}

        var read_id = "{{ read.id }}";

        // “Mark Read”, “Toggle Read”
        Mousetrap.bind(['m r', 't r'], function() {
            return toggle_is_read(read_id);
        });

        // “Mark Starred”, “Toggle Starred”
        Mousetrap.bind(['m s','t s'], function() {
            return toggle_is_starred(read_id);
        });

        // “Mark later”, “Mark For Later”, “Read Later”
        Mousetrap.bind(['m l', 'm f l', 'r l'], function() {
            return toggle_is_bookmarked(read_id);
        });

    </script>
{% endblock extrajs_footer %}
