{% extends "onlyme_base.html" %}

{% block title %}{% trans 'Error Signin in.') }}{% endblock title %}

{% block onlyme_content %}

    <h1>{% trans 'Unable to Sign in.') }}</h1>
    <h2>{% trans 'A problem occured while processing your signin request.') }}</h2>
    {% url 'home' as home_url %}
    <p>{% filter markdown %}{% blocktrans %}

**If you never connected to 1flow before, this is intended.** Currently,
only a small subset of cherry-picked testers have access to the platform.

Get in touch [by mail](mailto:oc@1flow.io) or [IRC](irc://chat.freenode.net/#1flow) if you are one of my sustainable crowdfunders and I didn't already give you an access.

If you are already part of the testing-team, the problem could be:

- you didn't (re-)allow <strong>1flow</strong> to access your social
account,
- the remote social provider sent us a boo-boo.

We're sorry for that.
<br />
Return to [home]({{ home_url }})?
    {% endblocktrans %}{% endfilter %}</p>
{% endblock onlyme_content %}
