{% extends "onlyme_base.html" %}

{% block title %}{{ _('Error Signin in.') }}{% endblock title %}

{% block onlyme_content %}

    <h1>{{ _('Error Signin in.') }}</h1>
    <h2>{{ _('There was a problem processing your signin.') }}</h2>
    {% url 'home' as home_url %}
    <p>{% filter markdown %}{% blocktrans %}

If you never connected to 1flow before, this is intended. Currently,
only a small subset of cherry-picked testers have access to the platform.

Get in touch [by mail](mailto:oc@1flow.io) or [IRC](irc://chat.freenode.net/#1flow) if you are one of my sustainable crowdfunders and I didn't already give you access.

If you are already part of the testing-team, the problem could be:

- you didn't (re-)allow <strong>1flow</strong> to access your social
account,
- the remote social provider sent us a boo-boo.

We're sorry for that.
<br />
Return to <a href="{{ home_url }}">home</a>?
    {% endblocktrans %}{% endfilter %}</p>
{% endblock onlyme_content %}
