{% extends 'home.html' %}
{% load sorting_tags %}

{% block title %}{% trans "Mail accounts" %}{% endblock title %}
{% block body_id %}mail-accounts{% endblock body_id %}

{% block application_content %}

{% inplace_static %}

<div class="spacer50"></div>

<div class="row">
	<div>
	{% if mailaccount_list %}

		 <div class="actions pull-right">
		 	<div class="btn-group very-muted">
		 		{% blocktrans count counter=mailaccount_list|length %}
		 		    {{ counter }} mail account
		 		{% plural %}
					{{ counter }} mail accounts
		 		{% endblocktrans %}
		 	</div>
			<div class="btn-group" style="margin-left: 50px;">
				<button id="form-collapser" class="btn btn-primary">{% trans "Add new" %}</button>
			</div>
		</div>

		<h1>
			<a href="{% url 'mailfeed_list_create' %}"
					title="{% trans "Switch to mail feeds" %}"
					data-toggle="tooltip"
					class="popover-top">
				{% core_icon 'MailFeed' %}
			</a>

			<span class="very-muted">&nbsp;&nbsp;
			<i class="icon icon-angle-left"></i>
			<i class="icon icon-angle-right"></i>
			&nbsp;&nbsp;</span>

			<span>
				{% core_icon 'MailAccount' %}&nbsp;
				{% trans "Mail accounts" %}
			</span>
		</h1>

		<div class="spacer50"></div>

		<table class="table table-hover">
		<thead>

		  {% include "mailaccount/form.html" %}

		  <tr>
			{% sort_th _("Account name") 'name' %}
			<th class="centered">{% trans "Status" %}</th>
			{% sort_th _("Hostname") 'hostname' %}
			<th class="right">{% trans "SSL/TLS" %}</th>
			<th>{% trans "Port" %}</th>
			{% sort_th _("Username") 'username' %}
			<th>{% trans "password" %}</th>
			<th class="right">{% trans "Actions" %}</th>
		  </tr>
		</thead>
		<tbody>
		{% for mailaccount in mailaccount_list %}
			<tr>
				<td>{% inplace_edit 'mailaccount.name' %}</td>
				<td class="centered">{% mail_is_usable_to_icon mailaccount %}</td>
				<td>{% inplace_edit 'mailaccount.hostname' %}</td>
				<td class="right">{% inplace_edit 'mailaccount.use_ssl' %}</td>
				<td>{% inplace_edit 'mailaccount.port' edit_empty_value=_('auto') %}</td>
				<td>{% inplace_edit 'mailaccount.username' %}</td>
				<td class="inplace-blurred">{% inplace_edit 'mailaccount.password' %}</td>
				{% url 'mailaccount_delete' mailaccount.pk as delete_url %}
				<td class="right">{% include "widgets/delete-form-button.html" %}</td>
			</tr>
		{% endfor %}
		</tbody>
		</table>
	{% else %}

		<h2>{% core_icon 'MailAccount' %}&nbsp;{% blocktrans %}
		    No mail account yet.
		{% endblocktrans %}</h2>

		<div class="spacer50"></div>

		<table class="table">
			<tbody>
				{% include "mailaccount/form.html" with create_first=1 %}
			</tbody>
		</table>

	{% endif %}

	<div class="spacer50"></div>
	<p class="muted">{% trans "Mail accounts allow the 1flow engine to access your e-mail box(es), even when you are not logged in.<br /><strong>Note:</strong> <em>1flow only supports IMAP e-mail accounts.</em>" %}</p>


	</div>
</div>
{% endblock application_content %}

{% block extrajs_footer %}
    {{ block.super }}

	{% include "snippets/mail-collapse-js-glue.html" with focus_name='id_name' object_list=mailaccount_list %}

{% endblock extrajs_footer %}
