<fieldset>
  <legend>{% trans "Unread display" %}</legend>

  {% include "widgets/forms/field-checkbox.html" with field=sources_form.titles_show_unread_count %}
  {% include "widgets/forms/field-checkbox.html" with field=sources_form.folders_show_unread_count %}
</fieldset>

{% if preferences.home.show_advanced_preferences %}
    <fieldset>
      <legend>{% trans "Closed streams" %}</legend>

      {% include "widgets/forms/field-checkbox.html" with field=sources_form.show_closed_streams %}
    </fieldset>
{% endif %}

<fieldset class="form-end-notice">
<p><strong>{% trans "Important notice:" %}</strong> {% blocktrans %}
If you have the sources selector open in another browser tab, you need to reload it for changes to take effect.
{% endblocktrans %}</p>
</fieldset>
