{% comment %}
    No need for a "var", this variable is already declared in read-one.js
    The current included file is hack to avoid the full Django Javascript
    i18n workflow. This will change incrementally in the future.

    BTW, this file is really a JS-only content, but Django won't pick
    it up during make messages with a .JS extension. It's starting to
    be a very real hack…
{% endcomment %}

read_actions_messages = {
    open_first: "{% trans 'Opening first item…' %}",

    already_top_first: "{% trans 'No previous, captain. You are on the first!' %}",
    already_top_more: "{% trans 'Already at the top!' %}",

    already_end_last: "{% trans 'No next, captain. You are on the last!' %}",

    is_read: {
        done: "{% trans 'Marked read.' %}",
        undone: "{% trans 'Marked unread.' %}",
        nothing: "{% trans 'Nothing open to mark as read/unread' %}"
    },

    is_starred: {
        done: "{% trans 'Marked starred.' %}",
        undone: "{% trans 'Marked unstarred.' %}",
        nothing: "{% trans 'Nothing open to star/unstar' %}",
    },

    is_bookmarked: {
        done: "{% trans 'Added to your reading list.' %}",
        undone: "{% trans 'Removed from your reading list.' %}",
        nothing: "{% trans 'Nothing open to mark/unmark for later' %}"
    },

    is_quote: {
        done: "{% trans 'Marked as quote.' %}",
        undone: "{% trans 'Not a quote anymore.' %}",
        nothing: "{% trans 'Nothing open to quote' %}"
    },

    is_fact: {
        done: "{% trans 'Marked as fact/event.' %}",
        undone: "{% trans 'Unmarked as fact/event.' %}",
        nothing: "{% trans 'Nothing open to mark as fact/event' %}"
    },

    is_number: {
        done: "{% trans 'Marked as numbers/financial content.' %}",
        undone: "{% trans 'Unmarked as numbers/financial content.' %}",
        nothing: "{% trans 'Nothing open to mark as numbers/financial content.' %}"
    },

    is_analysis: {
        done: "{% trans 'Marked as analysis/study/research content.' %}",
        undone: "{% trans 'Unmarked as analysis/study/research content.' %}",
        nothing: "{% trans 'Nothing open to mark as analysis/study/research content.' %}"
    },

    is_prospective: {
        done: "{% trans 'Marked as prospective-related content.' %}",
        undone: "{% trans 'Unarked as prospective-related content.' %}",
        nothing: "{% trans 'Nothing open to mark as prospective-related content' %}"
    },

    is_rules: {
        done: "{% trans 'Marked as law/regulations/rules.' %}",
        undone: "{% trans 'Unmarked as low/regulations/rules.' %}",
        nothing: "{% trans 'Nothing open to mark as law/regulations' %}"
    },

    is_knowhow: {
        done: "{% trans 'Marked as know-how/best-practice.' %}",
        undone: "{% trans 'Unmarked as know-how/best-practice.' %}",
        nothing: "{% trans 'Nothing open to mark asknow-how/best-practice' %}"
    },

    is_knowledge: {
        done: "{% trans 'Marked as general knowledge.' %}",
        undone: "{% trans 'Not a knowledge element anymore.' %}",
        nothing: "{% trans 'Nothing open to mark as general knowledge' %}"
    },

    is_fun: {
        done: "{% trans 'Marked as fun. LMAO.' %}",
        undone: "{% trans "Not fun anymore. I'm crying." %}",
        nothing: "{% trans "Nothing open to mark as fun. That's not fun." %}"
    }
}
