{# make sure you have the add_to_builtins(…cache) else this will fail. #}
{# HEADS UP: with Django 1.6, replace 0 by None and set using="persistent" #}

{% if read_in_list %}

    {% cache 0 article_meta_top article LANGUAGE_CODE %}

      {% with with_title_first=1 with_actions=1 with_tags=1 with_rating=1 with_meta_muted=1 with_delta=1 meta_class='top only_when_collapsed' %}
            {% include "snippets/read/article-meta.html" %}
      {% endwith %}

    {% endcache %}
{% endif %}

<div class="article {{ read_in_list|yesno:'slide-togglable slide-toggle-notice,' }}"
    {% if read_in_list %}
      data-toggle-id="{{ article.id }}"
      data-toggle-function="toggle_content"
      data-toggle-callback="notice_element"
    {% endif %}
    >

    {% include 'snippets/read/read-admin-informations.html' %}

    {% cache 0 article_meta_bottom article LANGUAGE_CODE %}

      {% with meta_class='bottom only_when_open' %}
          {# other variables are unset, this is intended for `False` values. #}
          {% include "snippets/read/article-meta.html" %}
      {% endwith %}

    {% endcache %}

  <div class="read-content-wrapper only_when_open" id="content-{{ article.id }}">
    <div class="article-content"

        {% if read_in_list %}
                data-content-async="{% url "article_content" article.id %}"
                data-meta-async="{% url "read_meta" read.id %}">

            <div class="loading centered">
                <h3 class="loading"><i class="icon-spinner icon-spin icon-large"></i>
                &nbsp;&nbsp;{% trans "Loading…" %}</h3>
            </div>

        {% else %}
            {# close the div #} > {# end close the div #}

            {# HEADS UP: this call must be the same as in 'snippets/read/article-content-async.html' #}
            {% article_content article read.is_restricted perms.core.can_read_full_text %}

        {% endif %}
    </div>

    {% cache 0 article_bottom article LANGUAGE_CODE %}

    <div class="end-meta clicker-muter-constrainer">
        <div class="status-icons watch-status end-watch-status centered">
          {% include "snippets/read/watch-status.html" with with_text=1 %}
        </div>

      {% with end_actions=1 with_text=1 %}
        {% include 'snippets/read/watch-actions.html' %}
        {% include 'snippets/read/read-actions.html' %}
      {% endwith %}
    </div>

    {% endcache %}

  </div><!-- .article-content-wrapper -->
</div><!-- .article -->
