
{# — {{read}} — {{article}} — {{article.content_type}} — {{CONTENT_TYPES.BOOKMARK}} — #}

{% if read.is_restricted %}

      {# https://developer.mozilla.org/fr/docs/Web/HTML/Element/iframe allowfullscreen seamless sandbox #}
      <div class="article-iframe-wrapper">
        <iframe class="article-iframe" src="{{ article.url }}"></iframe>
      </div>

{% else %}
    {% if article.content_type == CONTENT_TYPES.MARKDOWN %}

      {% if content %}

        {% if excerpt %}
              {% include 'snippets/read/article-content-excerpt.html' %}

        {% else %}
          {{ content|safe }}

        {% endif %}

      {% else %}
        {#{% include 'snippets/read/article-content-no-content.html' %}#}
        {% include 'snippets/read/article-content-iframe.html' %}

      {% endif %}

    {% elif article.content_type == CONTENT_TYPES.BOOKMARK %}

      {% include 'snippets/read/article-content-bookmark.html' %}

    {% elif article.content_type == CONTENT_TYPES.HTML %}
      {% include 'snippets/read/article-content-not-safe.html' %}

    {% elif article.content_type in CONTENT_TYPES.FINAL %}
      {% include 'snippets/read/article-content-not-ready.html' %}

    {% else %}
      {#{% include 'snippets/read/article-content-no-content.html' %}#}
      {% include 'snippets/read/article-content-iframe.html' %}

    {% endif %}

{% endif %}
