
<div class="article">

  {% if not read_only_one %}
    {% with with_title_first=1 with_actions=1 with_tags=1 with_rating=1 with_meta_muted=1 %}
      {% include "snippets/read/article-meta.html" %}
    {% endwith %}
  {% endif %}

  {% include 'snippets/read/read-admin-informations.html' %}

  {% if read_only_one %}
    {# No with_{metahX,action,title_first,tags,ratings,meta_muted}. This is intended. #}
    {% include "snippets/read/article-meta.html" %}
  {% endif %}

  <div class="read-content-wrapper {{ read_only_one|yesno:',slide-togglable slide-toggle-notice hide' }}"
      id="content-{{ read.id }}"
      data-toggle-id="{{ read.id }}"
      data-toggle-function="toggle_content"
      data-toggle-callback="notice_element">
    <div class="article-content">
        {% if article.content_type == 3 %}
          {% with content=article.content_display %}
            {% if content %}
              {{ content|safe }}
            {% else %}
              {% include 'snippets/read/no-content.html' %}

            {% endif %}
          {% endwith %}

        {% elif article.content_type == 1 %}
              {% include 'snippets/read/not-safe.html' %}

        {% else %}
          {% include 'snippets/read/no-content.html' %}

        {% endif %}
    </div><!-- .article-content -->

    <div class="end-meta clicker-muter-constrainer">
        <div class="status-icons watch-status end-watch-status centered">
          {% include "snippets/read/watch-status.html" with with_text=1 %}
        </div>

      {% with end_actions=1 with_text=1 %}
        {% include 'snippets/read/watch-actions.html' %}
        {% include 'snippets/read/read-actions.html' %}
      {% endwith %}
    </div>
  </div><!-- .article-content-wrapper -->
</div><!-- .article -->
