{# make sure you have the add_to_builtins(…cache) else this will fail. #}
{% cache 86400 article_body article with_full_text %}

{% if read_in_list %}
  {% with with_title_first=1 with_actions=1 with_tags=1 with_rating=1 with_meta_muted=1 meta_class='top only_when_collapsed' %}
        {% include "snippets/read/article-meta.html" %}
  {% endwith %}
{% endif %}

<div class="article {{ read_in_list|yesno:'slide-togglable slide-toggle-notice,' }}"
    {% if read_in_list %}
      data-toggle-id="{{ article.id }}"
      data-toggle-function="toggle_content"
      data-toggle-callback="notice_element"
    {% endif %}
    >

    {% comment %}
        Invalid now that we have the whole item in cache.
        {% include 'snippets/read/read-admin-informations.html' %}
    {% endcomment %}

  {% with meta_class='bottom only_when_open' %}
      {# other variables are unset, this is intended for `False` values. #}
      {% include "snippets/read/article-meta.html" %}
  {% endwith %}

  <div class="read-content-wrapper {{ read_in_list|yesno:'hide,' }}"
      id="content-{{ article.id }}">
    <div class="article-content ">

      {% article_content article with_full_text %}

    </div><!-- .article-content -->

    <div class="end-meta clicker-muter-constrainer">
        <div class="status-icons watch-status end-watch-status centered">
          {% include "snippets/read/watch-status.html" with with_text=1 %}
        </div>

      {% with end_actions=1 with_text=1 %}
        {% include 'snippets/read/watch-actions.html' %}
        {% include 'snippets/read/read-actions.html' %}
      {% endwith %}
    </div>
  </div><!-- .article-content-wrapper -->
</div><!-- .article -->

{% endcache %}
