<div class="article-meta article-meta-row clicker-muter-constrainer"
    data-toggle-id="{{ article.id }}">

  <div class="row content-toggle"
      data-toggle-id="{{ article.id }}"
      data-toggle-function="toggle_content"
      data-toggle-callback="notice_element">
    {% spaceless %}

    <div class="col-xs-5 col-sm-2 only_when_collapsed thumbnail-wrapper">
      {# TODO: replace this by a simple URL when all article images are statically set. #}

      <div class="meta-thumbnail">
        <img src="" data-src="{% url 'article_image' article.id %}"
          data-toggle="async" />
      </div>
    </div>

    <h2 class="col-xs-7 col-sm-10 article-title only_when_collapsed">
      {{ article.title }}
    </h2>

    <div class="col-xs-2 col-sm-1 only_when_open meta-back-to-list">
      <i class="icon-angle-left"></i>
    </div>

    <h2 class="col-xs-10 col-sm-11 only_when_open article-title">
      {{ article.title }}
    </h2>

    <div class="meta-sub col-xs-8 col-sm-8">

      <span class="source muted">
        {# read, not article: we want subscriptions names, not feed names. #}
        {{ read.get_source_unicode }}
      </span>

      <span class="status-icons watch-status">
        {% include "snippets/read/watch-status.html" %}
      </span>

      <span class="hover-muted hide">

        <span class="date">
          {% if article.date_published %}
            {{ article.date_published }}
          {% else %}
            <span class="no-date">{% trans "no date" %}</span>
          {% endif %}
        </span>

        {% if article.authors %}
          <span class="author">
              <span class="muted">{% trans "by" %}</span>
              {% for author in article.authors %}
                  {% firstof author.name author.origin_name %}{% if not forloop.last %}, {% endif %}
              {% endfor %}
          </span>
        {% endif %}

        {# TODO: put this back to read.tags when we circumvent the cache in the read sidebar. #}
        {% if article.tags %}
          <span class="tags">
            <span class="muted">{% trans "in" %}</span> {% for tag in article.tags %}{{ tag.name }}{% if not forloop.last %}, {% endif %}{% endfor %}
          </span>
        {% endif %}

        {% comment %}
            No more possible with the cached article.

            {% if with_rating %}
              {% if read.rating %}<span class="rating">{% trans ", rated " %}{{ read.rating }}</span>{% endif %}
            {% endif %}
        {% endcomment %}

      </span>
    </div>

    <div class="meta-sub col-xs-4 col-sm-2 only_when_collapsed-xs">

      <div class="reading-time pull-left">
        {% if article.word_count_TRANSIENT %}
          {{ read.reading_time_abstracted|safe }}
        {% endif %}
      </div>

      <div class="freshness pull-right"

      {% if article.date_published %}

        data-post-process="momentFromNow"

         {% comment %}
             data-toggle="tooltip" title="{% blocktrans with pubdate=article.date_published %}Published on {{ pubdate }}.{% endblocktrans %}"
         {% endcomment %}

         >
        {{ article.date_published|date:'c' }}

      {% else %}
        >

      {% endif %}

      </div>
    </div>

    <div class="meta-actions visible-lg">
      {% with with_text=0 %}
        {# with_admin_actions=1 #}
        {% include "snippets/read/read-actions.html" %}
      {% endwith %}
    </div>

  {% endspaceless %}

  </div><!-- .row -->
</div><!-- .article-meta -->
