  <li id="{{ read.id }}" class="read-list-item read-list-row hover-unmute-children row-fluid"
      data-index="{{ tenths_counter|add:forloop.counter }}">
  {% with read.article as article %}

    <div class="span2 actions action-star hover-muted">

      {% if user.is_superuser %}
        <a href="#" onclick="javascript: $('#admin-{{read.id}}').slideToggle(); return false;" >
          <i class="icon-cog"></i></a>
      {% endif %}

      <a href="{{ article.url }}" target="_blank"
          title="{% trans "Action not yet available" %}">
        <i class="icon-star-empty"></i></a>

    </div>

    <div class="span10 article">

      <div class="pull-right actions hover-muted">

        {% if read.is_read %}
          <a href="{% url 'toggle' klass='Read' id=read.id key='is_read' %}"
              title="{% trans "mark as unread" %}" data-toggle="tooltip">
            <i class="icon-check-empty" alt="{% trans "mark as unread" %}"></i>
        {% else %}
          <a href="{% url 'toggle' klass='Read' id=read.id key='is_read' %}"
              title="{% trans "mark as read" %}" data-toggle="tooltip">
            <i class="icon-check" alt="{% trans "mark as read" %}"></i>
        {% endif %}
        </a>

        <a href="{{ article.url }}" target="_blank"
            title="{% trans "Open this article on the original website" %}">
          <i class="icon-circle-arrow-right"></i></a>

        <a href="#" target="_blank"
            title="{% trans "Action not yet available" %}">
          <i class="icon-retweet"></i></a>

      </div>

      <h2 id="title-{{ read.id }}" class="heading article-title {% if not read.is_read %}is_unread{% endif %}"
          onclick="javascript: return toggle_content('{{ read.id }}');">
        {{ article.title }}
      </h2>

      <p class="meta pointer"
          onclick="javascript: return toggle_content('{{ read.id }}');">
        <span class="source muted">
          {{ article.get_source_unicode }}
        </span>

        <span class="meta hover-muted">

          {{ article.date_published }}{% if read.tags %},

          {% if article.authors %}
            <span class="muted">{% trans "by" %}</span>
            {% for author in article.authors %}
                {% firstof author.name author.origin_name %}{% if not forloop.last %}, {% endif %}
            {% endfor %}
          {% endif %}

          <span class="muted">{% trans "in" %}</span> {% for tag in read.tags %}{{ tag.name }}{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}
          {% if read.rating %}{% trans ", rated " %}{{ read.rating }}.{% endif %}
        </span>
      </p>

      {% if user.is_superuser %}
        <div class="hide admin-informations" id="admin-{{ read.id }}">
          <table class='table table-hover table-stripped table-condensed'>
            <tbody>
              <tr>
                <td>{% trans "Admin stuff" %}</td>
                <td>{% trans "Read: " %}{{ read.id }}</td>
                <td>{% trans "Article: " %}<a
                    href="/admin/models/article/{{ article.id }}/"
                    target="_blank">{{ article.id }}</a></td>
                {% if article.feeds %}
                    <td>{% trans "Feeds: " %}
                      {% for feed in article.feeds %}
                        <a href="/admin/models/feed/{{feed.id}}/"
                          target="_blank">{{feed.name}}</a>{% if not forloop.last %}, {% endif %}
                      {% endfor %}
                    </td>

                {% else %}
                  <td>{% trans "no feeds" %}</td>

                {% endif %}

              </tr>
              <!--
              <tr>
                <td></td>
                <td></td>
              </tr>
            -->
            </tbody>
          </table>
        </div>
      {% endif %}

      <div class="hide article-content" id="content-{{ read.id }}">
        {% if article.content_type == 3 %}
          {% with content=article.content_display %}
            {% if content %}
              {{ content|safe }}
            {% else %}
              {% include 'snippets/read/no-content.html' %}

            {% endif %}
          {% endwith %}

        {% elif article.content_type == 1 %}
              {% include 'snippets/read/not-safe.html' %}

        {% else %}
          {% include 'snippets/read/no-content.html' %}

        {% endif %}
      </div>

    </div>
  {% endwith %}
  </li>
