{% load endless %}

{% if initial %}

    {% for read in reads %}
        {% if read.article.url_absolute and not read.article.duplicate_of %}
            {% include preferences.home.get_template %}
        {% endif %}
    {% endfor %}

{% else %}

    {% with items_per_fetch=config.READ_INFINITE_ITEMS_PER_FETCH %}

        {% lazy_paginate items_per_fetch reads %}

        {% for read in reads %}
            {% if read.article.url_absolute and not read.article.duplicate_of %}
                {% include preferences.home.get_template %}
            {% endif %}
        {% endfor %}

        {% comment %}
            The 'show_more' button is hidden via CSS, don't try to find
            it in the page. But it must be present because it holds the
            necessary data to load the next page.
        {% endcomment %}

        {% show_more _('Load more entries') _('Loading…') %}

    {% endwith %}

{% endif %}
