{% load endless %}


<div class="row-fluid">
  <div class="span10"></div>
</div>
    <div class="row-fluid">
      <div class="span8 offset2">

        {% if reads %}

            <ul class="media-list">

            {% lazy_paginate reads %}

            {% for read in reads %}
                {% include 'snippets/read/read-tiles-tile.html' %}
            {% endfor %}

            {% show_more %}
            </ul>

        {% else %}
            <div class="hero-unit">
                <h2>{% trans "Nothing to read yet. Buy a book?" %}</h2>
            </div>

        {% endif %}

      </div>
    </div>
