<div class="read-list-item read-tile hover-unmute-children">
    {% if article.image_url %}
      <img src="{{ article.image_url }}" alt="{% trans 'Article main image' %}" />
    {% else %}
        <img src="http://lorempixel.com/150/150/abstract/{% trans "Placeholder-" %}{{ read.id  }}"
        alt="{% trans 'No Image for this Article, this is a default one' %}" class="hover-muted"/>

    {% endif %}

    {% with read.article as article %}

      <h4>
        <span class="article-title">
          {{ article.title }}
        </span>

        {% comment %}

        {% if read.is_read %}
          <a href="{% url 'toggle' klass='Read' id=read.id key='is_read' %}"
              title="{% trans "mark as unread" %}" data-toggle="tooltip">
            <i class="icon-check-empty" alt="{% trans "mark as unread" %}"></i>
        {% else %}
          <a href="{% url 'toggle' klass='Read' id=read.id key='is_read' %}"
              title="{% trans "mark as read" %}" data-toggle="tooltip">
            <i class="icon-check" alt="{% trans "mark as read" %}"></i>
        {% endif %}
        </a>

        {% endcomment %}

        <a href="{{ article.url }}" target="_blank" class="hover-muted"
            title="{% trans "Open this article on the original website" %}">
          <i class="icon-circle-arrow-right"></i>
        </a>
      </h4>

      <p class="hover-muted">
        {{ article.date_published }}{% if read.tags %},
        {% trans "in" %} {% for tag in read.tags %}{{ tag.name }}{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}{% if read.rating %}{% trans ", rated " %}{{ read.rating }}{% endif %}.

        {% if article.authors %}
            {% trans "By" %}
            {% for author in article.authors %}
              {% firstof author.name author.origin_name %}{% if not forloop.last %}, {% endif %}

            {% endfor %}
        {% endif %}
      </p>

    {% endwith %}

  {% if user.is_superuser %}
    <div class="superuser-item">
      <h1 class="list-item-number muted">
        {{ forloop.counter|add:tenths_counter }}
      </h1>
    </div>
  {% endif %}

</div><!-- .read-list-item -->
