{% load endless %}

{% with items_per_fetch=config.READ_INFINITE_ITEMS_PER_FETCH %}

    {% lazy_paginate items_per_fetch reads %}

    <ul class="thumbnails js-masonry"
        data-masonry-options='{ "itemSelector": ".read-list-item", "columnWidth": 200 }'>

        {% for read in reads %}
            {% include 'snippets/read/read-tiles-tile.html' %}
        {% endfor %}
    </ul>
    <ul class="thumbnails js-masonry"
        data-masonry-options='{ "itemSelector": ".read-list-item", "columnWidth": 200 }'>

        {% show_more _('Load more entries') _('Loading…') %}
    </ul>

{% endwith %}
