  <main id="{{ read.id }}" class="read-list-item row-fluid {% if not read.is_read %}is_unread{% endif %}">

  {% with read.article as article %}

    <div class="article">

      {% include 'snippets/read/read-admin-informations.html' %}

      <div class="article-meta">
          <div class="meta">
            {% spaceless %}

            <span class="source muted">
              {{ article.get_source_unicode }}
            </span>

            <span class="date">
              {{ article.date_published }}
            </span>

            {% if article.authors %}
              <span class="author">
                  <span class="muted">{% trans "by" %}</span>
                  {% for author in article.authors %}
                      {% firstof author.name author.origin_name %}{% if not forloop.last %}, {% endif %}
                  {% endfor %}
              </span>
            {% endif %}

              {% if read.rating %}
              <span class="rating">{% trans ", rated " %}{{ read.rating }}
              </span>{% endif %}

            {% endspaceless %}
          </div>

          <div class="clearfix"></div>

          <h1 id="title-{{ read.id }}"
                class="heading article-title {% if not read.is_read %}is_unread{% endif %}">
            {{ article.title }}
          </h1>

      </div><!-- .article-meta -->

      <div class="article-content"
          id="content-{{ read.id }}" data-toggle-id="{{ read.id }}"
          data-toggle-function="toggle_content"
          data-toggle-callback="notice_element">

          {% if article.content_type == 3 %}
            {% with content=article.content_display %}
              {% if content %}
                {{ content|safe }}
              {% else %}
                {% include 'snippets/read/no-content.html' %}

              {% endif %}
            {% endwith %}

          {% elif article.content_type == 1 %}
                {% include 'snippets/read/not-safe.html' %}

          {% else %}
            {% include 'snippets/read/no-content.html' %}

          {% endif %}

          {% include 'snippets/read/read-end-actions.html' %}

      </div><!-- .article-content -->

    </div><!-- .article -->
  {% endwith %}
</main>
