{% load endless %}

{% if initial %}

    {% include "snippets/read/read-endless-initial-loading.html" %}
    {% include "snippets/read/read-endless-no-items.html" %}

    {% comment %}
        At first, I used the lazy paginate mechanism to generate an official
        "show_more" div, to allow the whole mecanism to be completely DRY,
        without creating any exception for the first page.

        But then, the 1st page gets munged and never displays; results start
        at page 2… Besides, instanciating the `lazy_paginate` just for a <div>
        make the first page loading "not so fast", because `endless` is acting.

        Thus, this is a completely fake "show_more". Hard-coded. With this,
        the first page comes blazingly fast, and results are loaded totally
        asynchronously.
    {% endcomment %}

    <div class="endless_container">
        <a class="endless_more" href="{{ request.path }}?page=1"
            rel="page"> {% trans "Load more entries" %}"</a>
        <div class="endless_loading" style="display: none;">{% trans "Loading…" %}</div>
    </div>

{% else %}

    {% with items_per_fetch=config.READ_INFINITE_ITEMS_PER_FETCH %}

        {% lazy_paginate items_per_fetch reads %}

            {% for read in reads %}
                {% if read.article.url_absolute and not read.article.duplicate_of %}
                    {% include preferences.home.get_template %}

                {% elif user.is_superuser %}
                    <li class="read-list-item">
                        <div>{{ read }}</div>
                        <div>— absolute: <code>{{ read.article.url_absolute }}</code></div>
                        <div>— duplicate: {{ read.article.duplicate_of }}</div>
                    <li>
                {% endif %}
            {% endfor %}

        {% comment %}
            The 'show_more' button is hidden via CSS, don't try to find
            it in the page. But it must be present because it holds the
            necessary data to load the next page.
        {% endcomment %}

        {% show_more _('Load more entries') _('Loading…') %}

    {% endwith %}

{% endif %}
