
{% if article.content_type == CONTENT_TYPE_MARKDOWN %}

    {% if content %}

      {% if excerpt %}
            {% include 'snippets/read/read-content-excerpt.html' %}

      {% else %}
        {{ content|safe }}

      {% endif %}

    {% else %}
      {% include 'snippets/read/read-content-no-content.html' %}

    {% endif %}

{% elif article.content_type == CONTENT_TYPE_HTML %}
      {% include 'snippets/read/read-content-not-safe.html' %}

{% elif article.content_type in CONTENT_TYPE_FINAL %}
      {% include 'snippets/read/read-content-not-ready.html' %}

{% else %}
  {% include 'snippets/read/read-content-no-content.html' %}

{% endif %}
