
  {% if end_actions %}
    <div class="read-actions actions end-actions">

  {% elif side_actions %}
    <div class="read-actions actions end-actions side-actions">

  {% else %}
    <div data-hover-muter-block="actions-start-{{ article.id }}"
        class="read-actions actions start-actions hover-muted hidden-xs hidden-sm">

  {% endif %}

  {% if side_actions %}
    {% if read.is_restricted %}
      {# NOTHING for now, read is restricted. #}

    {% else %}
      {#{% read_action article 'switch_view' with_text %}#}
      {% read_original article with_text %}

    {% endif %}

    <div class="spacer25 visible-lg"></div>

  {% endif %}

  {% read_action article 'is_bookmarked' with_text %}
  {% read_action article 'is_read' with_text %}

  {% if end_actions or side_actions %}

    {% read_action article 'is_archived' with_text %}
    {% read_action article 'is_starred' with_text %}

    {% comment %}

      DISABLED UNTIL JS FIXED,
      to allow first libre release.

      {% if side_actions %}

        <div class="spacer25 visible-lg"></div>

        {% include "snippets/read/watch-actions.html" with with_text=0 %}

      {% endif %}

    {% endcomment %}

    {# ——————————————————————————————— WATCH ——————————————————————————————— #}

    <span class="action popover-tooltip popover-top" data-toggle="tooltip"
        title="{% trans "Assign or remove watch-related attributes" %}">
      <a class="clicker-muter-toggle nowrap" href="#"
          data-clicker-muter-group="watch-{{ end_actions|yesno:"end,start" }}-{{ article.id }}">
        <i class="icon-fixed-width icon-eye-open"></i>{% if with_text %}<span
            class="hidden-inline-xs hidden-inline-sm">&nbsp;{% trans "Watch" %}</span>{% endif %}
      </a>
    </span>

    {% comment %}

    {# ——————————————————————————————— SHARE ——————————————————————————————— #}

    <span class="action popover-top popover-tooltip"
        title="{% trans "Share privately with individuals or your watch-teams" %}">
      <a class="nowrap" href="{% url "share_one" article.id %}" data-target="#" data-toggle="modal">
        <i class="icon-fixed-width icon-share"></i>{% if with_text %}<span
            class="hidden-inline-xs hidden-inline-sm">&nbsp;{% trans "Share" %}</span>{% endif %}
      </a>
    </span>

    {# ————————————————————————————— BROADCAST ————————————————————————————— #}
    {# title="{% trans "Broadcast globally to your followers, via your self-feeded informations streams" %}" #}

    <span class="not-ready action popover-tooltip popover-top"
        data-toggle="tooltip"
        title="{% trans "This feature is under development. Thanks for your patience." %}">
      <a class="clicker-muter-toggle nowrap" href="#">
        <i class="icon-fixed-width icon-bullhorn"></i>{% if with_text %}<span
            class="hidden-inline-xs hidden-inline-sm">&nbsp;{% trans "Broadcast" %}</span>{% endif %}
      </a>
    </span>

    {% endcomment %}


  {% endif %}

</div>
