{% if user.is_superuser %}
  <div class="admin-informations hide" id="admin-{{ read.id }}">
    <table class='table table-hover table-stripped table-condensed'>
      <tbody>
        <tr>
          <td>{% trans "Read: " %} <a
              href="{% url 'read_one' read.id %}"
              target="_blank">{{ read.id }}</td>
          <td><div class="right">{% trans "Article: " %} <a
              href="/admin/models/article/{{ article.id }}/"
              target="_blank">{{ article.id }}</a></div></td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="centered">
              {% if article.feeds %}
                  {% trans "Feeds: " %}
                    {% for feed in article.feeds %}
                      <a href="/admin/models/feed/{{feed.id}}/"
                        target="_blank">{{feed.name}}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}

              {% else %}
                {% trans "no feeds" %}

              {% endif %}
            </div>
          </td>
        </tr>
        <!--
        <tr>
          <td></td>
          <td></td>
        </tr>
      -->
      </tbody>
    </table>
  </div><!-- .admin-informations -->
{% endif %}
