
{% if end_actions %}
  <div class="read-actions actions end-actions">

{% else %}
  <div class="read-actions actions start-actions hover-muted hide hidden-phone"
    data-hover-muter-block="actions-{{ end_actions|yesno:"end,start" }}-{{ read.id }}">

{% endif %}

  {% read_action read 'is_bookmarked' with_text %}
  {% read_action read 'is_read' with_text %}

  {% if end_actions %}

    {% read_action read 'is_starred' with_text %}

    <span class="action {{ with_text|yesno:",popover-tooltip" }} popover-top"
        title="{% trans "Assign or remove watch-related attributes" %}">
      <a class="clicker-muter-toggle nowrap" href="#"
          data-clicker-muter-group="watch-{{ end_actions|yesno:"end,start" }}-{{ read.id }}">
        <i class="icon-eye-open"></i>{% if with_text %}<span
            class="hidden-phone">&nbsp;{% trans "Watch attributes" %}</span>{% endif %}
      </a>
    </span>

    {% include 'snippets/read/read-action-original.html' %}

  {% endif %}

</div>
