{% comment %}

    Using the cache, we need to use the article as pivot ID everywhere.
    Via this pivot, we still get the **Read** URL and toggle Read
    attributes directly.

    BUT, we cannot cache this beginning part, rightly because of the
    Read toggle URL and the `read_status_css`, which depend on the
    User's Read attributes. The tenth's counter counts, too.

{% endcomment %}

{% with article=read.article %}

  {# NOTE: id and class have to be in sync with 'read-meta-async.html' #}
  <li id="{{ article.id }}"
      class="read-list-item hover-unmute-children {{ read.is_restricted|yesno:"restricted-read," }} {% read_status_css read %}"
      {% read_action_toggle_url read %} data-index="{{ tenths_counter|add:forloop.counter }}">

        {% cache 0 article_meta_top article LANGUAGE_CODE %}
          {% include "snippets/read/article-meta.html" %}
        {% endcache %}

      <div class="article-wrapper">
        {% include "snippets/read/article-body.html" with read_in_list=1 %}
      </div>
  </li>
{% endwith %}
