  <li id="{{ read.id }}" class="read-list-row read-list-item row-fluid {% read_status_css read %}"
      {% read_data_urls read %} data-index="{{ tenths_counter|add:forloop.counter }}">

  {% with read.article as article %}

    <div class="article span12 hover-unmute-children">

      <div class="row-fluid">

        {% with with_title_first=1 with_actions=1 with_tags=1 with_rating=1 with_meta_muted=1 %}
          {% include "snippets/read/article-meta.html" %}
        {% endwith %}

      {% include 'snippets/read/read-admin-informations.html' %}

      <div class="article-content slide-togglable slide-toggle-notice hide"
          id="content-{{ read.id }}"
          data-toggle-id="{{ read.id }}"
          data-toggle-function="toggle_content"
          data-toggle-callback="notice_element">

          {% if article.content_type == 3 %}
            {% with content=article.content_display %}
              {% if content %}
                {{ content|safe }}
              {% else %}
                {% include 'snippets/read/no-content.html' %}

              {% endif %}
            {% endwith %}

          {% elif article.content_type == 1 %}
                {% include 'snippets/read/not-safe.html' %}

          {% else %}
            {% include 'snippets/read/no-content.html' %}

          {% endif %}

          <div class="article-actions end-actions actions centered">

            {% with with_text=1 %}
              {% include 'snippets/read/read-actions.html' %}
            {% endwith %}

          </div><!-- .article-actions -->

      </div><!-- .article-content -->

    </div><!-- .article -->
  {% endwith %}
  </li>
