{% if user.is_superuser and preferences.staff.super_powers_enabled %}
  <div class="admin-informations {{ nohide|yesno:',hide' }}" id="admin-{{ read.id }}">
    <table class='table table-hover table-stripped table-condensed'>
      <tbody>
        <tr>
          {% if with_index %}
            <td>#{{ tenths_counter|add:forloop.counter }}</td>
          {% endif %}
          <td>{% trans "Read: " %} <a
              href="{% url 'read_one' read.id %}"
              target="_blank">{{ read.id }}</td>
          <td><div class="right">{% trans "Article: " %} <a
              href="{{ NONREL_ADMIN }}article/{{ article.id }}/"
              target="_blank">{{ article.id }}</a></div></td>
        </tr>
        <tr>
          <td colspan="{{ with_index|yesno:'3,2' }}">
            <div class="centered">
              {% if read.subscriptions %}
                  {% trans "Subscriptions: " %}
                    {% for subscription in read.subscriptions %}
                      <a href="{{ NONREL_ADMIN }}subscription/{{subscription.id}}/"
                        target="_blank">{{ subscription.name }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}

              {% else %}
                {% trans "no subscriptions" %}

                {% if article.feeds %}
                    {% trans "Feeds: " %}
                      {% for feed in article.feeds %}
                        <a href="{{ NONREL_ADMIN }}feed/{{ feed.id }}/"
                          target="_blank">{{ feed.name }}</a>{% if not forloop.last %}, {% endif %}
                      {% endfor %}

                {% else %}
                  {% trans "no feeds" %}

                {% endif %}

              {% endif %}

            </div>
          </td>
        </tr>
        <!--
        <tr>
          <td></td>
          <td></td>
        </tr>
      -->
      </tbody>
    </table>
  </div><!-- .admin-informations -->
{% endif %}
