
    {% if user.is_staff_or_superuser_and_enabled %}

      <div class="spacer50"></div>

      <div class="staff-information">

      {% if not article.date_published %}

        <h3>{% trans "Fixes" %}</h3>

        <ul class="list-unstyled">
          {% if not article.date_published %}
            <li>{% inplace_edit 'article.date_published' %}</li>
          {% endif %}
        </ul>

      {% endif %}

      <h3>{% trans "Status" %}</h3>

      <ul class="list-unstyled list-inline">
      	<li>
          {% if article.is_good %}
            {% captureas good %}<span data-toggle="tooltip" title="{% trans "Item is considered good to be displayed by the engine" %}">{% core_icon 'ok' False %}</span>{% endcaptureas %}
            {% core_label good 'success' %}

          {% else %}
            {% core_label _('bad') 'danger' %}

          {% endif %}
        </li>

      	<li>
          {% if article.url_absolute %}
            {% core_label _('absolute') 'success' %}

          {% else %}
            {% if article.tweet == article %}
              {% captureas tweet %}{% core_icon 'twitter' False %}{% endcaptureas %}
              {% core_label tweet 'info' %}

            {% else %}
              {% core_label _('unresolved yet') 'info' %}

            {% endif %}
          {% endif %}
        </li>

        {% if article.is_orphaned %}
          <li>
            {% core_label _('orphaned') 'danger' %}
          </li>
        {% endif %}

        <li>
          {% if article.original_data %}
            {% if article.original_data.is_processed %}
              {% captureas origin %}<span data-toggle="tooltip" title="{% trans "Original data has been processed" %}">{% core_icon 'screenshot' %} {{ ORIGINS|symlookup:article.origin }}</span>{% endcaptureas %}
              {% core_label origin 'success' %}

            {% else %}
              {% captureas origin %}<span data-toggle="tooltip" title="{% trans "Original data not yet processed" %}">{% core_icon 'time' %} {{ ORIGINS|symlookup:article.origin }}</span>{% endcaptureas %}
              {% core_label origin 'info' %}

            {% endif %}
          {% else %}
              {% captureas origin %}<span data-toggle="tooltip" title="{% trans "No original data recorded" %}">{% core_icon 'remove' %} {{ ORIGINS|symlookup:article.origin }}</span>{% endcaptureas %}
              {% core_label origin 'warning' %}

          {% endif %}
        </li>

        <li>
          {% if article.content_type %}

            {% captureas content_type %}{% core_icon 'file-text' %} {{ CONTENT_TYPES|symlookup:article.content_type }}{% endcaptureas %}

              {% if article.content_type in CONTENT_TYPES_FINAL %}
                {% core_label content_type 'success' %}

              {% else %}
                {% core_label content_type 'warning' %}

              {% endif %}

            {% else %}
              {% core_label _('not fetched yet') 'info' %}

          {% endif %}
        </li>

        {% captureas reads %}<span data-toggle="tooltip" title="{% trans "user reads" %}">{% core_icon 'user' %} {{ article.reads.count }}</span>{% endcaptureas %}
        <li>{% core_label reads 'default' %}</li>

        {% captureas histories %}<span data-toggle="tooltip" title="{% trans "article versions in history" %}">{% core_icon 'archive' %} {{ article.history.count }}</span>{% endcaptureas %}
        <li>{% core_label histories 'default' %}</li>

      </ul>

      <div class="spacer10"></div>

      <ul class="list-unstyled">

        <li>
          <span class="muted">processing: </span>

          {% if article.website.processing_chain %}
              {{ article.website.processing_chain }}

          {% else %}
            <span class="very-muted">default</span>

          {% endif %}
        </li>

      </ul>

      <div class="spacer10"></div>

      <ul class="list-unstyled">

        {% if article.processing_errors.exists %}
          <li>
            <span class="muted">errors: </span> {{ article.processing_errors.count }}

            <ul>
              {% for error in article.processing_errors.all %}
                <li>{{ error.processor }}: <code>{{ error.exception }}</code></li>

              {% endfor %}
            </ul>
          </li>
        {% endif %}

        {% if article.url_error %}
          <li>
            <span class="muted">URL error: </span> <em>{{ article.url_error }}</em>
          </li>
        {% endif %}

        {% if article.content_error %}
          <li>
            <span class="muted">content error: </span> <em>{{ article.content_error }}</em>
          </li>

        {% endif %}

      </ul>

      <div><pre style="font-size: 80%">
{% if article.tweet == article %}a = Tweet.objects.get(id={{ article.id }}){% else %}a = Article.objects.get(id={{ article.id }}){% endif %}
r = Read.objects.get(id={{ read.id }})
</pre></div>

    </div>

    {% endif %}
