{% load i18n %}
{% load base_utils %}

{% if beta_invites_left > 0 %}
    {% if beta_invites_left > 100 %}
        {% blocktrans  %}

           There are <span class="number">{{ beta_invites_left }}</span> invites left.
        {% endblocktrans %}

    {% else %}
        {% blocktrans count counter=beta_invites_left %}
           Hurry, there's only <span class="number">{{ counter }}</span> invite left.

        {% plural %}
           There are only <span class="number">{{ counter }}</span> invites left.

        {% endblocktrans %}

    {% endif %}
{% else %}
    {% trans "No invite left!" %}

{% endif %}
