{% load i18n %}
{% load base_utils %}
{% get_current_language as current_lang_code %}

        <div class="row-fluid">
          <div class="span12">
            <div id="lang-flags" class="pull-right">
              {% get_available_languages as languages %}
              {% for lang_code, lang_name in languages %}
                {% if lang_code != current_lang_code %}
                  {% get_language_info for lang_code as lang_choice %}
                  {% language lang_code %}
                    {% captureas switch_to_trans %}{% blocktrans with name_local=lang_choice.name_local %}Switch to {{ name_local }}{% endblocktrans %}{% endcaptureas %}
                      <form action="{% url 'set_language' %}" method="post" style="display: inline">
                      {% csrf_token %}
                      <input type="hidden" name="next" value="/" />
                      <input type="hidden" name="language" value="{{ lang_code }}">
                      <input type="image" src="{{ STATIC_URL }}img/flags/{% if '-' in lang_code %}{{ lang_code|slice:'3:'|lower }}{% else %}{{ lang_code }}{% endif %}.png"
                        alt="{{ switch_to_trans }}" data-toggle="tooltip"
                        title="{{ switch_to_trans }}" width='16' height='11' />
                      </form>
                  {% endlanguage %}
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
