{% extends 'home.html' %}
{% load sorting_tags %}
{% load endless %}

{% block title %}{% trans "Manage websites" %}{% endblock title %}
{% block body_id %}websites{% endblock body_id %}

{% block application_content %}

{% inplace_static %}

<div class="spacer50"></div>

<div class="row">
	<div>
	{% if website_list %}

		 <div class="pull-right">
		 	<div class="btn-group very-muted">
		 		{% blocktrans count counter=website_list|length %}
		 		    {{ counter }} web site
		 		{% plural %}
					{{ counter }} web sites
		 		{% endblocktrans %}
		 	</div>

		 	{% include "staff/website/toolbar.html" %}
		</div>

		<h1>
			<span>{% core_icon 'WebSite' %}&nbsp;
			{% trans "Web sites" %}</span>
		</h1>

		<div class="spacer25"></div>

		{% paginate website_list %}

		{% include "widgets/pagination.html" %}

		<table class="table table-hover">
		<thead>

		  <tr>
			<th class="col-sm-1">{% trans "Img." %}</th>
			{% sort_th _("Name (description)") 'name' '' 'col-sm-4' %}
			{% sort_th _("URI") 'url' '' 'col-sm-3' %}
			{% sort_th _("Added") 'date_created' '' 'col-sm-1' %}
			<th class="col-sm-1 centered">{% trans "Processing parameters" %}</th>
			{% sort_th _("Processing chain") 'processing_chain' '' 'col-sm-1 centered' %}
			{% comment %}
				{% sort_th _("Fetch limit") 'fetch_limit_nr' '' 'col-sm-1 centered' %}
			{% endcomment %}
			<th class="col-sm-1 right">{% trans "Actions" %}</th>
		  </tr>
		</thead>
		<tbody>

		{% captureas all_plural %}{% trans "All" context "plural" %}{% endcaptureas %}

		{% for website in website_list %}
			<tr>
				<td>
					{% if website.image %}
						<img src="website.image.url" />

					{% elif website.image_url %}
						<img src="website.image_url" />

					{% endif %}
				</td>
				<td>
					<span class="pull-right very-muted"
							data-toggle="tooltip"
							title="{{ website.id }}">
						{% core_icon 'info-sign' %}
					</span>
					{% inplace_edit 'website.name' %}
					<br />
					<span class="muted">{% trans "Description: " %}</span>
					{% inplace_edit 'website.short_description' edit_empty_value=_('—') %}

				</td>
				<td><a href="{{ website.url }}">{{ website.url }}</a></td>
				<td>
					<span title="{{ website.date_created }}" data-toggle="tooltip">
						{{ website.date_created|naturaldelta }}
					</span>
				</td>
					<td class="centered">
					{% if not website.processing_chain or website.processing_chain.parameters %}

						<div class="btn-group">
							<a id="edit-parameters-processor-{{ processor.id }}"
			        				href="{% url 'edit_field' klass='WebSite' oid=website.id form_class='WebSiteEditProcessingParametersForm' %}"
			        				data-toggle="modal" data-target="#" data-tooltip="tooltip"
			        				title="{% if website.processing_parameters %}{% trans "Edit processing parameters" %}{% else %}{% trans "Create processing parameters for this web site" %}{% endif %}"
			        				class="btn btn-xs btn-{{ website.processing_parameters|yesno:'primary,default' }} centered popover-top">
			        			{% core_icon 'cog' False %}
			      			</a>
				  			</div>

			  		{% else %}

			  			<span class="very-muted" data-toggle="tooltip"
					  			title="{% trans "Processing chain has no parameter" %}">—</span>

					{% endif %}

	    		</td>
				<td class="centered">{% inplace_edit 'website.processing_chain' edit_empty_value=_('default') %}</td>

				{% comment %}
					<td class="centered">{% inplace_edit 'website.fetch_limit_nr' %}</td>
				{% endcomment %}

				<td class="right">
					{% url 'staff_website_delete' website.pk as delete_url %}
					{% include "widgets/delete-form-button.html" %}
				</td>
			</tr>
		{% endfor %}

		</tbody>
		</table>

		{% include "widgets/pagination.html" %}

	{% else %}

		<div class="pull-right">
		 	{% include "staff/website/toolbar.html" %}
		</div>

		<h2>
			<span>
			{% core_icon 'BaseFeed' %}&nbsp;{% if filter %}{% blocktrans %}
			    No website matching filter query.
			{% endblocktrans %}{% else %}{% blocktrans %}
			    No website.
			{% endblocktrans %}{% endif %}</span>
		</h2>

	{% endif %}

	</div>
</div>
{% endblock application_content %}

{% block extrajs_footer %}
    {{ block.super }}

	{% include "snippets/mail-collapse-js-glue.html" with focus_name='id_name' object_list=website_list %}

{% endblock extrajs_footer %}
