
{% url 'help' as help_url %}
{% captureas chat_fake_url %}#chat-fake-url{% endcaptureas %}

<div id="welcome-beta">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2 col-ld-6 col-ld-offset-3">
            <h2>{% trans "Welcome to 1flow," %}<br />
                <small>{% trans "your new home to read and write digital content." %}</small></h2>

            <p>{% blocktrans %}We hope to bring a delightful experience in these domains. Please take time to discover the interface and refer to the <a href="{{ help_url }}" title="Get the most of the application">features button</a> to get the most of the application.{% endblocktrans %}</p>

            <p>{% blocktrans %}Keep in mind that we are a young project. Some things will feel unpolished but we fix problems quickly. <strong>1flow gets better everyday.</strong> Sometimes faster, when our developer had a kitesurfing session.{% endblocktrans %}</p>

            <p>{% if config.IRC_SUPPORT_CHANNEL %}
                {% with supchan=config.IRC_SUPPORT_CHANNEL supserv=config.IRC_SUPPORT_SERVER %}

                    {% blocktrans %}If you need help, reach us via the <a href="{{ chat_fake_url }}">live chat</a> or <a href="irc://{{ supserv }}/{{ supchan }}">via IRC</a>.{% endblocktrans %}
                {% endwith %}
            {% else %}

                {% blocktrans %}If you need help, reach us via the <a href="{{ chat_fake_url }}">live chat</a>.{% endblocktrans %}
            {% endif %}

            {% blocktrans %}Leave feature requests and questions in our <a href="http://1flow.userecho.com/">support forum</a>. We are hardly waiting for your feedback ;-){% endblocktrans %}</p>

            <p>{% trans "We hope you'll enjoy 1flow as much as we enjoy building it." %}</p>

            <p>{% trans "Cheers," %}</p>

            <p>——<br />
            {% blocktrans %}<a href="https://twitter.com/Karmak23">Olivier</a> &amp; <a href="https://twitter.com/mchaignot">Matthieu</a>,<br />
            1flow founders{% endblocktrans %}</p>

        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2 col-ld-6 col-ld-offset-3">

            <div class="spacer50"></div>
            <div class="spacer25"></div>

            {% if mongodb_user.has_content %}
                <div class="row">
                    <div class="col-xs-12 centered">
                        <a class="btn btn-info btn-lg"
                            href="{% url 'skip_welcome_beta' %}"
                            ><i class="icon-bolt">
                        </i> {% trans "Bring me to my news!" %}</a>
                        <br />
                        <span class="muted">{% trans "(Next time you'll get there directly)" %}</span>
                    </div>
                </div>

            {% else %}

                <div class="row">
                    <div class="col-xs-12 centered">
                        <a class="btn btn-success btn-lg"
                            href="{% url 'skip_welcome_beta' %}"
                                title=""><i class="icon-plus">
                            </i> {% trans "Start adding some sources to read news from" %}</a>

                    </div>
                </div>

            {% endif %}

            <div class="spacer100"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){

        $('#welcome-beta a[href^="http"]').attr('target','_blank');
        //$('#welcome-beta-page-1 img').parent().addClass('float-right');

    });
</script>
