{% extends "onlyme_base.html" %}

{% load i18n %}

{% block title %}{% trans "Confirm your email address" %}{% endblock %}

{% block onlyme_content %}
    <fieldset>
        <legend><h2>{% trans "Confirm your email address" %}</h2></legend>

        <p>{% blocktrans %}We have sent you an email to <b>{{ email }}</b> for verification. Follow the link provided to finalize the signup process. {% endblocktrans %}</p>

        <p>{% trans "If you do not receive it within a few minutes, " %}
            {% include "snippets/contact-support.html" %}</p>

        <div class="spacer25"></div>

        <p><a href="{{ success_url }}">Proceed to signin</a> or <a href="javascript:window.open('', '_self', '');window.close()">close this window/tab</a>.</p>
    </fieldset>
{% endblock %}
