{% extends "onlyme_base.html" %}
{% load i18n %}

{# NOT USED IN 1FLOW (USER IS REDIRECTED) BUT KEPT AS REFERENCE. #}

{% block title %}{% trans 'Signed out.' %}{% endblock title %}

{% block onlyme_content %}

    <h1>{% trans 'Signed out.' %}</h1>
    <h2>{% trans 'Welcome back to anonymous world.' %} {% trans 'Thanks for spending some time on <strong>1flow</strong>.' %}</h2>
    {% captureas signin_url %}{% url 'signin' %}{% endcaptureas %}
    <p>{% blocktrans %}
        Would you like to <a href="{{signin_url}}">sign in again</a> with another account?
    {% endblocktrans %}</p>
{% endblock onlyme_content %}
