{% extends "onlyme_base.html" %}

{% load i18n widget_tweaks %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block onlyme_content %}
    <form method="POST" action="" class="form-horizontal">
        <fieldset>
        <legend><h2>{% trans "Change password" %}</h2></legend>

            {% csrf_token %}

            {% for field in form %}
                {% include "widgets/forms/field-generic.html" with field=field %}

            {% endfor %}

            <div class="spacer25"></div>

            <div class="form-actions">
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
                </div>
            </div>
        </fieldset>
    </form>
     <script type="text/javascript">
        $(document).ready(function() {
            $("#id_password_current").focus();
        });
    </script>

{% endblock %}
