{% extends "onlyme_base.html" %}

{% load i18n %}
{% load account_tags %}

{% block title %}{% trans "Password reset sent" %}{% endblock %}

{% block onlyme_content %}

    <fieldset>
        <legend><h2>{% trans "Password reset sent" %}</h2></legend>

        {% if resend %}
            <p>{% trans "We have resent the password email. If you do not receive it within a few minutes, " %}

            {% include "snippets/contact-support.html" %}</p>

        {% else %}
            <p>{% trans "We have sent you an email. If you do not receive it within a few minutes, try resending or " %}

            {% include "snippets/contact-support.html" %}</p>

            <form method="POST" action="{% url "account_password_reset" %}">
                {% csrf_token %}
                {% for field in form %}
                    {{ field.as_hidden }}
                {% endfor %}
                <button type="submit" name="resend" class="btn btn-primary">{% trans "Resend" %}</button>
            </form>

        {% endif %}
    </fieldset>
{% endblock %}
