{% extends "onlyme_base.html" %}

{% load i18n %}

{% block title %}{% trans "Set your new password" %}{% endblock %}

{% block onlyme_content %}

    <form method="POST" class="form-horizontal"
            action="{% url "account_password_reset_token" uidb36=uidb36 token=token %}">
        <fieldset>
        <legend><h2>{% trans "Set your new password" %}</h2></legend>

            {% csrf_token %}

            {% for field in form %}
                {% include "widgets/forms/field-generic.html" with field=field %}

            {% endfor %}

            <div class="clearfix"></div>
            <div class="spacer25"></div>

            <div class="form-actions">
                <div class="pull-right">
                 <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
            </div>

            <div class="clearfix"></div>
            <div class="spacer30"></div>

            <p>{% blocktrans %}If it works, you will be redirected to the signin page, and will be able to login immediately.{% endblocktrans %}</p>

        </fieldset>
    </form>
{% endblock %}
