-e git+https://github.com/mbi/django-rosetta@b56350aa2da8d6a9ac8c7ff74d0f64e9d84ca096#egg=django_rosetta-dev
-e git+https://github.com/platypus-creation/django-rosetta-grappelli.git@83eff3890b6881460f105b6ecd63ff055f51dba4#egg=django_rosetta_grappelli-dev
django-nose==1.1
Fabric==1.6.0
flake8==2.0
ipython==0.13.2
pip-tools==0.3.1
