-e git+https://github.com/Karmak23/fabric.git@7bd2eee26d7255c7b0edac0b87c1ee196086668f#egg=fabric-dev
-e git+https://github.com/1flow/sparks.git@develop#egg=sparks
-e git+https://github.com/dcramer/django-devserver.git@master#egg=devserver
-e git+https://github.com/mbi/django-rosetta.git@master#egg=django_rosetta-dev
-e git+https://github.com/orf/django-debug-toolbar-template-timings.git@master#egg=django_debug_toolbar_template_timings-dev
-e git+https://github.com/hmarr/django-debug-toolbar-mongo.git@master#egg=django-debug-toolbar-mongo-dev
-e git+https://github.com/playfire/django-debug-toolbar-user-panel.git@master#egg=django-debug-toolbar-user-panel-dev
-e git+https://github.com/calebsmith/django-template-debug.git@master#egg=django_template_debug-dev
-e git+https://github.com/platypus-creation/django-rosetta-grappelli.git@master#egg=django_rosetta_grappelli-dev
coverage==3.7.1
django-nose==1.2
django-haystack-panel==0.2.1
django-debug-toolbar==1.2
flake8==2.0
guppy==0.1.10
ipython==2.0
line-profiler==1.0b3
paramiko==1.13.0
pip-tools==0.3.4
sqlparse==0.1.9
Werkzeug==0.9.4
