{% extends "widgets/forms/field-generic.html" %}

{% block field_label_css %}col-sm-3{% endblock field_label_css %}
{# It's voluntary not to fill the 12-grid. #}
{% block field_input_css %}col-sm-8{% endblock field_input_css %}

{% block field_input_field %}
    {% render_field field class+="form-control full-width" %}
{% endblock field_input_field %}

{% block field_extra_footer %}
    {{ block.super }}

    <script type="text/javascript">
        $('#{{ field.auto_id }}[data-placeholder]').each(function(index) {
            $(this).val($(this).data('placeholder'));
        });
    </script>
{% endblock field_extra_footer %}
