{% extends "landing_base.html" %}

{% load i18n %}
{% load widget_tweaks %}
{% load base_utils %}

{% block landing_title %}
  {% firstof landing_page_title 'landing_page_title' %}
{% endblock landing_title %}

{% block landing_content %}

  <form method='POST' class="subemail span8 offset2">
    {% csrf_token %}

    <div class="input-append control-group {% if form.errors %}error{% endif %}">
      {% with email_placeholder='placeholder:'|add:email_placeholder_text %}
      {% render_field form.email|attr:'autofocus'|attr:email_placeholder class+="input-xlarge custom" %}
      {% endwith %}
      <button type="submit" class="custom">{{ invitation_button_label }}</button>
    </div>

    <div class=" control-group {% if form.errors %}error{% endif %}">
     {% if form.email.errors %}
         <span class="label label-warning">{% for error in form.email.errors %}
             {{ error }}
         {% endfor %}</span>
     {% endif %}

    </div>
  </form>

{% endblock landing_content %}
