{% extends "landing_base.html" %}

{% load i18n %}
{% load markdown_deux_tags %}

{% block landing_content %}

    <div class="span8 offset2" id="thanks">
        <h4>
            {% if already_registered %}
                {% filter markdown %}{% firstof already_registered_thanks_content 'already_registered_thanks_content' %}{% endfilter %}
            {% else %}
                {% filter markdown %}{% firstof successful_thanks_content 'successful_thanks_content' %}{% endfilter %}

            {% endif %}
            <br/>
            {% if beta_invites_left == 0 or debug %}
                        {% filter markdown %}{% firstof no_invite_left_notice_content 'no_invite_left_notice_content' %}{% endfilter %}
                        {% if debug %}<span class="label label-info">(translator, you see this text because debug is enabled)</span>{% endif %}

            {% endif %}
            <br/>
        </h4>
    </div>

{% endblock landing_content %}
