{% extends 'base.html' %}
{% load js compressed i18n base_utils markdown_deux_tags %}

{% block title %}{% block landing_title %}{% firstof landing_title 'landing_title' %}{% endblock landing_title %}{% endblock title %}

{% block extrajs_header %}
  {% compressed_css 'core-bootstrap-bare' %}
  {% compressed_css 'landing' %}
{% endblock extrajs_header %}

{% block body %}
  <header id="header" class="site-header">
    <div class="container">

      {% block lang_switcher %}
        {% include 'snippets/lang-switcher.html' %}
      {% endblock lang_switcher %}

      <div class="row-fluid">
        <div class="span12">
          <div class="pull-left">
            <h1><a class="site-title" href="/">
              1flow <span
                class="badge badge-warning badge-beta">BETA</span></a>
            </h1>
            <h2 class="site-subtitle">{{ baseline_site_subtitle|markdown }}</h2>
          </div>
          {% block header_right %}
            <div class="user text-right">
              {% if user.is_authenticated %}
                <a class="user-login link-tooltip" href="{% url 'home' %}"
                  title="{% trans "Head to Home" %}"><i
                    class="icon-home"></i>  {% trans "Application" %}</a>
                <!--
                <a class="user-login link-tooltip"
                  title="{% trans "Read our blog" %}"
                  href="http://blog.1flow.net/"><i
                    class="icon-bullhorn"></i></a>
                -->
              {% else %}

                <!-- DISABLED FOR NOW

                <a class="user-login link-tooltip"
                  title="{% trans "Register for a new account" %}"
                  href="{% url 'register' %}"><i
                    class="icon-ticket"></i> {% trans "Register" %}</a>

                -->

                <a class="user-login link-tooltip"
                  title="{% trans "Identify yourself to access the service" %}"
                  href="{% url 'signin' %}"><i
                    class="icon-signin"></i> {% trans "Sign in" %}</a>
              {% endif %}

              <a class="user-login link-tooltip"
                href="https://twitter.com/1flow_io"
                title="{% trans "Follow us on twitter!" %}"
                target="_blank"><i
                  class="icon-twitter"></i></a>
            </div>
          {% endblock header_right %}
        </div><!-- /span12 -->
      </div><!-- /row-fluid -->
    </div><!-- /container -->

  <div class="container">

    {% block full_content %}{% endblock full_content %}

  </div><!-- /container -->
</header>

<section id="features" class="features">
  <div class="container">
    <div class="row-fluid">

      {% block landing_features %}{% endblock landing_features %}

    </div><!-- /row-fluid -->
  </div><!-- /container -->
</section>

<footer id="footer" class="footer">

  <div class="modal hide fade in" id="license-and-copyrights">
    <div class="modal-header">
      <h1>{% trans "1flow's copyrights & licenses" %}</h1>
    </div>
    <div class="modal-body">
      {% filter markdown %}{% blocktrans %}

## 1flow is free software

Under the terms of the [GNU Affero General Public License version 3][affero] or later.

You can always find the latest source code, and the source code of the version running this web application, in [the public repository][repo].


### Graphical theme license

Please note that **the graphical theme is not libre software**.
This is stated and explained in details in the source code, in the `COPYING` file. This will change in the future as soon as a libre theme is contributed to the project, or if we find a deal with the theme creator.


### 1flow.io help images

As of 2014-01-17, [Matthieu Chaignot][mchai] offered these images under the CC-BY-SA 4.0 license. This could eventually change, but only in the way to make the new license compatible with the AGPLv3, if the current is proven not to be.


## Copyrights

- Copyright 2013-2014 [Olivier Cortès][kmk23] for the source code, most of the website design, the help/features text content, the project persona.
- Copyright 2013 [Matthieu Chaignot][mchai] for the landing page contents and all email contents, the help/features images and the landing page background image,
- Copyright 2013 K.P. for parts of design on the reading lists,
- Copyright a lot of OpenSource® and Free Software developers for all software components on which 1flow is built (Python, Django, PostgreSQL, MongoDB, Redis, Bootstrap, jQuery, and a lot more).


## Database contents copyrights

The contents of the `1flow.io` database (mostly plain text or HTML, because we don't host images nor videos) are copyrights of their respective owner in their respective countries.

In this case, licences may vary a lot given the content (some are CC-*, some are all rights reserved), and you may use the `1flow.io` platform at your own risk on these content, given what you do with it.

  [affero]: http://www.gnu.org/licenses/agpl-3.0.html
  [repo]: https://github.com/1flow/
  [kmk23]: https://twitter.com/Karmak23
  [mchai]: https://twitter.com/mchaignot

{% endblocktrans %}{% endfilter %}

    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" data-dismiss="modal"
          data-target="license-and-copyrights">{% trans "Agreed" %}</button>
    </div>
  </div>

  <div class="container">
    <div class="row-fluid">
      <div class="span12">
        <h1 class="footer-title pull-left"><a href="/">1flow <span
          class="badge badge-warning badge-beta">BETA</span></a> <small class="footer-title">{{ baseline_site_subtitle }}</small></h1>

        {% if user.is_authenticated and user.is_staff or user.is_superuser %}
          <div class="pull-left copyright" style="padding-left: 100px">version {{ oneflow_version }}</div>
        {% endif %}

        <div class="pull-right copyright"><a href="#" data-toggle="modal"
            data-target="license-and-copyrights">{% trans "1flow is free software; copyright 2013-2014 Olivier Cortès and others" %}</a>
        </div>
      </div>
    </div>
  </div>
</footer>
{% endblock body %}

{% block extrajs_footer %}
  {% compressed_js 'vendor-all' %}
  {% compressed_js 'core' %}

  <script type="text/javascript">

    // Already done by core.
    //common_init();

    $('a.link-tooltip').tooltip();

    try {
        $("#lang-flags input[type=image]").tooltip({placement: 'bottom'});

    } catch(err) {
      console.log('Lang flags seem to not be here: ' + err)
    };

  </script>
{% endblock extrajs_footer %}
