{% extends 'base.html' %}
{% load js i18n base_utils markdown_deux_tags %}

{% block title %}{% block landing_title %}{% firstof landing_title 'landing_title' %}{% endblock landing_title %}{% endblock title %}

{% block extrajs_header %}
      {% js 'js/jquery.js' %}
      {% css 'css/custom.css' %}
      {% css 'css/font-awesome.min.css' %}
{% endblock extrajs_header %}

{% block body %}
      <header id="header" class="site-header">
        <div class="container">

          {% block lang_switcher %}
            {% include 'snippets/lang-switcher.html' %}
          {% endblock lang_switcher %}

          <div class="row-fluid">
            <div class="span12">
              <div class="pull-left">
                <h1><a class="site-title" href="/">
                  1flow <span
                    class="badge badge-warning badge-beta">BETA</span></a>
                </h1>
                <h2 class="site-subtitle">{{ baseline_site_subtitle|markdown }}</h2>
              </div>
              <div class="user text-right">
                <a class="user-login link-tooltip"
                  href="https://twitter.com/1flow_io"
                  target="_blank"
                  title="{% trans "Follow us on twitter!" %}"><i
                  class="icon-twitter"></i></a>
                <!--
                <a class="user-login" href="http://blog.1flow.net/"
                  title=""><i class="icon-bullhorn"></i></a>
                -->
              </div>
            </div><!-- /span12 -->
          </div><!-- /row-fluid -->
        </div><!-- /container -->

      <div class="container">

        {% block full_content %}{% endblock full_content %}

      </div><!-- /container -->
    </header>

    <section id="features" class="features">
      <div class="container">
        <div class="row-fluid">

          {% block landing_features %}{% endblock landing_features %}

        </div><!-- /row-fluid -->
      </div><!-- /container -->
    </section>

    <footer id="footer" class="footer">
      <div class="container">
        <div class="row-fluid">
          <div class="span12">
            <h1 class="footer-title pull-left"><a href="/">1flow <span
              class="badge badge-warning badge-beta">BETA</span></a> <small class="footer-title">{{ baseline_site_subtitle }}</small></h1>
            <div class="pull-right copyright">{% if footer_copyright %}{{ footer_copyright|markdown }}{% else %}{% trans "©2013, all right reserved | <strong>1flow</strong> team" %}{% endif %}</div>
          </div>
        </div>
      </div>
    </footer>
{% endblock body %}
