{% extends "landing_base.html" %}

{% load i18n %}
{% load widget_tweaks %}
{% load base_utils %}
{% block landing_content %}

  <form method='POST' class="subemail">
    {% csrf_token %}

    <div class="input-append control-group {% if form.errors %}error{% endif %}">
      {% firstofas email_placeholder_text 'email_placeholder_text' as email_placeholder_translated %}
      {% with email_placeholder='placeholder:'|add:email_placeholder_translated %}
      {% render_field form.email|attr:'autofocus'|attr:email_placeholder class+="input-large custom" %}
      {% endwith %}
      <button type="submit" class="custom">{% firstof invitation_button_label 'invitation_button_label' %}</button>
    </div>

    <div class=" control-group {% if form.errors %}error{% endif %}">
     {% if form.email.errors %}
         <span class="label label-warning">{% for error in form.email.errors %}
             {{ error }}
         {% endfor %}</span>
     {% endif %}

    </div>
  </form>

{% endblock landing_content %}
