{% extends 'home.html' %}
{% load sorting_tags %}

{% block title %}{% blocktrans with feed_name=mailfeed.name %}Rules for {{ feed_name }}{% endblocktrans %}{% endblock title %}
{% block body_id %}mail-feed-rules{% endblock body_id %}

{% block application_content %}

{% inplace_static %}

<div class="spacer50"></div>

<div class="row">
	<div>
	{% if mailfeedrule_list %}

		 <div class="actions pull-right">
		 	<div class="btn-group very-muted">
		 		{% blocktrans count counter=mailfeedrule_list|length %}
		 		    {{ counter }} rule
		 		{% plural %}
					{{ counter }} rules
		 		{% endblocktrans %}
		 	</div>
			<div class="btn-group" style="margin-left: 50px;">
				<button id="form-collapser" class="btn btn-primary">{% trans "Add new" %}</button>
			</div>
		</div>

		<h1>
			<a href="{% url 'mailaccount_list_create' %}"
				title="{% trans "Switch to mail accounts" %}"
				data-toggle="tooltip"
				class="popover-top"><i
				class="icon icon-exchange"></i>
			</a>

			<span class="very-muted">&nbsp;&nbsp;
			<i class="icon icon-angle-right"></i>
			&nbsp;&nbsp;</span>

			<a href="{% url 'mailfeed_list_create' %}"
				title="{% trans "Back to mail feeds" %}"
				data-toggle="tooltip"
				class="popover-top"><i
				class="icon icon-envelope"></i>
			</a>

			<span class="very-muted">&nbsp;&nbsp;
			<i class="icon icon-angle-right"></i>
			&nbsp;&nbsp;</span>

			<span><i class="icon icon-cogs"></i>&nbsp;{% blocktrans with feed_name=mailfeed.name %}
			    Rules for <strong>{{ feed_name }}</strong>
			{% endblocktrans %}</span>
		</h1>

		<div class="spacer50"></div>

		<table class="table table-hover">
		<thead>

		  {% include "mailfeedrule/form.html" %}

		  <tr>
			{% sort_th _("Account") 'account' %}
			{% sort_th _("Header") 'header_field' %}
			{% sort_th _("Custom") 'other_header' %}
			{% sort_th _("Match type") 'match_type' %}
			{% sort_th _("Value") 'match_value' %}
			{% sort_th _("Result") 'match_action' %}

			<th class="centered">{% trans "Valid?" %}</th>
			<th class="right">{% trans "Matches" %}</th>
			<th class="right">{% trans "Actions" %}</th>
		  </tr>
		</thead>
		<tbody>
		{% for mailfeedrule in mailfeedrule_list %}
			<tr>
				<td>{% inplace_edit 'mailfeedrule.account' %}</td>
				<td>{% inplace_edit 'mailfeedrule.header_field' %}</td>
				<td>{% inplace_edit 'mailfeedrule.other_header' %}</td>
				<td>{% inplace_edit 'mailfeedrule.match_type' %}</td>
				<td>{% inplace_edit 'mailfeedrule.match_value' %}</td>
				<td>{% inplace_edit 'mailfeedrule.match_action' %}</td>
				<td class="centered">{#{% mail_is_usable_to_icon mailfeed %}#}TODO</td>
				<td class="right">###</td>
				{% url 'mailfeedrule_delete' mailfeed.pk mailfeedrule.pk as delete_url %}
				<td class="right">{% include "widgets/delete-form-button.html" %}</td>
			</tr>
		{% endfor %}
		</tbody>
		</table>
	{% else %}

		<h2><i class="icon icon-cogs"></i>&nbsp;
			{% blocktrans with feed_name=mailfeed.name %}
			    No rule yet for <strong>{{ feed_name }}</strong>.
			{% endblocktrans %}</h2>

		<div class="spacer50"></div>

		<table class="table">
			<tbody>
				{% include "mailfeedrule/form.html" with create_first=1 %}
			</tbody>
		</table>
	{% endif %}

		<div class="spacer50"></div>

		<p class="muted">{% trans "Rules can apply to all account: for that case, just don't choose any." %}</p>

	</div>
</div>
{% endblock application_content %}

{% block extrajs_footer %}
    {{ block.super }}

	{% include "snippets/mail-collapse-js-glue.html" with focus_name='id_account' object_list=mailfeedrule_list %}

{% endblock extrajs_footer %}
