{% extends 'home.html' %}
{% load sorting_tags %}

{% block title %}{% blocktrans with feed_name=mailfeed.name %}Rules for {{ feed_name }}{% endblocktrans %}{% endblock title %}
{% block body_id %}mail-feed-rules{% endblock body_id %}

{% block application_content %}

{% inplace_static %}

<div class="spacer50"></div>

<div class="row">
	<div>
	{% if mailfeedrule_list %}

		 <div class="actions pull-right">
		 	<div class="btn-group very-muted">
		 		{% blocktrans count counter=mailfeedrule_list|length %}
		 		    {{ counter }} rule
		 		{% plural %}
					{{ counter }} rules
		 		{% endblocktrans %}
		 	</div>
			<div class="btn-group" style="margin-left: 50px;">
				<button id="form-collapser" class="btn btn-primary">{% trans "Add new" %}</button>
			</div>
		</div>

		<h1>
			{% include "mailfeedrule/breadcrumbs.html" %}

			<span>
			{% core_icon 'MailFeedRule' %}&nbsp;
			{% blocktrans with feed_name=mailfeed.name %}
		    	Rules for <strong>{{ feed_name }}</strong>
			{% endblocktrans %}</span>
		</h1>

		<div class="row">
			<div class="col-md-4 right">
				<h4 class="muted">{% trans "Global feed match action:" %}</h4>
			</div>
			<div class="col-md-8">
			 <h4>{% inplace_edit "mailfeed.match_action" tag_name_cover:'span' %}</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 right">
				<h4 class="muted">{% trans "Global feed final action:" %}</h4>
			</div>
			<div class="col-md-8">
			 <h4>{% inplace_edit "mailfeed.finish_action" tag_name_cover:'span' %}</h4>
			</div>
		</div>

		<div class="spacer50"></div>

		<table class="table table-hover">
		<thead>

		  {% include "mailfeedrule/form.html" %}

		  <tr>
			<th>{% trans "Mail account" %}</th>
			{# <th>{% trans "Mailbox" %}</th> #}
			<th>{% trans "Header" %}</th>
			<th>{% trans "Custom header" %}</th>
			<th>{% trans "Match type" %}</th>
			<th>{% trans "Value" %}</th>
			<th>{% trans "Result" %}</th>
			<th>{% trans "Finish" %}</th>

			<th class="centered">{% trans "Status" %}</th>
			<th class="right">{% trans "Actions" %}</th>
		  </tr>
		</thead>
		<tbody>
		{% for mailfeedrule in mailfeedrule_list %}
			<tr>
				<td>{% inplace_edit 'mailfeedrule.account' edit_empty_value=_('All') %}</td>

				{# <td>{% inplace_edit 'mailfeedrule.mailbox' %}</td> #}

				<td>{% inplace_edit 'mailfeedrule.header_field' %}</td>
				<td>
				{% if mailfeedrule.header_field != 'other' %}
					<span class="very-muted">
						{% trans "not applicable" %}
					</span>

				{% else %}
					{% inplace_edit 'mailfeedrule.other_header' edit_empty_value=_('please edit') %}

				{% endif %}
				</td>
				<td>{% inplace_edit 'mailfeedrule.match_type' %}</td>
				<td>{% inplace_edit 'mailfeedrule.match_value' %}</td>
				<td>{% inplace_edit 'mailfeedrule.match_action' edit_empty_value=_('global feed action') %}</td>
				<td>{% inplace_edit 'mailfeedrule.finish_action' edit_empty_value=_('global feed action') %}</td>

				<td class="centered">{#{% mail_is_usable_to_icon mailfeedrule %}#}TODO</td>

				<td class="right">
					{% url 'mailfeedrule_position' mailfeed.pk mailfeedrule.pk as position_url %}
					{% include "widgets/position-buttons.html" with obj=mailfeedrule position_first=forloop.first position_last=forloop.last %}

					{% url 'mailfeedrule_delete' mailfeed.pk mailfeedrule.pk as delete_url %}
					{% include "widgets/delete-form-button.html" %}
					</td>
			</tr>
		{% endfor %}
		</tbody>
		</table>
	{% else %}

		<h2>
			{% include "mailfeedrule/breadcrumbs.html" %}

			<span>
			{% core_icon 'MailFeedRule' %}&nbsp;
			{% blocktrans with feed_name=mailfeed.name %}
			    No rule yet for <strong>{{ feed_name }}</strong>.
			{% endblocktrans %}</span>
		</h2>

		<div class="spacer50"></div>

		<table class="table">
			<tbody>
				{% include "mailfeedrule/form.html" with create_first=1 %}
			</tbody>
		</table>
	{% endif %}

		<div class="spacer50"></div>

		<p class="muted">{% trans "Note: 1flow engine will <strong>recurse all mailboxes</strong> to look for mails to match rules on. This will eventually be customizable in the future." %}</p>

	</div>
</div>
{% endblock application_content %}

{% block extrajs_footer %}
    {{ block.super }}

	{% include "snippets/mail-collapse-js-glue.html" with focus_name='id_account' object_list=mailfeedrule_list %}

{% endblock extrajs_footer %}
