
{% if preferences.home.read_shows == 1 %}
    <a href="{% url 'read' %}"

{% elif preferences.home.read_shows == 2 %}
    <a href="{% url 'source_selector' %}"

{% elif preferences.home.read_shows == 3 %}
    <a href="{% url 'read_later' %}"

{% elif preferences.home.read_shows == 4 %}
    <a href="{% url 'read_all_feed' feed=user.user_subscriptions.imported_items.id %}"

{% elif preferences.home.read_shows == 5 %}
    <a href="{% url 'read_starred' %}"

{% else %}
    {# Just in case there is a problem. #}
    <a href="{% url 'source_selector' %}"
{% endif %}

    class="{% view_name_active "read_with_endless_pagination" %}">
  {% trans 'Read' %}
</a>
