
{% comment %}

  NEVER hide the beginning of the block,
  even if not super_powers_enabled. We need
  to know about maintenance mode, and switch
  between enable/disable as staff member.

{% endcomment %}

{% if user.is_staff or user.is_superuser %}

  {% if debug %}

    <li style="opacity: 0.25">
      <a href="#" onclick="javascript:$('.navbar').first().addClass('hide');">
        <i class="icon icon-eye-close"></i>
      </a>
    </li>

  {% endif %}

  {% if MAINTENANCE_MODE %}

    <li>
      <a href="#" disabled="disabled">
        <span class="badge badge-warning badge-beta"><i
            class="icon-cogs"></i> {% trans "Maintenance" %}</span>
      </a>
    </li>

  {% endif %}

  {% if preferences.staff.super_powers_enabled %}

    <li id="system-informations" class="hidden-inline-block-xs">
      <a href="#"
        data-toggle="popover" data-placement="bottom"
        data-title="{{ FULL_VERSION }}" data-html="true"
        data-content="
          <div class='spacer10'></div>
          <div class='row'>
            <div class='col-xs-12'>
            <a class='btn btn-info btn-block centered' href='{% url 'admin_status' %}'>{% core_icon 'SystemStatistics' %}&nbsp;{% trans "System statistics" %}</a>
            </div>
          </div>
          <div class='spacer20'></div>
          <div class='row'>
            <div class='col-xs-12'>
            <a class='btn btn-info btn-block centered' href='{% url 'syncnode_list_create' %}'>{% core_icon 'SyncNode' %}&nbsp;{% trans "Sync network" %}</a>
            </div>
          </div>
          <div class='spacer10'></div>
      "
        ><i class="icon icon-info"></i>
      </a>
    </li>

    <script type="text/javascript">
    $(document).ready(function(){
        try {
          $("#system-informations").popover();

        } catch (err) {
          console.debug("Is bootstrap JS loaded/initialized: " + err);
        }
    });
    </script>

    <li>
      <a href="{% url 'preference_toggle' base='staff' sub='super_powers_enabled' %}">

  {% else %}

    <li style="opacity: 0.1">
      <a href="{% url 'preference_toggle' base='staff' sub='super_powers_enabled' %}">

  {% endif %}{# super powers enabled #}

        <i class="icon-bolt"></i>
      </a>
    </li>

{% endif %}{# superuser / statt #}
