<li class="dropdown nowrap">
  <a class="dropdown-toggle {% reverse_active 'staff_feed_list_create,staff_website_list_create' %}"
      data-toggle="dropdown" href="#">
    <span>
      {% trans "Management" %}
      <b class="caret"></b>
    </span>
  </a>

  <ul class="dropdown-menu">

    <li>
      <a href="#" disabled>
        {% core_icon 'info-sign' %}&nbsp;{{ FULL_VERSION }}
      </a>
    </li>

    <li class="divider"></li>

    <li class="{% reverse_active 'staff_feed_list_create' %}">
      <a href="{% url 'staff_feed_list_create' %}">
        {% core_icon 'StaffList' %}&nbsp;{% trans "Feeds" %}
      </a>
    </li>

    <li class="{% reverse_active 'staff_website_list_create' %}">
      <a href="{% url 'staff_website_list_create' %}">
      {% core_icon 'globe' %}&nbsp;{% trans "Web sites" %}</a>
    </li>

    <li class="divider"></li>

    <li class="{% reverse_active 'processingchain_list_create' %}">
      <a href="{% url 'processingchain_list_create' %}">
      {% core_icon 'random' %}&nbsp;{% trans "Processing chains" %}</a>
    </li>

    <li class="{% reverse_active 'processor_list_create' %}">
      <a href="{% url 'processor_list_create' %}">
      {% core_icon 'puzzle-piece' %}&nbsp;{% trans "Processors" %}</a>
    </li>

    <li class="divider"></li>

    <li>
      <a href='{% url 'admin_status' %}'>
        {% core_icon 'SystemStatus' %}&nbsp;{% trans "System status" %}
      </a>
    </li>

    <li>
      <a href='{% url 'syncnode_list_create' %}'>
        {% core_icon 'SyncNode' %}&nbsp;{% trans "Synchronization network" %}
      </a>
    </li>

    {% if FLOWER_URL or STATS_URL %}
      <li class="divider"></li>

    {% endif %}

    {% if FLOWER_URL %}

      <li>
        <a href="{{ FLOWER_URL }}" style="white-space: nowrap">
          {% trans "Workers management" %}&nbsp;
          <span class="muted">
            {% core_icon 'external-link' %}
          </span>
        </a>
      </li>

    {% endif %}

    {% if STATS_URL %}

      <li>
        <a href="{{ STATS_URL }}">
          {% trans "Statistics" %}&nbsp;
          <span class="muted">
            {% core_icon 'external-link' %}
          </span>
        </a>
      </li>

    {% endif %}


    <li class="divider"></li>

    <li>
      <a href="/admin/constance/config/">
        {% core_icon 'cog' %}&nbsp;{% trans 'Live configuration' %}
      </a>
    </li>

    <li>
      <a href="/admin/">
        {% core_icon 'dashboard' %}&nbsp;{% trans 'Django administration' %}
      </a>
    </li>

    <li>
      <a href="/translate/">
        {% core_icon 'flag' %}&nbsp;{% trans '1flow translations' %}
      </a>
    </li>

  </ul>
</li>
