{% if user.is_authenticated %}

  <ul class="nav navbar-nav navbar-right">

    {# nowrap is necessary, else the username gets to next line on Safari+iPad@portrait #}
    <li class="dropdown nowrap">
      <a class="dropdown-toggle {% reverse_active 'profile,preferences,historyentry_list' %} "
          data-toggle="dropdown" href="#">

          <span class="avatar-frame">
            {% if user.avatar %}
              <img src="{{ user.avatar.url }}" />
            {% elif user.avatar_url %}
              <img src="{{ user.avatar_url }}" />
            {% else %}
              <i class="icon-user"></i>
            {% endif %}
          </span>

        <span>
          {{ user.username }}
          <b class="caret"></b>
        </span>
      </a>
      <ul class="dropdown-menu">
        <li class="{% reverse_active 'preferences' %}">
          <a href="{% url 'preferences' %}">{% trans 'Preferences' %}</a>
        </li>
        <li class="{% reverse_active 'profile' %}">
          <a href="{% url 'profile' %}">{% trans 'Account' %}</a>
        </li>
        <li class="{% reverse_active 'historyentry_list' %}">
          <a href="{% url 'historyentry_list' %}">{% trans 'History' %}</a>
        </li>

        <li class="divider"></li>
        {# django-user account NEEDS a POST form. <li><a href="{% url 'signout' %}">{% trans 'Sign Out' %}</a></li> #}
        <li><form id="signout-from-menu-form" method="POST" class="form"
            action="{% url "signout" %}">
          {% csrf_token %}</form><a href="#"
            onclick="$('#signout-from-menu-form').submit()">{% trans 'Sign Out' %}</a></li>
      </ul>
    </li>
  </ul>

{% else %}
  <ul class="nav navbar-nav navbar-right">
    <li><a href="{% url 'signin' %}">{% trans 'Sign in' %}</a></li>
  </ul>

{% endif %}
