{% extends 'landing_base.html' %}

{% load i18n %}

{% block landing_title %}{% trans "That's a bad catch!" %}{% endblock landing_title %}

{% block lang_switcher %}{# intentionaly empty #}{% endblock lang_switcher %}

{% block full_content %}

    <div class="row-fluid">
        <div class="span6 offset3">
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <div class="hero-unit error500">
                <h1>{{ _('Oh my!') }}</h1>
                <h2>{{ _("The server encountered an error and couldn't recover.") }}</h2>
                <p>{{ _('We apologize for this situation. Developers have been automatically alerted about this problem.') }}</p>
                <p>{{ _('Please try again a little later, or navigate to <a href="/">elsewhere</a>.') }}</p>
            </div>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
    </div>

{% endblock full_content %}

{% block landing_features %}
        <div class="container">
          <div class="row-fluid">
                <div class="span8 offset2 text-center">
                    {% if request.sentry.id %}
                        <p>
                        {% blocktrans with sentry_id=request.sentry.id %}
                            If you need assistance, you may reference this error as <code>{{ sentry_id }}</code>.
                        {% endblocktrans %}
                        </p>
                    {% endif %}
                </div>
          </div><!-- /row-fluid -->
        </div><!-- /container -->

{% endblock landing_features %}
