{% extends 'error_base.html' %}

{% load i18n %}

{% block title %}{% trans "A wild bug appears!" %}{% endblock title %}

{% block error_content %}

	<div class="pull-right centered">
		<img src="{{ STATIC_URL }}/img/life_unfair_300_red.png"
			style="padding-left: 10px;"/>

		<br />
		<small class="muted">
			.
			<a href="http://knowyourmeme.com/memes/y-u-no-guy" target="_blank">.</a>
			.
			<a href="http://fr.wikipedia.org/wiki/Rage_comic" target="_blank">.</a>
			.
		</small>
	</div>

    <h1>{% trans 'Oh my!' %}</h1>
    <h2>{% trans "The server encountered an error and couldn't recover." %}</h2>
    <p>{% trans 'We apologize for this situation. Developers have been automatically alerted about this problem.' %}</p>
    <p>{% trans 'Please try again a little later, or navigate to <a href="/">elsewhere</a>.' %}</p>
{% endblock error_content %}
