{% extends 'error_base.html' %}

{% load i18n %}
{% load markdown_deux_tags %}

{% block landing_title %}{% trans "Successfully unsubscribed!" %}{% endblock landing_title %}

{% block onlyme_content %}
    {% filter markdown %}
{% blocktrans %}

# Unsubscribed!

## You will not receive anything more from us.

We are sad to see you jump without any parachute during the flight.

If you change your mind, you don't need to call *Iron Man*: just float gentely back to [Home][home] and register again.

  [home]: /

{% endblocktrans %}
    {% endfilter %}
{% endblock onlyme_content %}
