{% extends 'onlyme_base.html' %}

{% load i18n %}

{% block lang_switcher %}{# intentionaly empty in error pages #}{% endblock lang_switcher %}

{% block onlyme_content %}
    <div class="row">
        {% block error_content %}{% endblock error_content %}
    </div>

    {% if request.sentry.id %}
        <div class="row">
            <div class="col-xs-12">
                {% blocktrans with sentry_id=request.sentry.id %}
                    If you need assistance, you may reference this error as <code>{{ sentry_id }}</code>.
                {% endblocktrans %}
            </div>
        </div>
    {% endif %}
{% endblock onlyme_content %}
