{% extends 'onlyme_base.html' %}

{% load i18n %}

{% block lang_switcher %}{# intentionaly empty in error pages #}{% endblock lang_switcher %}

{% block landing_features %}
        <div class="container">
          <div class="row-fluid">
                <div class="span8 offset2 text-center">
                    {% if request.sentry.id %}
                        <p>
                        {% blocktrans with sentry_id=request.sentry.id %}
                            If you need assistance, you may reference this error as <code>{{ sentry_id }}</code>.
                        {% endblocktrans %}
                        </p>
                    {% endif %}
                </div>
          </div><!-- /row-fluid -->
        </div><!-- /container -->
{% endblock landing_features %}
