{# NOTE: base.html is in core/templates/ #}
{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">

            {# div.spacerXX don't work here. #}
            <p>&nbsp;</p>
            <p>&nbsp;</p>

            <div class="jumbotron only-me">
                {% block onlyme_content %}{% endblock onlyme_content %}
            </div>

            {# div.spacerXX don't work here. #}
            <p>&nbsp;</p>
            <p>&nbsp;</p>

        </div>
    </div>
</div>
{% endblock body %}
