{% comment %}
    This snippet is meant to be included from:
        - the selector modal.
        - the standalone import page.
{% endcomment %}

<form method="POST" action="{% url 'import_web_pages' %}"
    data-async data-target="#import-web-pages"
    class="form form-horizontal">
    {% csrf_token %}

    {% if in_modal %}
        <div class="modal-body">
            <div class="spacer25"></div>
    {% endif %}

    {% with hide_help_text=1 %}
        {% include "widgets/forms/field-textarea.html" with field=form.urls|attr:"rows:6"|add_class:"col-xs-12" %}
    {% endwith %}

    <div class="centered">
        <ul style="display: inline-block; text-align: left; padding-left: 20px">
            <li>{% blocktrans %}
            Type or copy-paste full addresses <strong class="popover-tooltip"
            title="You can import anything in 1flow (front pages, blog articles, streamed videos, audio files… 1flow currently only display text-pages, but as soon as custom renderers are implemented, your imported content will show correctly." >of any type</strong>, eg. <em>https://www.site.org/page.html</em>.
            {% endblocktrans %}</li>

            <li>{% trans "Use this bookmarklet to import while browsing:" %}

            {% trans "Drag this button to your bookmarks toolbar to install it." as drag_help_text %}

            {# BOOKMARK Unicode: U+1F516 (U+D83D U+DD16), UTF-8: F0 9F 94 96 #}
            <a href="javascript:void(location.href='http://{{ settings.SITE_DOMAIN }}{% url 'import_web_url' '' %}'+encodeURIComponent(location.href));" class="bookmarklet btn btn-mini btn-success popover-tooltip"
            onclick="javascript:alert(&quot;{{ drag_help_text }}&quot;);return false;"
            title="{{ drag_help_text }}"><i class="icon-bookmark"></i>&nbsp;{% trans "Import in 1flow" %}</a>

            </li>

            <li><a href="{% url 'help' %}#{% trans "importing-data-from-other-services" %}" target="_blank">{% trans "Need to import data from Readability / Pocket?" %}</a></li>
        </ul>
    </div>


    {% if in_modal %}
        </div>
        <div class="modal-footer">

    {% else %}
        <div class="form-actions">

    {% endif %}

        <div class="pull-left">
            <a href="#" class="btn" data-dismiss="modal">{% trans "Cancel" %}</a>
        </div>

        <button type="submit" class="btn btn-primary">{% trans "Launch import" %}</a>

    {% if in_modal %}
        </div>
    {% endif %}

</form>
