{% comment %}
    This snippet is meant to be included from:
        - the selector modal.
        - the standalone import page.
{% endcomment %}


<form method="POST" action="{% url 'import_web_pages' %}"
    data-async data-target="#import-web-pages"
    class="form form-horizontal">
    {% csrf_token %}

    {% if in_modal %}
        <div class="modal-body">
    {% endif %}

    {% with hide_help_text=1 %}
        {% include "widgets/forms/field-textarea.html" with field=form.urls|attr:"rows:6"|add_class:"span5" %}
    {% endwith %}

    <ul class="controls">
        <li><span class="popover-tooltip"
            title="{{ form.urls.help_text|safe }}">{% trans "Examples of input?" %}</span></li>
        <li><a href="{% url 'help' %}#{% trans "importing-data-from-other-services" %}" target="_blank">{% trans "Need to import data from Readability / Pocket?" %}</li>
    </ul>


    {% if in_modal %}
        </div>
        <div class="modal-footer">

    {% else %}
        <div class="form-actions">

    {% endif %}

        <div class="pull-left">
            <a href="#" class="btn" data-dismiss="modal">{% trans "Cancel" %}</a>
        </div>

        <button type="submit" class="btn btn-primary">{% trans "Launch import" %}</a>

    {% if in_modal %}
        </div>
    {% endif %}

</form>
