<div id="manage-subscription" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">{% trans "Edit subscription" %}</h3>
            </div>
            <form class="form form-horizontal" method="POST"
                    action="{% url 'edit_subscription' subscription=subscription.id %}">
                    {% csrf_token %}

                <div class="modal-body">

                    <!-- ———————————————————————————— delete subscription sub-modal -->
                    <div id="cancel-subscription" class="modal sub-modal hide">
                        <div class="modal-body">

                            <h4>{% blocktrans with subscription_name=subscription.name %}
                                Are you sure you want to cancel your subscription to <strong>{{ subscription_name }}</strong>?
                            {% endblocktrans %}</h4>

                            <p>{% blocktrans %}
                                If you do so, you will not receive future updates of this stream.
                                All articles so far from this subscription will be kept in your personnal space, but you will be able to reach them only via the global reading lists and <span class="not-ready" title="this feature is not ready yet.">the search engine</span>. Your watch attributes, ratings and other personnal data on these reads will remain untouched.
                            {% endblocktrans %}</p>

                            {% comment %}
                                {% include "widgets/forms/field-checkbox.html" with field=form.confirm %}
                            {% endcomment %}

                            {% if user.is_superuser and preferences.staff.super_powers_enabled %}

                            {% endif %}

                        </div>
                        <div class="modal-footer">

                            <a href="#" class="btn" data-dismiss="submodal">{% trans "I didn't meant that" %}</a>
                            <a href="{% url 'delete_subscription' subscription=subscription.id %}"
                                class="btn btn-danger">{% trans "Do it. I'm sure. I won't cry." %}</a>
                        </div>
                    </div>
                    <!-- ———————————————————————————— delete subscription sub-modal -->


                    <div class="form-group">
                        <div class="controls col-sm-col-8 col-sm-offset-4">
                            <div class="thumbnail">
                                {% if subscription.feed.site_url %}
                                    <a href="{{ subscription.feed.site_url }}"
                                        title="{% trans "Visit the website" %}"
                                        data-toggle="tooltip" target="_blank">
                                {% endif %}

                                {% if subscription.feed.thumbnail_url %}
                                    <img src="{{ subscription.feed.thumbnail_url }}" />

                                {% else %}
                                    <div class="generic-img"
                                        style="background-color: {% html_background_color_for_name subscription.name %}; color: {% html_foreground_color_for_name subscription.name %};">{% html_first_letters subscription.name 2 %}</div>

                                {% endif %}

                                {% if subscription.feed.site_url %}
                                    </a>
                                {% endif %}

                            </div>
                        </div>
                    </div>

                    {% if subscription.feed.closed %}
                        <div class="form-group">
                            <label class="control-label note col-sm-4">{% trans "NOTE:" %}</label>
                            <div class="controls muted col-sm-col-8 ">
                                {% blocktrans with closed_reason=subscription.feed.closed_reason date_closed=subscription.feed.date_closed|naturaldelta %}This feed has been closed {{ date_closed }} ago, it will not receive any new update. Reason invoqued: {{ closed_reason }}.{% endblocktrans %}
                            </div>
                        </div>

                    {% endif %}

                    {% include "widgets/forms/field-input-text.html" with field=form.name %}
                    {% include "widgets/forms/field-generic-unstyled.html" with field=form.folders %}

                {% if user.is_superuser and preferences.staff.super_powers_enabled and preferences.staff.selector_shows_admin_links %}

                    <div class="manage-admin-actions">
                        <a href="{{ NONREL_ADMIN }}feed/{{ subscription.feed.id }}"
                            target="_blank">
                          <i class="icon-edit icon-2x muted"></i>
                          {% trans "Open in Admin. Interface" %}
                        </a><br />

                        {% if not subscription.feed.thumbnail_url %}
                            <a href="https://www.google.com/search?q={{ subscription.feed.name|urlencode }}+logo&tbm=isch"
                                target="_blank">
                              <i class="icon-picture icon-2x muted"></i>
                              {% trans "Search on Google Images" %}
                            </a>&nbsp;&nbsp;&nbsp;&nbsp;

                            <a href="https://play.google.com/store/search?q={{ subscription.feed.name }}&c=apps"
                                target="_blank">
                              <i class="icon-android icon-2x muted"></i>
                              {% trans "Search on Google Play Store" %}
                            </a>

                        {% endif %}
                    </div>

                {% endif %}

                </div>
                <div class="modal-footer">

                    <span class="pull-left">
                    <a href="#cancel-subscription" role="button" data-toggle="submodal"
                        class="btn btn-danger">{% trans "Cancel this subscription" %}</a>
                    </span>

                    <a href="#" class="btn" data-dismiss="modal">{% trans "Cancel" %}</a>
                    <button type="submit" class="btn btn-primary">{% trans "Save" %}</a>
                </div>
            </form>
        </div>
    </div>
</div>
