<div class="spacer25"></div>
<div class="row-fluid">
    <div class="span12 ctrls">
        <div class="btn-group pull-right">
            <button class="btn">{% trans "Add a stream" %}</button>
            <button class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="{% url 'add_folder' %}"
                        data-toggle="modal">{% trans "Add a folder" %}</a></li>
            </ul>
        </div>
    </div>
</div>
<form>
    <div class="row-fluid">
        <fieldset id="reading-lists" class="span6">
            <legend>{% trans "Reading lists" %}</legend>
            <div class="row-fluid">
                <div class="span6">
                    <ul>
                        <li class="muted not-ready" {% feature_not_ready %}>
                            {% trans "Inbox" %}</li>
                        <li class="muted not-ready" {% feature_not_ready %}>
                            {% trans "Web snaps" %}</li>
                        <li>{% reading_list_with_count 'read_later' _("Read later") %}</li>
                        <li>{% reading_list_with_count 'read' _("All unread") %}</li>
                    </ul>
                </div>
                <div class="span6">
                    <ul>
                        <li>{% reading_list_with_count 'read_fun' _('Funbox') %}</li>
                        <li>{% reading_list_with_count 'read_starred' _('Starred') %}</li>

                        <li class="muted not-ready" {% feature_not_ready %}>
                            {% trans "Sent Articles" %}</li>

                        <li>{% reading_list_with_count 'read_all' _('All articles') %}</li>
                    </ul>
                </div>
            </div>
        </fieldset>

        <fieldset id="watching-lists" class="span6">
            <legend>{% trans "Watching lists" %}</legend>
            <div class="row-fluid">
                <div class="span6">
                    <ul>
                      <li><a href="{% url 'read_facts' %}">{% trans 'Facts' %}</a></li>
                      <li><a href="{% url 'read_numbers' %}">{% trans 'Numbers' %}</a></li>
                      <li><a href="{% url 'read_analysis' %}">{% trans 'Analysis' %}</a></li>
                      <li><a href="{% url 'read_prospective' %}">{% trans 'Prospective' %}</a></li>
                    </ul>
                </div>
                <div class="span6">
                    <ul>
                      <li><a href="{% url 'read_best_practices' %}">{% trans 'Best-Practices' %}</a></li>
                      <li><a href="{% url 'read_rules' %}">{% trans 'Regulations' %}</a></li>
                      <li><a href="{% url 'read_quotes' %}">{% trans 'Quotes' %}</a></li>
                      <li><a href="{% url 'read_knowledge' %}">{% trans 'Knowledge' %}</a></li>
                    </ul>
                </div>
            </div>
        </fieldset>
    </div>

    <div id="folders">
        {% for folder in user.mongo.top_folders %}
            {% include "snippets/selector/folder.html" with folder=folder level=0 %}
        {% endfor %}

            {% comment %}
            <div class="global-links pull-right">
                <span class="unread">{% reading_list_with_count 'read' _('unread') %}</span>

                <span class="hot muted not-ready" {% feature_not_ready %}>{% trans "hot" %}</span>

                <span class="all">{% reading_list_with_count 'read_all' _('all') %}</span>
            </div>
            {% endcomment %}

        {% if nofolder_open_subscriptions %}

            <div class="folder-wrapper clearfix level-{{ level }}">
                <div id="{{ folder.id }}" class="folder has_content">
                    <div class="name-wrapper">
                        <span class="name">
                            {% trans "Unclassified information streams" %} ({{ nofolder_open_subscriptions|length }})
                        </span>
                    </div>
                    <div class="subscriptions">
                        {% for subscription in nofolder_open_subscriptions %}
                            {% include "snippets/selector/subscription.html" with subscription=subscription level=0 %}
                        {% endfor %}
                    </div>
                </div>
            </div>

        {% endif %}

        {% if show_closed_streams and closed_subscriptions %}

            <div class="folder-wrapper clearfix level-{{ level }}">
                <div id="{{ folder.id }}" class="folder has_content">
                    <div class="name-wrapper">
                        <span class="name">
                            {% trans "Closed streams" %} ({{ closed_subscriptions|length }})
                        </span>
                    </div>
                    <div class="subscriptions">
                        {% for subscription in closed_subscriptions %}
                            {% include "snippets/selector/subscription.html" with subscription=subscription level=0 %}
                        {% endfor %}
                    </div>
                </div>
            </div>

        {% endif %}

    </div>

</form>
