{% with unread_count=subscription.unread_articles_count later_count=subscription.bookmarked_articles_count %}
    <div class="subscription {{ unread_count|yesno:'has-unread,' }}">
        <div class="thumbnail">
            <img src="{% firstof subscription.feed.thumbnail_url "http://lorempixel.com/64/64/abstract/" %}" />
        </div>

        <div class="links css-hover-muted">
            {% feed_reading_list_with_count 'read_feed' subscription 'unread' _('unread') %}
            {% feed_reading_list_with_count 'read_later_feed' subscription 'bookmarked' _('to read later') %}
            {% feed_reading_list_with_count 'read_starred_feed' subscription 'starred' _('starred') %}
            {% feed_reading_list_with_count 'read_all_feed' subscription 'all' _('all') %}
        </div>

        <div class="name">
            <span class="pull-right css-hover-muted"><a
                href="{% url 'edit_subscription' subscription=subscription.id %}"
                data-toggle="modal" class="manage"><i class="icon-cog"></i></a></span>

                {% if unread_count %}
                    <a href="{% url 'read_feed' feed=subscription.id %}"
                        data-toggle="tooltip"
                        title="{% blocktrans %}Click to read the {{unread_count}} new article(s){% endblocktrans %}">
                      {{ subscription.name }}{% if titles_show_unread_count %}&nbsp; <small class="unread-count">({{ unread_count }})</small>{% endif %}
                    </a>

                {% else %}
                    <span data-toggle="tooltip"
                        title="{% trans "Nothing new" %}">{{ subscription.name }}</span>

                {% endif %}

        </div>

        {% comment %}

        <div class="last-updated muted">
            {% if subscription.feed.closed %}
                <span title="{% blocktrans with closed_reason=subscription.feed.closed_reason %}This feed is closed, it will not receive any new update. Reason invoqued: {{ closed_reason }}{% endblocktrans %}"
                    data-toggle="tooltip">
    {% blocktrans with date_closed=subscription.feed.date_closed|naturaldelta %}closed {{ date_closed }} ago{% endblocktrans %}</span>

            {% else %}
                {{ subscription.feed.last_fetch|naturaldelta }}
            {% endif %}
        </div>
        {% endcomment %}

    </div>
{% endwith %}
