{% with unread_count=subscription.unread_articles_count all_count=subscription.all_articles_count later_count=subscription.bookmarked_articles_count %}

{# I don't bother pivoting on the thumbnail, it can wait until cache expiry. #}
{% cache 86400 subscription_block_start subscription.id subscription.name subscription.has_unread subscription.is_closed %}

    <div class="{% subscription_css subscription folder level %}">

        <a id="{{ subscription.id }}"></a>

        <div class="thumbnail">
            {% if subscription.has_unread %}
                <a href="{% url 'read_feed' feed=subscription.id %}"
                    data-toggle="tooltip" class="popover-top"
                    title="{% blocktrans with subscription_name=subscription.name %}Click to read new items in {{subscription_name}}{% endblocktrans %}">

            {% else %}
                <a href="{% url 'read_all_feed' feed=subscription.id %}"
                    data-toggle="tooltip" class="popover-top"
                    title="{% blocktrans with subscription_name=subscription.name %}Click to display all items in {{subscription_name}}{% endblocktrans %}">

            {% endif %}

            {% if subscription.feed.thumbnail_url %}
                <img src="{{ subscription.feed.thumbnail_url }}" />

            {% else %}
                <div class="generic-img"
                    style="background-color: {% html_background_color_for_name subscription.name %}; color: {% html_foreground_color_for_name subscription.name %};">{% html_first_letters subscription.name 2 %}</div>
            {% endif %}

            </a>
        </div>

{% endcache %}

        <div class="name">
            <span class="pull-right css-hover-muted">
                {% if subscription.feed.site_url %}
                    <a href="{{ subscription.feed.site_url }}" target="_blank"
                        title="{% trans "Visit the website of this stream" %}"
                        data-toggle="tooltip" class="manage popover-top"><i class="icon-globe"></i></a>
                {% endif %}


                <a href="{% url 'edit_subscription' subscription=subscription.id %}"
                data-toggle="modal" data-target="#" class="manage"><i class="icon-cog popover-top" title="{% trans "Manage the properties of this stream" %}" data-toggle="tooltip"></i></a>
            </span>

            {% if unread_count %}
                <a href="{% url 'read_feed' feed=subscription.id %}"
                    data-toggle="tooltip" class="popover-top"
                    title="{% blocktrans %}Click to read the {{unread_count}} new article(s){% endblocktrans %}">
                  {{ subscription.name }}{% if titles_show_unread_count %}&nbsp; <small class="unread-count">({{ unread_count }})</small>{% endif %}
                </a>

            {% else %}
                <a href="{% url 'read_all_feed' feed=subscription.id %}"
                    data-toggle="tooltip" class="popover-top"
                    title="{% blocktrans %}Click to display all the {{ all_count }} articles of this subscription.{% endblocktrans %}">
                  {{ subscription.name }}
                </a>

            {% endif %}
        </div>

        <div class="links css-hover-muted">
            {% container_reading_list_with_count 'read' 'feed' subscription 'unread' _('unread') %}
            {% container_reading_list_with_count 'read_later' 'feed' subscription 'bookmarked' _('for later') %}
            {% container_reading_list_with_count 'read_starred' 'feed' subscription 'starred' _('starred') %}
            {% container_reading_list_with_count 'read_all' 'feed' subscription 'all' _('all') %}
        </div>
    </div>
{% endwith %}
