{% with unread_count=subscription.unread_articles_count later_count=subscription.bookmarked_articles_count %}
    <div class="subscription {{ unread_count|yesno:'has-unread,' }}">
        <div class="thumbnail">
            {% if user.is_superuser and preferences.staff.super_powers_enabled and preferences.staff.selector_shows_admin_links %}
                {% if subscription.feed.thumbnail_url %}
                    <img src="{{ subscription.feed.thumbnail_url }}" />

                {% else %}
                    <a href="/admin/models/feed/{{ subscription.feed.id }}" target="_blank">
                      <i class="icon-edit icon-2x muted"></i>
                    </a>
                    <a href="https://www.google.com/search?q={{ subscription.feed.name|urlencode }}+logo&tbm=isch"
                        target="_blank">
                      <i class="icon-picture icon-2x muted"></i>
                    </a><br />
                    <a href="https://play.google.com/store/search?q={{ subscription.feed.name }}&c=apps"
                        target="_blank">
                      <i class="icon-android icon-2x muted"></i>
                    </a>

                {% endif %}
            {% else %}
                <img src="{% firstof subscription.feed.thumbnail_url "http://lorempixel.com/64/64/abstract/" %}" />
            {% endif %}
        </div>

        <div class="links css-hover-muted">
            {% feed_reading_list_with_count 'read_feed' subscription 'unread' _('unread') %}
            {% feed_reading_list_with_count 'read_later_feed' subscription 'bookmarked' _('to read later') %}
            {% feed_reading_list_with_count 'read_starred_feed' subscription 'starred' _('starred') %}
            {% feed_reading_list_with_count 'read_all_feed' subscription 'all' _('all') %}
        </div>

        <div class="name">

                {% if unread_count %}
                    <a href="{% url 'read_feed' feed=subscription.id %}"
                        data-toggle="tooltip"
                        title="{% blocktrans %}Click to read the {{unread_count}} new article(s){% endblocktrans %}">
                      {{ subscription.name }}{% if titles_show_unread_count %}&nbsp; <small class="unread-count">({{ unread_count }})</small>{% endif %}
                    </a>

                {% else %}
                    <span data-toggle="tooltip"
                        title="{% trans "Nothing new" %}">{{ subscription.name }}</span>

                {% endif %}

        </div>

        {% comment %}

        <div class="last-updated muted">
            {% if subscription.feed.closed %}
                <span title="{% blocktrans with closed_reason=subscription.feed.closed_reason %}This feed is closed, it will not receive any new update. Reason invoqued: {{ closed_reason }}{% endblocktrans %}"
                    data-toggle="tooltip">
    {% blocktrans with date_closed=subscription.feed.date_closed|naturaldelta %}closed {{ date_closed }} ago{% endblocktrans %}</span>

            {% else %}
                {{ subscription.feed.last_fetch|naturaldelta }}
            {% endif %}
        </div>
        {% endcomment %}

    </div>
{% endwith %}
