
/* --------------------------------------------------------------- Overrides */

body {
    /*
        olive 20130915: replicate Bootstrap's
        docs.css to have something working and beautiful.
    */
    position: relative;

    /* Our navbar is 47px + 1px border-bottom. */
    padding-top: 48px;
}

.navbar {
    .brand {
        /* Avoid ALLCAPS text, this is sooooo ugly on 1flow name. */
        text-transform: none;

        span.active {
            text-shadow: 0 0 10px #fff;
        }
    }

    .avatar-frame {
        /* Cuts the image on the right. padding-right: 5px; */

        img {
            width: 24px;
            height: 24px;

            @include border-radius(30px);
        }
    }

    .nav {

        font-size: 120%;

        /*  For some reason, <i> only in span is not happily
            aligned with 1flow logo and user avatar. */

        .align-icon-phone {
            padding-top: 10px;
        }

        .align-icon-phone-lower {
            padding-top: 11px;
        }

        li a {
            /*  Simplify the visual (no border at all)
                and make the color a little brighter. */

            border-left: 0;
            color: #aaa;
        }

        .dropdown-menu {
            /*  But then, we've got to get back the original
                colors for the dropdown from the source theme. */

            li a {
                color: inherit;

                &:hover {
                    /* And here, 'inherit' doesn't work. Force it. */
                    color: #fff;
                }
            }
        }

        .active {
            color: #fff;
            text-shadow: 0 0 10px #fff;
        }
    }
}

/* ------------------------------------------------------- External overrides */

.ui-pnotify-history-container {
    display: none;
}

/* ------------------------------------------------------------- Home / index */

section {}

#application {
    #header {
        width: 100%;
    }
}

#home-styles-chooser {

    /* Separate chooser from the intro text. */
    padding-top: 30px;

    .home-style {
        text-align: center;
        cursor: pointer;

        /* Cancel the bootstrap "alert" padding-right. */
        padding-right: 14px;
    }

    .home-style-secondary {
        margin-top: 40px;
    }
}

.side-nav.affix {
  top: 60px;
}

header {

    h1 {
        padding-top: 50px;
    }

    h2 {
        padding-bottom: 15px;
    }
}

/* ------------------------------------------------------------------ Profile */

#profile {
    h1 {
        margin-top: 50px;
        min-height: 2em;
        line-height: 0.9em;
        vertical-align: text-bottom;
    }

    .application {

        .avatar-frame {
            margin-top: 50px;
            box-shadow: 1px 1px 5px #999;

            @include border-radius(100px);

            img {
                width: 100px;
                height: 100px;
                @include border-radius(100px);
            }
        }
    }
}

/* ------------------------------------------------------------------ Preferences */

#preferences {
    h1 {
        margin-bottom: -25px;
    }

    fieldset {
        margin-top: 2em;

        legend {
            margin-bottom: 0;
        }
    }

    .form-end-notice {
        margin-top: 4em;

        // Make the end-notice fieldset stick closer to the form actions.
        margin-bottom: -0.5em;

        p {
            margin-bottom: 0;
        }
    }
}



/* --------------------------------------------------------------------- Help */

#arrow-show-help {
    position: fixed;
    right: 340px;
    top: 50px;
}

#arrow-show-chat {
    position: fixed;
    right: 40px;
    top: 35%;
}

#help {

    .help-admin-edit {
        padding-top: 105px;
        margin-bottom: -105px;

        &:first-of-type {
            padding-top: 15px;
            margin-bottom: 0;
        }

        a {
            color: #ccc;
        }
    }

    h1 {
        margin-top: 40px;
    }

    h2 {
        margin-top: 25px;
        margin-bottom: 15px;
    }
    h3, h4, h5, h6 {
        margin-top: 15px;
        margin-bottom: 10px;
    }

}

#help-sections {
    h2 {
        border-bottom: 1px solid #ddd;
        margin-top: 100px;
        margin-bottom: 25px;

        &:first-of-type {
            margin-top: 0;
        }
    }
    h3 {
        margin-top: 25px;
    }
}


/* ------------------------------------------------------------------ Welcome */

#welcome-beta {

    .float-right {
        float: right;
        img {
            padding-left: 20px;
        }
    }

    h1 {
        font-size: 500%;
        padding: 50px 0 20px;
    }

    h2 {
        font-size: 250%;
        padding: 20px 0 50px;
    }

    p {
        font-size: 150%;
        font-weight: 300;
        padding-bottom: 10px;
    }
}

#welcome-beta-page-2 {
    margin-top: 50px;
}


/* ------------------------------------------------------- Endless pagination */

.endless_container {

    text-align: center;
    font-size: 200%;
    padding: 30px 0 50px;

    .endless_more {
        opacity: 0.5;
    }

    .endless_loading {
        opacity: 0.5;
    }
}

#initial-endless-container {
    // We don't display the endless container:
    // we have our own loader, which is wayyyyyy cooler.

    display: none;
}

/* -------------------------------------------------------------------- Other */

/*  fullscreen for bootstrap modal

    Unused as of 20130826, but keeping it because
    it took me long to find how to do it.

#read-item-modal {
    width: 100%;
    left: 0;
    margin-left: 0;
    top: 0;
    margin-top: 0 !important;
    height: 100%;
}
*/

