
/* --------------------------------------------------------------- Overrides */

body {
    /*
        olive 20130915: replicate Bootstrap's
        docs.css to have something working and beautiful.
    */
    position: relative;

    padding-top: 40px;
}

.navbar {
    .brand {
        /* Avoid ALLCAPS text, this is sooooo ugly on 1flow name. */
        text-transform: none;
    }

    .avatar-frame {
        /* Cuts the image on the right. padding-right: 5px; */

        img {
            width: 24px;
            height: 24px;
            -webkit-border-radius: 30px;
            border-radius: 30px;
            -moz-border-radius: 30px;
        }
    }

    .nav {

        font-size: 120%;

        li a {
            border-left: 0;
            color: #aaa;
        }

        .dropdown-menu {
            li a {
                color: inherit;
            }
        }

        .active {
            color: #fff;
            text-shadow: 0 0 10px #fff;
        }
    }
}



/* ------------------------------------------------------------- Home / index */

section {}

#home-styles-chooser {

    /* Separate chooser from the intro text. */
    padding-top: 30px;

    .home-style {
        text-align: center;
        cursor: pointer;

        /* Cancel the bootstrap "alert" padding-right. */
        padding-right: 14px;
    }
    .home-style-secondary {
        margin-top: 40px;
    }
}

.side-nav.affix {
  top: 60px;
}

header {
    h1 {
        padding-top: 50px;
    }
    h2 {
        padding-bottom: 15px;
    }
}

/* ------------------------------------------------------------------ Profile */

#profile {
    h1 {
        padding-bottom: 20px;
        line-height: 0.9em;
    }

    .application {
        h1.user-profile {
            line-height: 100px;
            vertical-align: bottom;
        }

        .avatar-frame {
            box-shadow: 1px 1px 5px #999;
            border-radius: 100px;
            -moz-border-radius: 100px;
            -webkit-border-radius: 100px;

            img {
                width: 100px;
                height: 100px;
                border-radius: 100px;
                -moz-border-radius: 100px;
                -webkit-border-radius: 100px;
            }
        }
    }
}


/* --------------------------------------------------------------------- Help */

#arrow-show-help {
    position: fixed;
    right: 150px;
    top: 50px;
}

#arrow-show-chat {
    position: fixed;
    right: 40px;
    top: 35%;
}

#help {
    h1 {
        margin-top: 50px;
    }
    h2 {
        margin-bottom: 15px;
    }

}

#help-sections {
    h2 {
        border-bottom: 1px solid #ddd;
        margin-top: 100px;
        margin-bottom: 25px;

        &:first-of-type {
            margin-top: 0;
        }
    }
    h3 {
        margin-top: 25px;
    }
}


/* ------------------------------------------------------------------ Welcome */

#welcome-beta {

    .float-right {
        float: right;
        img {
            padding-left: 20px;
        }
    }

    h1 {
        font-size: 500%;
        padding: 50px 0 20px;
    }

    h2 {
        font-size: 250%;
        padding: 20px 0 50px;
    }

    p {
        font-size: 150%;
        font-weight: 300;
        padding-bottom: 10px;
    }
}

/* --------------------------------------------------------------------- Read */

#read {
    .article-number {
        padding: 0 10px;

        h2 small {
            margin-left: 0;
        }
    }
}

.read-list-item {

    /* cancel Bootstrap's media margin. */
    margin-top: 0;

    font-weight: 300;

    .is_unread {
        font-weight: 400;
    }

    .actions {
        position: relative;
        top: 0;
        right: 0;
        z-index: 20;

        font-size: 20px;
        line-height: 100%;

        a {
            margin-left: 10px;
            color: #29313c;
            opacity: 0.5;
            text-decoration: none;

            &:hover, &:active {
                opacity: 1;
            }

            &:visited, &:active {
                border: none;
            }
        }
    }

    .hover-muted {
        opacity: 0;
    }

    .superuser-item {
        position: relative;
        right: 0;
        bottom: 0;
        text-align: right;
        padding-bottom: 20px;
        margin-top: -55px;

        h1 {
            font-size: 800%;
        }

        .muted {
            opacity: 0.05;
        }
    }
}

.read-list-row {

    .article {
        padding: 5px 10px;
        border-bottom: 1px dotted #ddd;

        /*
            START flash_fade():
            bring the body color here
            for the flash_fade() to work.

            Thus, we need to reset the H* colors.
        */

        color: #29323d;

        h1, h2, h3 {
            color: inherit;
        }

        /* END flash_fade() */
    }

    .article-meta {

        .article-title {
            position: relative;
            top: 0;
            left: 0;
            z-index: 10;

            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: top;
            width: auto;
        }

        .meta {
            max-height: 2em;
            overflow: hidden;
            text-overflow: ellipsis;

            .meta {
                margin-left: 1em;

                /* doesn't work
                max-height: 1em;
                overflow: hidden;
                */
            }
        }
    }

    .article-content {
        font-family: georgia, times, serif;
        text-align: justify;

        padding: 1em 0;

        h1, h2, h3 {
            text-align: left;
            line-height: 1.1em;
        }

        h1 {
            padding-bottom: 0.5em;
            border-bottom: 1px dotted #ddd;
            margin-bottom: 1.5em;
        }

        p, ul, ol {
            font-size: 1.75em;
            line-height: 1.25em;
            margin: 1.5em 0;
        }

        ul, ol {
            margin-left: 1.25em;
        }

        .img-legend {
            font-size: 14px;
            text-align: center;
            margin: 0 0.1em;
        }

        ul li, ol li {
            line-height: 1.25em;

            p,
            ul,
            ol,
            ul li p,
            ul li ul,
            ul li ol,
            ul li ul li p,
            ul li ol li p,
            ol li p,
            ol li ul,
            ol li ol,
            ol li ul li p,
            ol li ol li p {
                font-size: 100%;
            }

            p,
            ol li p,
            ol li ul li p,
            ol li ol li p,
            ul li p,
            ul li ul li p,
            ul li ol li p {
                /*
                    We use only the margin from <{u,o}l>* and <li>.
                    Having the <p> one makes the thing too big (ugly)
                    when the MD renderer embeds <p> inside <li>.
                */
                margin: 0;
            }

            ul li,
            ol li,
            ul li ul li,
            ul li ol li,
            ol li ul li,
            ol li ol li {
                line-height: 1.25em;
            }

            ul,
            ol,
            ul li ul,
            ul li ol,
            ol li ul,
            ol li ol {
                line-height: 1.25em;
                margin-top: 0;
                margin-bottom: 0;
            }

        }

        img {
            display: block;
            max-width: 100%;
            margin: 0 auto;
        }
    }

    p {
        /* cancel Bootstrap's media margin. */
        margin-bottom: 0;
    }

    .list-item-number {
        font-size: 500%;
        line-height: 100%;
        vertical-align: center;
        text-align: right;
    }

    .heading {
        font-size: 1.5em;
        max-height: 1.4em;
        line-height: 1.4em;
        cursor: pointer;
    }

    /* NOTE: .no-content must come AFTER .article-content
            for proper CSS overriding. */
    .no-content {
        text-align: left;

        /* Oh my bad… the image has transparent content at the bottom.
            As I didn't find a way to crop it (animated GIFs…), I
            fix this directly in the hero-unit… Which is not a good
            idea if teh image changes. Thus noticed in the template. */
        padding-bottom: 30px;


        p {
            /* reset the font-size from read-item
               which is bigger, for reading. */
            font-size: 120%;
            margin-top: 2em;
        }
    }

    .admin-informations {
        /* don't know why, we've got a blank space after the slideToggle(). */
        margin-bottom: -20px;
    }
}

.read-tile {
    width: 170px;
    padding: 10px;
    /*margin-bottom: 20px;*/

    img {
        min-width: 150px;
        min-height: 150px;
        margin: 0 10px;
    }

    .article-title {
        font-size: 14px;
        cursor: pointer;
    }

    .muted {
       opacity: 0.2;
    }
}

/* ------------------------------------------------------- Endless pagination */

.endless_container {
    /*
        We don't display the endless container,
        it doesn't play well with isotope().
    */

    display: none;

    text-align: center;
    font-size: 200%;
    padding: 30px 0 50px;

    .endless_more {
        opacity: 0.5;
    }

    .endless_loading {
        opacity: 0.25;
    }
}



/* -------------------------------------------------------------------- Other */

/*  fullscreen for bootstrap modal

    Unused as of 20130826, but keeping it because
    it took me long to find how to do it.

#read-item-modal {
    width: 100%;
    left: 0;
    margin-left: 0;
    top: 0;
    margin-top: 0 !important;
    height: 100%;
}
*/

