
/* ------------------------------------------------------------ Article display
                                            in reading-list or individual page.
                                      May be overridden in one or both of them.
                                                                             */

.article-content {
    font-family: georgia, times, serif;
    text-align: justify;

    padding: 0 $article-padding-side 5em;

    a {
        color: inherit;
        text-decoration: none;
        border-bottom: 1px dotted #a2b1c3;

        &:hover, &:active {
            color: #586a7f;
            border-bottom: 1px solid #a2b1c3;
        }

        &:visited {
            color: grey;
            border-bottom: 1px solid grey;
        }
    }

    h1, h2, h3 {
        text-align: left;
        line-height: 1.1em;
    }

    h1 {
        padding-bottom: 0.5em;
        border-bottom: 1px dotted #ddd;
        margin-bottom: 1.5em;
    }

    h2, h3 {
        margin-top: 2em;
        margin-bottom: 1em;
    }

    p, ul, ol {
        font-size: 1.75em;
        line-height: 1.45em;
        margin: 1.5em 0;
    }

    ul, ol {
        margin-left: 1.25em;
    }

    img {
        display: block;
        max-width: 100%;
        margin: 1.5em auto;
        /* @include border-radius(2px); */
        border-radius: 2px;
        box-shadow: 0 0 3px #bbb;
    }

    .img-legend {
        font-size: 14px;
        text-align: center;
        margin: 0 0.1em;
    }

    ul li, ol li {
        line-height: 1.25em;

        p,
        ul,
        ol,
        ul li p,
        ul li ul,
        ul li ol,
        ul li ul li p,
        ul li ol li p,
        ol li p,
        ol li ul,
        ol li ol,
        ol li ul li p,
        ol li ol li p {
            font-size: 100%;
        }

        p,
        ol li p,
        ol li ul li p,
        ol li ol li p,
        ul li p,
        ul li ul li p,
        ul li ol li p {
            /*
                We use only the margin from <{u,o}l>* and <li>.
                Having the <p> one makes the thing too big (ugly)
                when the MD renderer embeds <p> inside <li>.
            */
            margin: 0;
        }

        ul li,
        ol li,
        ul li ul li,
        ul li ol li,
        ol li ul li,
        ol li ol li {
            line-height: 1.25em;
        }

        ul,
        ol,
        ul li ul,
        ul li ol,
        ol li ul,
        ol li ol {
            line-height: 1.25em;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}

// NOTE: These must come AFTER .article-content for proper CSS overriding.
.no-content,
.excerpt-content {
    text-align: left;
    margin-top: 2em;

    h3 {
        // cancel this from .article-content, else there is too much.
        margin-top: 0;
    }

    // Make it take its place, else the whole block
    // gets bigger on hover, which is bad-looking.
    .css-hover-muted {
        height: auto;
    }

    &:hover {
        .css-hover-muted {
            opacity: 1;
        }
    }

    img {
        box-shadow: none;
        margin: 0 auto;
    }
}

.excerpt-content {
    // make more equilibrium between start and end spaces.
    // eat the .article-content margin.
    margin-bottom: -5em;

    .why-no-full-content {
        font-size: 125%;
        margin-top: 0.5em;
    }
}

.no-content {
    // Oh my bad… the image has transparent content at the bottom.
    // As I didn't find a way to crop it (animated GIFs…), I
    // fix this directly in the hero-unit… Which is not a good
    // idea if the image changes. Thus noticed in the template.
    padding-bottom: 30px;

    p {
        // Reset the font-size from read-item which is bigger for reading.
        // We are in a .hero-unit, everything is naturally bigger.
        font-size: 120%;
        margin-top: 2em;
    }
}

.content-toggle {
    cursor: pointer;
}
