/* --------------------------------------------------------------------- Read */

#read {
    #reads-number {
        padding: 0 10px;

        h2 small {
            margin-left: 0;
        }
    }
}

.read-list-item,
.read-individual-item {

    /* cancel Bootstrap's media margin. */
    margin-top: 0;

    font-weight: 300;

    .read-actions {
        display: block;
        position: relative;
        top: 0;
        right: 0;

        /* Keep the icons over the title. */
        z-index: 20;

        .action {
            ul.dropdown-menu {
                margin-left: -78px;
                width: 175px;
                padding: 10px;
                text-align: center;
            }
        }

        i {
            font-size: 24px;
        }

        a {
            display: inline-block;
            padding-top: 10px;
            height: 33px;
            width: 43px;
            text-align: center;
            vertical-align: middle;
            color: #29313c;
            opacity: 0.5;

            /* reset the one from Bootstrap */
            text-decoration: none;

            /* reset the one from .article-content */
            border-bottom: none;

            &:first-child,
            &:nth-child(2) {
                padding-left: 0;
            }

            &:hover, &:active {
                opacity: 1;
            }

            &:visited, &:active {
                border: none;
            }
        }
    }

    .article-meta {
        .watch-actions {
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            position: relative;
            bottom: 0;
            right: 0;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-right: 10px;
            text-align: right;

            background-color: rgb(247, 247, 247);
            @include box-inset-tb-shadow(5px, #949aa1);

            /* inset-box-shadow hacking to make it visually integrated */
            margin-left: -10px;
            margin-right: -10px;
            margin-bottom: -16px;
            margin-top: 10px;
        }
    }

    .end-actions {
        font-size: 14px;
        text-align: center;
        background-color: #ddd;
        padding-top: 15px;
        color: #000;

        /*
            Override the bottom of the main article <li>, to have
            the bottom of article content have only one color.
        */
        padding-bottom: 25px;
        margin-bottom: -15px;

        .action {
            text-align: center;

            a {
                vertical-align: top;

                i {
                    padding-top: 5px;
                }

                span {
                    line-height: 15px;
                }
            }
        }
    }

    .end-meta {
        /*
            Overlap the .article padding for .end-meta to snap to borders.
            NOTE: only valid for big screens. Phones re-overlap this in
            responsive stlyesheets.
        */
        margin-left: -10px;
        margin-right: -10px;

        .end-watch-status {

            /*  A minimum height to avoid the content
                moving when the first icon pops out. */
            height: 20px;

            padding-bottom: 5px;
            border-bottom: 1px solid #ccc;
            margin-bottom: -1px;

            span {
                margin-right: 1em;

                &:last-child,
                &:nth-child(-2) {
                    margin-right: 0;
                }
            }
        }

        .watch-actions {
            text-align: center;
            padding-bottom: 5px;
            background-color: rgb(247, 247, 247);

            border-top: 1px solid #ccc;
            @include box-inset-tb-shadow(5px, #949aa1);

            .action a {
                height: inherit;
                min-width: 130px;

                i {
                    font-size: 16px;
                }
            }
        }
    }

    .end-actions .action,
    .end-meta .watch-actions .action {

        padding-left: 10px;
        padding-right: 10px;

        &:first-child,
        &:nth-child(2) {
            padding-left: 0;
        }

        &:last-child,
        &:nth-child(-2) {
            padding-right: 0;
        }

        a {
            width: inherit;
        }
    }

    .hover-muted {
        opacity: 0;
    }
}

.open_content {
    /*
        Make the content white, like the hover. this avoids
        disgracefull flip/flaps on mouse out while we read.
    */
    background-color: #fff;
}

.read-list-row {
    .article {
        padding: 15px 10px;
        border-bottom: 1px solid #ddd;

        /*
            START flash_fade():
            bring the body color here
            for the flash_fade() to work.

            Thus, we need to reset the H* colors.
        */

        color: #29323d;

        h1, h2, h3 {
            color: inherit;
        }

        /* END flash_fade() */

        &:hover {
            background-color: #fff;
        }

        .article-meta {
            /*
                We need overflow: visible for the dropdown.

                max-height: 3.76em;
                overflow: hidden;
            */

            .article-title {
                position: relative;
                top: 0;
                left: 0;

                /* Keep the title under the icons. */
                z-index: 10;

                max-height: 1.40em;
                overflow: hidden;
                text-overflow: ellipsis;
                vertical-align: top;
                width: auto;
            }

            .meta {

                .status-icons {
                    display: inline;
                    margin-left: 1em;
                    width: 10px;

                    span {
                        i {
                            margin-left: 0.5em;
                        }

                        &:first-child {
                            /*
                                NOTE: no nth-child(2) here, we don't have
                                icons pairs, but only positive feedback icons
                            */

                            margin-left: 0;
                        }
                    }
                }

                .meta {
                    max-height: 1.5em;
                    overflow: hidden;

                    .date {
                        margin-left: 1em;
                    }
                }
            }
        }
    }

    p {
        /* cancel Bootstrap's media margin. */
        margin-bottom: 0;
    }

    .list-item-number {
        font-size: 500%;
        line-height: 100%;
        vertical-align: center;
        text-align: right;
    }

    .heading {
        font-size: 1.5em;
        max-height: 1.4em;
        line-height: 1.4em;
        cursor: pointer;
    }

    .admin-informations {
        /* don't know why, we've got a blank space after the slideToggle(). */
        margin-bottom: -20px;
    }

    &:last-child {
        margin-bottom: 8em;

        .article {
            border-bottom: none;
        }
    }
}

.actions.hide {
    display: none;
}

/* .not_is_bookmarked.not_is_starred */
.read-list-item.not_is_read {
    .article-title {
        /* #a2b1c3 #29323d #29313c #586a7f */
        text-shadow: 0 0 2px #bbb;
        /* @include text-full-outline(#ccc);*/

    }
}

.read-list-item.is_read.not_is_bookmarked.not_is_starred {
    .article-title,
    .article-meta .meta {
        opacity: 0.6;
    }
}

.read-tile {
    width: 170px;
    padding: 10px;
    /*margin-bottom: 20px;*/

    img {
        min-width: 150px;
        min-height: 150px;
        margin: 0 10px;
    }

    .article-title {
        font-size: 14px;
        cursor: pointer;
    }

    .muted {
       opacity: 0.2;
    }
}

.initial-loading .loading {
    margin: 15px 0 25px;
}
