
#read {

    #reads-number {
        //padding: 0 10px;

        h2 small {
            margin-left: 0;
        }
    }
}

.read-list-item,
.read-individual-item {

    /* cancel Bootstrap's media margin. */
    margin-top: 0;

    font-weight: 300;
}

.read-actions {

    i {
        font-size: 24px;
    }

    a {
        display: inline-block;
        padding-top: 24px;
        height: 48px;
        width: 50px;
        text-align: center;
        vertical-align: middle;
        color: #29313c;
        opacity: 0.5;

        /* reset the one from Bootstrap */
        text-decoration: none;

        /* reset the one from .article-content */
        border-bottom: none;

        &:first-child,
        &:nth-child(2) {
            padding-left: 0;
        }

        &:hover, &:active {
            opacity: 1;
        }

        &:visited, &:active {
            border: none;
        }
    }
}

.article-meta-top {
    // handle absolute positioning of children.
    position: relative;

    // be sure we fill the parent li/div
    min-height: 3.5em;

    .meta {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        .article-title {
            font-size: 1.5em;
            max-height: 1.4em;
            line-height: 1.4em;

            /* Keep the title under the icons. */
            z-index: 10;

            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            cursor: pointer;
        }

        .status-icons {
            display: inline;
            margin-left: 1em;
            width: 10px;

            span {
                i {
                    margin-left: 0.5em;
                }

                // NOTE: no nth-child(2) here, we don't have
                // icons pairs, but only positive feedback icons
                &:first-child {
                    margin-left: 0;
                }
            }
        }

        .meta-sub {
            max-height: 1.5em;
            overflow: hidden;

            .date {
                margin-left: 1em;
            }
        }
    }

    .watch-actions {
        position: absolute;
        top: 63px;

        // expand over the li's padding.
        left: -10px;
        right: -10px;
        z-index: 50;

        padding-bottom: 2px;
        text-align: right;

        background-color: rgb(247, 247, 247);
        @include box-inset-tb-shadow(5px, #949aa1);
    }
}

.end-actions {
    font-size: 14px;
    text-align: center;
    background-color: #ddd;
    color: #000;

    padding-top: 7px;
    padding-bottom: 7px;

    // Override the bottom of the main article <li>, to have
    // the bottom of article content have only one color.
    margin-bottom: -15px;

    .action {
        text-align: center;

        a {
            vertical-align: top;

            span {
                line-height: 25px;
                vertical-align: top;
            }
        }
    }
}

.end-meta {
    // expand over the .article padding.
    // NOTE: this is only valid for big screens.
    // Phones re-overlap this in responsive CSSs.
    margin-left: -10px;
    margin-right: -10px;

    .end-watch-status {

        /*  A minimum height to avoid the content
            moving when the first icon pops out. */
        height: 20px;

        border-bottom: 1px solid #ccc;
        margin-bottom: -1px;

        span {
            margin-right: 1em;

            &:last-child,
            &:nth-child(-2) {
                margin-right: 0;
            }
        }
    }

    .watch-actions {
        text-align: center;
        padding-bottom: 30px;
        padding-left: 60px;
        padding-right: 60px;
        text-align: center;
        //text-align-last: center;

        background-color: rgb(247, 247, 247);

        border-top: 1px solid #ccc;
        @include box-inset-tb-shadow(5px, #949aa1);

        .action a {
            height: inherit;
            min-width: 180px;

            i {
                font-size: 16px;
            }
        }
    }
}

.end-actions .action,
.end-meta .watch-actions .action {

    padding-left: 10px;
    padding-right: 10px;

    a {
        width: inherit;
    }
}

.hover-muted {
    opacity: 0;
}

.article-meta-bottom {

    padding-left: 4em;
    padding-right: 4em;

    .article-title {
        /* font-family: Bitter, georgia, times, serif; */
        font-family: georgia, times, serif;

        margin-top: 0.5em;
        margin-bottom: 0.5em;
        padding-bottom: 0.5em;
        border-bottom: 1px dotted #ddd;
    }

    .meta {
        position: inherit;
        font-size: 150%;
        //height: 10em;

        .date,
        .source {
            float: left;
            clear: left;
            margin-bottom: 0.5em;
        }

        .author {
            float: right;
        }

        .tags, .rating {
            display: none;
        }

        .status-icons {
            float: right;

            span {
                margin-left: 10px;
            }
        }
    }
}

.admin-informations {
    /* don't know why, we've got a blank space after the slideToggle(). */
    margin-bottom: -20px;
    padding-left: 4em;
    padding-right: 4em;
}

#jump-to-label {
    a:hover {
        background-color: inherit;
        color: rgb(170, 170, 170);
    }
}
