
#sidebars-wrapper {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: 000;

    //z-index: 0;

    &:hover .reading-sidebar {
        opacity: 1;
    }
}

.reading-sidebar {
    position: fixed;
    top: 70px;
    bottom: 20px;
    overflow: hidden;
    opacity: 0;

    @include single-transition(opacity, 0.25s, ease-out, 0.25s);

    @include thumbnail($size: 64px, $absolute: 0, $bwbase: 0);

    // &:hover {
    //     opacity: 1;
    //     //background-color: #fff;
    // }

    .watch-status {
        min-height: 20px;
        margin-bottom: 20px;

        span {
            font-size: 15px;
            margin-right: 5px;
        }

    }

    h3.source {
        line-height: 1.1em;
    }

    .subscription-meta .management {
        font-size: 200%;
    }

    // only one read-action per line (for displays > 1280x800)
    .read-actions .action {
        width: 100%;
    }

    // but still, all watch icons on one line
    .watch-actions .action {
        width: auto;
    }

    .paddle {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        font-size: 200%;

        td {
            padding: 0;
            margin: 0;
            text-align: center;
        }

        .next {
            text-align: left;
        }
        .previous {
            text-align: right;
        }

        @include fainted-anchors();
    }
}

#article-meta-left {
    left: 20px;
    text-align: right;

    @include clean-anchors();
}

#article-meta-right {
    right: 20px;
}

.read-list-item {
    position: relative;
    padding: 15px 10px;
    border-bottom: 1px solid #ddd;

    /*
        START flash_fade():
        bring the body color here
        for the flash_fade() to work.

        Thus, we need to reset the H* colors.
    */

    color: #29323d;

    h1, h2, h3 {
        color: inherit;
    }

    /* END flash_fade() */

    &:hover {
        background-color: #fff;

        .article-meta .start-actions {
            // http://www.colorzilla.com/gradient-editor/#ffffff+0,ffffff+20&0+0,1+20;Custom
            //@include filter-gradient(#00ffffff, #ffffff, horizontal); // IE6-8
            // IE9 SVG, needs conditional override of 'filter' to 'none'
            @include background-image(linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 15%));
        }
    }

    p {
        /* cancel Bootstrap's media margin. */
        margin-bottom: 0;
    }

    .list-item-number {
        font-size: 500%;
        line-height: 100%;
        vertical-align: center;
        text-align: right;
    }

    &:last-child {
        margin-bottom: 8em;
        border-bottom: none;
    }

    .start-actions {
        position: absolute;
        top: -15px;
        right: -10px;
        text-align: right;

        // Make a little room for the gradient
        // for 5 icons: width: 325px;
        // for 2 icons:
        width: 125px;

        @include background-image(linear-gradient(left, rgba(255,255,255,0) 0%, rgba(247,247,247,1) 15%));

        /* Keep the icons over the title. */
        z-index: 20;
    }

    .article-meta-bottom {
        padding-top: 2em;

        padding-left: $article-padding-side;
        padding-right: $article-padding-side;

        // this one starts hidden and
        // will be shown by .open_content.
        display: none;

        .article-title {
            font-weight: 600;
        }
    }
}

.top-marker {
    // this one starts hidden and
    // will be shown by .open_content.
    display: none;

    position: absolute;
    // -1px to overlap the <li> border.
    top: -1px;
    left: 0;
    right: 0;

    // get over everything in the <li>
    z-index: 30;

    background-color: white;
    min-height: 5px;

    .top-horizontal-rule {
        min-height: 5px;
        background-color: #ddd;

        // This matches the .article-content margin
        // to align with the article's text.
        margin: 0 60px;
    }
}

.top-closer {
    position: absolute;

    // 9px because the .top-marker adds +1 to the side of the whole <li>.
    top: 19px;
    right: 20px;

    font-size: 32px;

    a {
        color: #586a7f;
        text-decoration: none;

        &:visited, &:active {
            color: #ccc;
        }

        &:hover {
            color: black;
        }
    }

    // over the .top-marker.
    z-index: 40;
}

.only_when_open {
    // this one starts hidden and
    // will be shown by .open_content.
    display: none;
}

.open_content {
    // Make the content white, like the hover. this avoids
    // disgracefull flip/flaps on mouse out while we read.
    background-color: #fff;

    // make the previous list item be far when positioning
    // the current open one to the top of the window.
    margin-top: 60px;

    .article-meta .start-actions {
        // http://www.colorzilla.com/gradient-editor/#ffffff+0,ffffff+20&0+0,1+20;Custom
        // @include filter-gradient(#00ffffff, #ffffff, horizontal); // IE6-8
        // IE9 SVG, needs conditional override of 'filter' to 'none'
        @include background-image(linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 15%));
    }

    .only_when_open {
        display: block;
    }

    .only_when_collapsed {
        display: none;
    }
}

// .not_is_bookmarked.not_is_starred
.read-list-item.not_is_read {
    .only_when_collapsed .article-title {
        font-weight: 600;

        // #a2b1c3 #29323d #29313c #586a7f
        //text-shadow: 0 0 2px #bbb;
        // @include text-full-outline(#ccc);
    }
}

.read-list-item.is_read.not_is_bookmarked.not_is_starred {
    .article-title,
    .article-meta .meta {
        opacity: 0.9;
    }
}

#reads-list-header {
    // Align text on the list content (not edge).
    padding-left: 10px;
    padding-right: 10px;

    .h1-wrapper {
        position: relative;
        height: 25px;
        margin-top: 50px;
        margin-bottom: 25px;
    }


    // The big squared background.
    /*
    .h1-background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 25px;
        //@include background-image(linear-gradient(left, $grayLighter 80%, $backgroundLightColor 100%));
        //@include background-image(linear-gradient(left, $grayLighter 50%, $backgroundLightColor 75%));
        background-color: $light-grey;
    }
    */

    // The thin-lined background
    .h1-background {
        position: absolute;
        top: 14px;
        left: 0;
        right: 0;
        height: 2px;
        //@include background-image(linear-gradient(left, $grayLighter 80%, $backgroundLightColor 100%));
        //@include background-image(linear-gradient(left, $grayLighter 50%, $backgroundLightColor 75%));
        //background-color: $light-grey;
        background-color: $red-blood;
    }

    h1 {
        position: absolute;
        top: 0;
        height: 25px;
        line-height: 25px;
        color: $dark-grey;
        background-color: $backgroundLightColor;
    }

    h1.left-side {
        left: 50px;

        padding-left: 15px;
        padding-right: 15px;

        font-size: 150%;
        font-weight: 700;
        color: $navbar-grey;
    }

    h1.right-side {
        right: 50px;

        padding-left: 15px;
        padding-right: 15px;

        font-size: 125%;
    }
}

.initial-loading .loading {
    margin: 15px 0 25px;
}

#no-items {
    margin: 15% 0 0;

    .title {
        margin-bottom: 20px;
    }
}
