

// ————————————————————————————————————————————————————————— tablets @landscape


@media (min-width: 1024px) and (max-width: 1279px) {

    $application-width: 944px;

    @include selector-factory($application-width);

}


// —————————————————————————————————————————————————————————— tablets @portrait


@media (min-width: 768px) and (max-width: 1023px) {

    body {
        /* Navbar is fixed, but bigger. */
        padding-top: 58px;
    }

    .navbar-fixed-top,
    .navbar-fixed-bottom {
        /* Override bootstrap to get our navbar fixed again. */
        position: fixed;
    }

    // ——————————————————————————————————————————————————————— Selector

    $application-width: 728px;

    @include selector-factory($application-width);

    // ——————————————————————————————————————————————————— Reading list

    #read {
        /*  completely reset the .span8.offset2 containers
            for them to take all space in iPad portrait. */
        #reads-number,
        #reads-container {
            width: 100%;
            margin: 0;
        }
    }

    #article-container {
        /* Like the reads, we reset the .span8.offset2 container
            for it to take all space, but we re-add the padding
            for the article not to stick to borders too much. This
            make the spacing equal to the reading-list contents. */
        width: 100%;
        margin: 0;
        padding: 5em 5em 0;

        .article-content {
            padding-top: 0;
        }
    }

    .read-list-row {
        .article {
            .article-meta {
                .meta {
                    .meta {
                        font-size: 140%;
                        line-height: 1.5em;
                    }
                }
            }
        }
    }

    .read-list-item {
        .heading {
            font-size: 1.8em;
            cursor: pointer;
        }

        .actions {
            a {
                padding-top: 17px;
                padding-bottom: 5px;
                /*height: 25px;*/
            }
        }
    }
}


// —————————————————————————————————————————————————————————————— mobile phones


@media(max-width: 767px) {
    $application-width: 748px;
    $default-margin: 10px;
    $columns: 1;

    @include selector-factory($application-width,
                              $selector-margin: $default-margin,
                              $selector-columns: $columns);
}

@media (max-width: 767px) {

    body {
        padding-top: 0;
    }

    .application {
        margin-left: -10px;
        margin-right: -10px;
    }

    #read {
        #reads-number {
            /* cancel the 10px padding of big screens to gain space */
            padding: 0;
        }
    }

    .read-list-item,
    .read-individual-item {

        .end-actions {
            border-top-width: 1px;

            /*
                Override the bottom of the main article <li>, to have
                the bottom of article content have only one color.

                We have -6px (instead of -5px) to overlap the border-bottom
                which doesn't take  all the width. This is better looking if
                it's not here under the pseudo-navbar.
            */
            padding-bottom: 10px;
            margin-bottom: -6px;

            /* Lower the whole thing to be visually correct. */
            padding-top: 10px;

            span {
                /*  We have only icons on small devices.
                    Make them bigger and spaced. */
                margin-left: 20px;

                &:first-child,
                &:nth-child(2) {
                    margin-left: 0;
                }

                a {
                    font-size: 28px;
                }
            }
        }

        .end-meta {
            /*
                Override the desktop overlaping. On mobile devices, the
                overlapping is handled by the .read-content-wrapper, which
                does the job for all the content at once.
            */
            margin-left: 0;
            margin-right: 0;

            .end-watch-status {
                font-size: 18px;
                padding-bottom: 5px;
                border-bottom-width: 1px;
                margin-bottom: -1px;

                span {
                    margin-right: 1em;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            .watch-actions {

                /* Make the shadow a little narrower on small devices. */
                @include box-inset-tb-shadow(3px, #949aa1);

                .action a {
                    /* Override the global 150px. */
                    min-width: 0;
                }
            }
        }

        .end-actions .action,
        .end-meta .watch-actions .action {

            padding-left: 8px;
            padding-right: 8px;

            &:first-child,
            &:nth-child(2) {
                padding-left: 0;
            }

            &:last-child,
            &:nth-child(-2) {
                padding-right: 0;
            }
        }
    }

    .read-list-row {
        .article {
            /* cancel the 10px padding of big screens to gain space */
            padding: 5px 0;

            .read-content-wrapper {
                /*
                    Make the end-actions bar snap to screen edges. This whill
                    ease transforming it into a pseudo-fixed navbar in the future.
                */
                margin-left: -10px;
                margin-right: -10px;
            }

            .article-content {
                /* Compensate the .read-content-wrapper expansion. */
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }

    #article-container {
        margin-top: 0;

        h1 {
            font-size: 250%;
        }

        .article-meta {
            .meta {
                .author {
                    float: left;
                }
            }
        }

        .article-content {
            padding: 0;
        }
    }

    .article-content {
        text-align: left;

        h1 {
            /*  Lower a little the size and
                avoid wasting space on phones. */
            font-size: 250%;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}
