
// —————————————————————————————————— http://sachagreif.com/useful-sass-mixins/

@function black($opacity){
    @return rgba(0, 0, 0, $opacity)
}

@function white($opacity){
    @return rgba(255, 255, 255, $opacity)
}

@mixin black-and-white ($value: 100%) {

    @if $value == none {
        filter: none;
        -webkit-filter: none;
        -moz-filter: none;
        -ms-filter: none;
        -o-filter: none;

    } @else {
        filter: url("/static/img/filters.svg#grayscale");
        filter: gray; /* IE6-9 */
        @include filter(grayscale($value));
    }
}

@mixin multiline-ellipsis($height, $lineheight, $ellipsiswidth) {

    $ellipsiswidth: 3em !default;

    .ellipsis {
        overflow: hidden;
        height: $height;
        line-height: $lineheight; }

    .ellipsis:before {
        content:"";
        float: left;
        width: 5px; height: $height; }

    .ellipsis > *:first-child {
        float: right;
        width: 100%;
        margin-left: -5px; }

    .ellipsis:after {
        content: "\02026";

        float: right; position: relative;
        top: -25px; left: 100%;
        width: $ellipsiswidth; margin-left: -$ellipsiswidth;
        padding-right: 5px;

        text-align: right;
        background: white;
        background: -webkit-gradient(linear, left top, right top,
                from(rgba(255, 255, 255, 0)), to(white), color-stop(50%, white));
        background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
        background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
        background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
        background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white)
    }
}

@mixin text-full-outline ($color: #000) {
    text-shadow: 1px 1px 0 $color,
      -1px 1px 0 $color,
      1px -1px 0 $color,
      -1px -1px 0 $color,
      0px 1px 0 $color,
      0px -1px 0 $color,
      -1px 0px 0 $color,
      1px 0px 0 $color,
      2px 2px 0 $color,
      -2px 2px 0 $color,
      2px -2px 0 $color,
      -2px -2px 0 $color,
      0px 2px 0 $color,
      0px -2px 0 $color,
      -2px 0px 0 $color,
      2px 0px 0 $color,
      1px 2px 0 $color,
      -1px 2px 0 $color,
      1px -2px 0 $color,
      -1px -2px 0 $color,
      2px 1px 0 $color,
      -2px 1px 0 $color,
      2px -1px 0 $color,
      -2px -1px 0 $color;
}

@mixin box-emboss($opacity, $opacity2){
    box-shadow: white($opacity) 0 1px 0, inset black($opacity2) 0 1px 0;
}

@mixin box-tb-shadow ($color: #888) {
    box-shadow: 0px 10px 5px $color, 0px -10px 5px $color;
}

@mixin box-inset-tb-shadow($bitb_width: 5px, $color: #aaa) {
    /* http://forrst.com/posts/Inset_box_shadow_on_top_and_bottom_only-Dfb */

    -moz-box-shadow:    inset 0   $bitb_width  $bitb_width (-$bitb_width) $color,
                        inset 0 (-$bitb_width) $bitb_width (-$bitb_width) $color;
    -webkit-box-shadow: inset 0   $bitb_width  $bitb_width (-$bitb_width) $color,
                        inset 0 (-$bitb_width) $bitb_width (-$bitb_width) $color;
     box-shadow:        inset 0   $bitb_width  $bitb_width (-$bitb_width) $color,
                        inset 0 (-$bitb_width) $bitb_width (-$bitb_width) $color;
}

@mixin box-inset-tb-shadow-top($bitb_width: 5px, $color: #aaa) {
    /* http://forrst.com/posts/Inset_box_shadow_on_top_and_bottom_only-Dfb */

    -moz-box-shadow:    inset 0   $bitb_width  $bitb_width (-$bitb_width) $color;
    -webkit-box-shadow: inset 0   $bitb_width  $bitb_width (-$bitb_width) $color;
     box-shadow:        inset 0   $bitb_width  $bitb_width (-$bitb_width) $color;
}


// ———————————————————————————————————————————————————————— Bootstrap overrides


a.brand {
    text-transform: none;
}

.tab-content {
  // 20131004, Olive. Without this override, we hit
  // https://github.com/twbs/bootstrap/issues/6962
  overflow: inherit;
}

.nav-tabs .secondary-nav {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}


// ————————————————————————————————————————————————————————————————— Our mixins

@mixin fainted-anchors() {

    a {
        padding: 0;
        margin: 0;
        color: #aaa;
        opacity: 0.5;

        &:hover {
            text-decoration: none;
            opacity: 1;
        }
    }
}

@mixin clean-anchors() {

    a {
        padding: 0;
        margin: 0;

        &:hover {
            text-decoration: none;
        }
    }
}


@mixin thumbnail-img-styles($size) {

    a:hover {
        text-decoration: none;
    }

    img, .generic-img {
        max-width: $size;
        max-height: $size;
        @include border-radius(3px);
    }

    .generic-img {
        width: $size;
        height: $size;
        line-height: $size;
        font-size: $size / 5 * 3;
        text-align: center;
        opacity: 0.75;
    }
}

@mixin thumbnail($size: 40px, $opacity: 1, $padding: 0, $absolute: 1, $bwbase: 1) {

    .thumbnail {

        @if $absolute == 1 {
            position: absolute;
            top: $padding;
            left: $padding;

        } @else {
            padding-top: $padding;
            padding-left: $padding;
        }

        border: 0;
        padding: 0;
        margin: 0;
        max-width: $size;
        max-height: $size;

        opacity: $opacity;

        // blurring icon:
        //filter: url("/static/img/filters.svg#blur2px");
        //@include filter(blur(2px));

        @if $bwbase == 1 {
            @include black-and-white(100%);
        }

        @include thumbnail-img-styles($size);

        img, .generic-img {
            max-width: $size;
            max-height: $size;
            margin: 0;
            @include border-radius(3px);
        }

        .generic-img {
            width: $size;
            height: $size;
            line-height: $size;
            font-size: $size / 2.5;
            text-align: center;
            opacity: 0.75;
        }
    }
}

.spinner-wrapper {
    text-align: center;
    vertical-align: middle;
}

ul.social-auth {
    list-style: none;
    margin: 0;
    padding: 50px;
    li {
        margin: 10px 0;
    }
}

#profile {
    ul.social-auth {
        padding: 0 10px;
    }
}

.centered {
    text-align: center;
}

.right {
  text-align: right;
}

.nowrap {
  white-space: nowrap;
}

.pointer {
    cursor: pointer;
}

// .slide-togglable {
//     cursor: pointer;
// }

img.centered {
    margin-left: auto;
    margin-right: auto;
}

.not-ready {
  filter: url("/static/img/filters.svg#blur5px");
  @include filter(blur(5px));
  cursor: help;
}

// To place the page correctly on #links, we use the JS implementation of
// cf. https://github.com/twbs/bootstrap/issues/1768#issuecomment-13306753
// because the pure-CSS one works only on Firefox but not with Chrome.
// It's in our `base.html` template.
//
// a[id] {
//   margin-top: -60px;
//   padding-top: 60px;
//   -webkit-background-clip: content-box;
//   background-clip: content-box;
// }

.css-hover-muted {
    // the opacity has to be changed directly
    // in the parent &:hover definition. Just put:
    //
    // #whatever-you-want, .whatever-you-want {
    //     &:hover {
    //         .css-hover-muted {
    //             opacity: 1;
    //             height: auto;
    //         }
    //     }
    // }

    @include single-transition(opacity, 0.5s, ease-out, 0.3s);
    opacity: 0;
    height: 0;
    overflow: hidden;
}

// ———————————————————— Thanks https://github.com/twitter/bootstrap/issues/4286

.spacer5   { height: 5px;   width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer10  { height: 10px;  width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer15  { height: 15px;  width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer20  { height: 20px;  width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer25  { height: 25px;  width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer30  { height: 30px;  width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer35  { height: 35px;  width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer40  { height: 40px;  width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer45  { height: 45px;  width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer50  { height: 50px;  width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer100 { height: 100px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer200 { height: 200px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }

// ——————————————————————————————————————————————————— Bootstrap submodal
// https://raw.github.com/jakiestfu/Bootstrap-SubModal/master/bootstrap.submodal.css

.sub-modal{
    position: absolute;
    top: 0;
    left: 60%;
    width: 80%;
    border-top: none;

    -webkit-border-top-left-radius: 0;
    -moz-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-top-right-radius: 0;
    border-top-right-radius: 0;

    background: -webkit-linear-gradient(rgba(0,0,0,0.12),rgba(0,0,0,0) 4px);
    background: -moz-linear-gradient(rgba(0,0,0,0.12),rgba(0,0,0,0) 4px);
    background: -ms-linear-gradient(rgba(0,0,0,0.12),rgba(0,0,0,0) 4px);
    background: -o-linear-gradient(rgba(0,0,0,0.12),rgba(0,0,0,0) 4px);
    background: linear-gradient(rgba(0,0,0,0.12),rgba(0,0,0,0) 4px);
    background-color: #fff;
}
.sub-modal .modal-header{
    display: none;
}
.sub-modal-backdrop{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.modal-header{
    border-color: #ccc;
}
@media (max-width:767px){
    .sub-modal{
        left: 10%;
    }
}

// —————————————————————————————— https://github.com/twbs/bootstrap/issues/7501
// Avoid body scrolling while a modal is open. Note: "position:fixed" resets
// the page to the top and produces flickering on modal teardown. Note 2: it
// used to work flawlessly, then no more with bootstrap 2.3. It will work again
// with Bootstrap 3…  Cf. http://stackoverflow.com/a/11013994/654755

body.modal-open {
  position: relative;
  overflow: hidden;
}


// ——————————————————————————————————————————————————— Any Firefox in the room?

// http://sonspring.com/journal/removing-dotted-links
:-moz-any-link:focus {
  outline: none;
}

// TODO: http://stackoverflow.com/questions/1142819/how-to-remove-dotted-border-around-active-hyperlinks-in-ie8-with-css

select {
    height: 2.2em;
}

// ————————————————————————————————————————————————————————  Isotope animations

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.3s;
     -moz-transition-duration: 0.3s;
      -ms-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}
