
$light_orange: rgb(255, 135, 89);
$dark_orange:  rgb(219, 82, 47);

$black:                 #000 !default;
$grayDarker:            #222 !default;
$grayDark:              #333 !default;
$gray:                  #555 !default;
$grayLight:             #999 !default;
$grayLighter:           #eee !default;
$white:                 #fff !default;

$bodyBackground:        $white !default;
$textColor:             rgb(124, 124, 124) !default;

$linkColor:             rgb(50, 50, 50) !default;
$linkColorHover:        $dark_orange !default;
