@mixin black-and-white ($value: 100%) {

    @if $value == none {
        filter: none;
        -webkit-filter: none;
        -moz-filter: none;
        -ms-filter: none;
        -o-filter: none;

    } @else {
        filter: url("/static/img/filters.svg#grayscale");
        filter: gray; /* IE6-9 */
        @include filter(grayscale($value));
    }
}

@mixin multiline-ellipsis($height, $lineheight, $ellipsiswidth) {

$ellipsiswidth: 3em !default;

    .ellipsis {
        overflow: hidden;
        height: $height;
        line-height: $lineheight; }

    .ellipsis:before {
        content:"";
        float: left;
        width: 5px; height: $height; }

    .ellipsis > *:first-child {
        float: right;
        width: 100%;
        margin-left: -5px; }

    .ellipsis:after {
        content: "\02026";

        float: right; position: relative;
        top: -25px; left: 100%;
        width: $ellipsiswidth; margin-left: -$ellipsiswidth;
        padding-right: 5px;

        text-align: right;
        background: white;
        background: -webkit-gradient(linear, left top, right top,
                from(rgba(255, 255, 255, 0)), to(white), color-stop(50%, white));
            background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
            background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
            background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
            background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white)
    }

}

@mixin text-full-outline ($color: #000) {
  text-shadow: 1px 1px 0 $color,
    -1px 1px 0 $color,
    1px -1px 0 $color,
    -1px -1px 0 $color,
    0px 1px 0 $color,
    0px -1px 0 $color,
    -1px 0px 0 $color,
    1px 0px 0 $color,
    2px 2px 0 $color,
    -2px 2px 0 $color,
    2px -2px 0 $color,
    -2px -2px 0 $color,
    0px 2px 0 $color,
    0px -2px 0 $color,
    -2px 0px 0 $color,
    2px 0px 0 $color,
    1px 2px 0 $color,
    -1px 2px 0 $color,
    1px -2px 0 $color,
    -1px -2px 0 $color,
    2px 1px 0 $color,
    -2px 1px 0 $color,
    2px -1px 0 $color,
    -2px -1px 0 $color;
}

/* http://sachagreif.com/useful-sass-mixins/ */

@function black($opacity){
    @return rgba(0, 0, 0, $opacity)
}
@function white($opacity){
    @return rgba(255, 255, 255, $opacity)
}

@mixin box-emboss($opacity, $opacity2){
    box-shadow: white($opacity) 0 1px 0, inset black($opacity2) 0 1px 0;
}

@mixin box-tb-shadow ($color: #888) {
    box-shadow: 0px 10px 5px $color, 0px -10px 5px $color;
}

@mixin box-inset-tb-shadow($bitb_width: 5px, $color: #aaa) {
    /* http://forrst.com/posts/Inset_box_shadow_on_top_and_bottom_only-Dfb */

    -moz-box-shadow:    inset 0   $bitb_width  $bitb_width (-$bitb_width) $color,
                        inset 0 (-$bitb_width) $bitb_width (-$bitb_width) $color;
    -webkit-box-shadow: inset 0   $bitb_width  $bitb_width (-$bitb_width) $color,
                        inset 0 (-$bitb_width) $bitb_width (-$bitb_width) $color;
     box-shadow:        inset 0   $bitb_width  $bitb_width (-$bitb_width) $color,
                        inset 0 (-$bitb_width) $bitb_width (-$bitb_width) $color;
}

a.brand {
    text-transform: none;
}

.spinner-wrapper {
    text-align: center;
    vertical-align: middle;
}

ul.social-auth {
    list-style: none;
    margin: 0;
    padding: 50px;
    li {
        margin: 10px 0;
    }
}

#profile {
    ul.social-auth {
        padding: 0 10px;
    }
}

.centered {
    text-align: center;
}

.right {
  text-align: right;
}

.nowrap {
  white-space: nowrap;
}

.pointer {
    cursor: pointer;
}

.slide-togglable {
    cursor: pointer;
}

img.centered {
    margin-left: auto;
    margin-right: auto;
}

.tab-content {
  // 20131004, Olive. Without this override, we hit
  // https://github.com/twbs/bootstrap/issues/6962
  overflow: inherit;
}

.nav-tabs .secondary-nav {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}

.not-ready {
  filter: url("/static/img/filters.svg#blur4px");
  @include filter(blur(4px));
  opacity: 0.5;
  cursor: help;
}

/* Thanks https://github.com/twitter/bootstrap/issues/4286 */

.spacer5   { height: 5px;   width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer10  { height: 10px;  width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer15  { height: 15px;  width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer20  { height: 20px;  width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer25  { height: 25px;  width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer30  { height: 30px;  width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer35  { height: 35px;  width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer40  { height: 40px;  width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer45  { height: 45px;  width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer50  { height: 50px;  width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer100 { height: 100px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer200 { height: 200px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }


// ——————————————————————————————————————————————————— Any Firefox in the room?

// http://sonspring.com/journal/removing-dotted-links
:-moz-any-link:focus {
  outline: none;
}

// TODO: http://stackoverflow.com/questions/1142819/how-to-remove-dotted-border-around-active-hyperlinks-in-ie8-with-css

select {
    height: 2.2em;
}

/* ------------------------------------------------------- Isotope animations */

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.3s;
     -moz-transition-duration: 0.3s;
      -ms-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}
